<div class="tenants-profile-edit position-relative">
  <div class="back mb-sm-4 d-sm-block d-none">
    <button class="btn btn-back"
            (click)="onBack()">
      <i class="icon-left h4 align-middle mb-0"></i>
      {{ 'COMMON.BACK' | translate }}
    </button>
  </div>
  <div class="avatar">
    <i class="icon-left position-absolute h4 mb-0 d-sm-none"
       (click)="onBack()"></i>
    <img src="/assets/images/profile/tenant.png"
         alt="Avatar">
  </div>
  <div class="card profile-info">
    <div class="card-body">
      <div class="row card-body-top pb-4 pb-sm-0">
        <div class="col-sm-7">
          <div class="row name-info">
            <div class="col-sm-12 col-8 pr-0">
              <h1 class="name font-weight-bolder">Kate Tomlins</h1>
              <p class="info text-muted font-weight-bold"><span class="font-size-lg font-weight-bolder">23</span>, Student @ University of Debrecen</p>
            </div>
            <div class="col-sm-12 col-4 text-sm-left text-right pl-0 pl-sm-3">
              <p class="role text-muted font-weight-bold">{{ 'PROFILE.SINGLE_TENANT' | translate }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <div class="profile-complete w-100">
                <div class="profile-status d-flex justify-content-between font-weight-bold mb-2">
                  <span>{{ 'PROFILE.PROFILE_COMPLETION' | translate }}:</span>
                  <span>9/12</span>
                </div>
                <p><ngb-progressbar [value]="75" height="10px"></ngb-progressbar></p>
              </div>
              <div class="form-group pt-2 position-relative rent">
                <label for="rent" class="h5 font-weight-bolder">{{ 'COMMON.LOOKING_TO_RENT_IN' | translate }}:</label>
                <select name="rent" id="rent" class="custom-select">
                  <option value="">Debrecen, Hungary</option>
                </select>
                <i class="icon-location position-absolute"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-5 button-group text-sm-right py-2">
          <button class="btn btn-outline-primary btn-lg mb-sm-3"
                  (click)="onSettings()">{{ 'COMMON.SETTINGS' | translate }}</button>
          <button class="btn btn-outline-primary btn-lg">{{ 'COMMON.VIEW_AS' | translate }}...</button>
        </div>
      </div>
      <div class="form-group mt-3">
        <label for="about-me" class="h5 font-weight-bolder">{{ 'PROFILE.ABOUT_ME' | translate }}:</label>
        <textarea name="aboutMe"
                  id="about-me"
                  class="form-control"
                  rows="5"
                  maxlength="50"
                  placeholder="{{ 'COMMON.WRITE_ABOUT_YOU' | translate }}:"></textarea>
      </div>
      <div class="form-group">
        <label for="ideal-rent" class="h5 font-weight-bolder">{{ 'PROFILE.MY_IDEAL_PLACE_TO_RENT' | translate }}:</label>
        <textarea name="idealRent"
                  id="ideal-rent"
                  rows="5"
                  class="form-control"></textarea>
      </div>
    </div>
  </div>
  <div class="card mt-sm-4">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6 py-2">
          <table class="table">
            <tbody>
            <tr>
              <td class="border-top-0 align-middle">{{ 'COMMON.BIRTHDATE' | translate }}:</td>
              <td class="text-right border-top-0 pr-0 w-50">
                <div class="form-inline justify-content-between">
                  <select name="day" class="custom-select">
                    <option value="">19</option>
                  </select>
                  <select name="month" class="custom-select">
                    <option value="">3</option>
                  </select>
                  <select name="year" class="custom-select">
                    <option value="">1995</option>
                  </select>
                </div>
              </td>
            </tr>
            <tr>
              <td class="py-0 align-middle">{{ 'COMMON.PLACE_OF_BIRTH' | translate }}:</td>
              <td class="text-right py-0 pr-0">
                <select class="custom-select border-0 w-auto">
                  <option value="">US</option>
                </select>
              </td>
            </tr>
<!--            <tr>-->
<!--              <td class="py-0 align-middle">{{ 'COMMON.GENDER' | translate }}:</td>-->
<!--              <td class="py-0 text-right">-->
<!--                <select name="gender" class="custom-select border-0 w-auto">-->
<!--                  <option value="">{{ 'COMMON.FEMALE' | translate }}</option>-->
<!--                </select>-->
<!--              </td>-->
<!--            </tr>-->
            <tr>
              <td class="py-0 align-middle">{{ 'COMMON.NATIONALITY' | translate }}:</td>
              <td class="py-0 pr-0 text-right">
                <select name="nationality" class="custom-select border-0 w-auto">
                  <option value="">US</option>
                </select>
              </td>
            </tr>
<!--            <tr>-->
<!--              <td class="py-0 align-middle">{{ 'COMMON.OCCUPATION' | translate }}:</td>-->
<!--              <td class="py-0 text-right">-->
<!--                <select name="occupation" class="custom-select border-0 w-auto">-->
<!--                  <option value="">{{ 'COMMON.STUDENT' | translate }}</option>-->
<!--                </select>-->
<!--              </td>-->
<!--            </tr>-->
            <tr>
              <td class="py-0 align-middle">{{ 'COMMON.MONTHLY_INCOME' | translate }}:</td>
              <td class="py-0 pr-0 text-right">
                <select name="monthlyIncome" class="custom-select border-0 w-auto">
                  <option value="">400-500k HUF</option>
                </select>
              </td>
            </tr>
<!--            <tr>-->
<!--              <td class="py-0 align-middle">{{ 'PROFILE.MARITAL_STATUS' | translate }}:</td>-->
<!--              <td class="py-0 text-right">-->
<!--                <select name="maritalStatus" class="custom-select border-0 w-auto">-->
<!--                  <option value="">{{ 'COMMON.SINGLE' | translate }}</option>-->
<!--                </select>-->
<!--              </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td class="py-0 align-middle">{{ 'PROFILE.LOOKING_FOR_COTENANCY' | translate }}:</td>-->
<!--              <td class="py-0 text-right">-->
<!--                <select name="cotenancy" class="custom-select border-0 w-auto">-->
<!--                  <option value="">{{ 'COMMON.NO' | translate }}</option>-->
<!--                </select>-->
<!--              </td>-->
<!--            </tr>-->
            <tr>
              <td class="py-0 align-middle">{{ 'PROFILE.SPOKEN_LANGUAGE' | translate }}:</td>
              <td class="py-0 pr-0 text-right">
                <ng-select [items]="spokenLanguages"
                           [multiple]="true"
                           [closeOnSelect]="false"></ng-select>
              </td>
            </tr>
<!--            <tr>-->
<!--              <td class="py-0 align-middle">{{ 'PROFILE.MOVING_WITH_PETS' | translate }}:</td>-->
<!--              <td class="py-0 text-right">-->
<!--                <select name="pet" class="custom-select border-0 w-auto">-->
<!--                  <option value="yes">{{ 'COMMON.YES' | translate }}</option>-->
<!--                  <option value="no">{{ 'COMMON.NO' | translate }}</option>-->
<!--                </select>-->
<!--              </td>-->
<!--            </tr>-->
            <tr>
              <td class="py-0 align-middle">{{ 'COMMON.CURRENT_CITY' | translate }}:</td>
              <td class="py-0 pr-0 text-right">
                <select name="language" class="custom-select border-0 w-auto">
                  <option value="">Washington</option>
                </select>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-6 py-2">
          <div class="education border-bottom pb-4">
            <h5 class="font-weight-bolder">{{ 'COMMON.EDUCATION' | translate }}:</h5>
            <table class="table table-borderless">
              <tbody>
              <tr>
                <td class="pl-0 pt-0">
                  <input type="text" class="form-control" value="St. Jones Elementary Barstow">
                </td>
                <td class="text-right pt-0 pr-0">
                  <select class="custom-select border-0 w-auto">
                    <option value="">2001-2009</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td class="pl-0 pt-0">
                  <input type="text" class="form-control" value="Conley-Caraballo High School, Hayward">
                </td>
                <td class="text-right pt-0 pr-0">
                  <select class="custom-select border-0 w-auto">
                    <option value="">2009-2013</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td class="pl-0 py-0">
                  <input type="text" class="form-control" value="University of Debrecen - IT Engineering">
                </td>
                <td class="text-right py-0 pr-0">
                  <select class="custom-select border-0 w-auto">
                    <option value="">2016-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                  </select>
                </td>
              </tr>
              </tbody>
            </table>
            <a href="javascript:">+ {{ 'COMMON.ADD_NEW' | translate }}</a>
          </div>
          <div class="work mt-4">
            <h5 class="font-weight-bolder">{{ 'COMMON.WORK' | translate }}:</h5>
            <table class="table table-borderless">
              <tbody>
              <tr>
                <td class="pl-0 py-0">
                  <input type="text" class="form-control" value="Volunteer @ St. Jones Community Learning Center">
                </td>
                <td class="text-right py-0 pr-0">
                  <select class="custom-select border-0 w-auto">
                    <option value="">2013-2016</option>
                  </select>
                </td>
              </tr>
              </tbody>
            </table>
            <a href="javascript:">+ {{ 'COMMON.ADD_NEW' | translate }}</a>
          </div>
          <div class="social mt-4">
            <h5 class="font-weight-bolder">{{ 'PROFILE.MY_SOCIAL_PROFILES' | translate }}:</h5>
            <table class="table table-borderless">
              <tbody>
              <tr>
                <td class="pl-0 pt-0">
                  <img src="/assets/images/social/facebook.png" alt="">
                </td>
                <td class="px-0 pt-0 w-100">
                  <input type="text" class="form-control" placeholder="Facebook username:">
                </td>
              </tr>
              <tr>
                <td class="pl-0 pt-0">
                  <img src="/assets/images/social/twitter.png" alt="">
                </td>
                <td class="px-0 pt-0 w-100">
                  <input type="text" class="form-control" placeholder="Twitter username:">
                </td>
              </tr>
              <tr>
                <td class="pl-0 pt-0">
                  <img src="/assets/images/social/twitch.png" alt="">
                </td>
                <td class="px-0 pt-0 w-100">
                  <input type="text" class="form-control" placeholder="Twitch username:">
                </td>
              </tr>
              <tr>
                <td class="pl-0 pt-0">
                  <img src="/assets/images/social/youtube.png" alt="">
                </td>
                <td class="px-0 pt-0 w-100">
                  <input type="text" class="form-control" placeholder="Youtube username:">
                </td>
              </tr>
              <tr>
                <td class="pl-0 pt-0">
                  <img src="/assets/images/social/instagram.png" alt="">
                </td>
                <td class="px-0 pt-0 w-100">
                  <input type="text" class="form-control" placeholder="Instagram username:">
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
