<form [formGroup]="apartmentDataThirdForm"
      (ngSubmit)="submit()">
  <table class="table mt-4">
    <tbody>
      <tr>
        <td class="border-top-0 py-0 align-middle">{{ 'APARTMENT.EXTERNAL_ISOLATION' | translate }}</td>
        <td class="border-top-0 text-right pr-0">
          <div class="switch">
            <input type="radio"
                   id="externalIsolation-no"
                   [value]="false"
                   formControlName="externalIsolation">
            <label for="externalIsolation-no">{{ 'COMMON.NO' | translate }}</label>
            <input type="radio"
                   id="externalIsolation-na"
                   [value]="null"
                   formControlName="externalIsolation">
            <label for="externalIsolation-na">{{ 'COMMON.NA' | translate }}</label>
            <input type="radio"
                   id="externalIsolation-yes"
                   [value]="true"
                   formControlName="externalIsolation">
            <label for="externalIsolation-yes">{{ 'COMMON.YES' | translate }}</label>
            <span class="slider"></span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.BALCONY' | translate }}</td>
        <td class="text-right pr-0">
          <div class="switch">
            <input type="radio"
                   id="balcony-no"
                   [value]="false"
                   formControlName="balcony"
                   (change)="onChangeBalcony()">
            <label for="balcony-no">{{ 'COMMON.NO' | translate }}</label>
            <input type="radio"
                   id="balcony-na"
                   [value]="null"
                   formControlName="balcony"
                   (change)="onChangeBalcony()">
            <label for="balcony-na">{{ 'COMMON.NA' | translate }}</label>
            <input type="radio"
                   id="balcony-yes"
                   [value]="true"
                   formControlName="balcony"
                   (change)="onChangeBalcony()">
            <label for="balcony-yes">{{ 'COMMON.YES' | translate }}</label>
            <span class="slider"></span>
          </div>
        </td>
      </tr>
      <tr *ngIf="balcony.value">
        <td class="py-0 align-middle">{{ 'APARTMENT.SIZE_OF_THE_BALCONY' | translate }} (m<sup>2</sup>)</td>
        <td class="text-right py-0 pr-0">
          <input type="number"
                 class="form-control border-0 text-right"
                 min="0"
                 inputmode="numeric"
                 pattern="[0-9]*"
                 formControlName="sizeOfBalcony">
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.GARDEN' | translate }}</td>
        <td class="text-right pr-0">
          <div class="switch">
            <input type="radio"
                   id="garden-no"
                   [value]="false"
                   formControlName="garden"
                   (change)="onChangeGarden()">
            <label for="garden-no">{{ 'COMMON.NO' | translate }}</label>
            <input type="radio"
                   id="garden-na"
                   [value]="null"
                   formControlName="garden"
                   (change)="onChangeGarden()">
            <label for="garden-na">{{ 'COMMON.NA' | translate }}</label>
            <input type="radio"
                   id="garden-yes"
                   [value]="true"
                   formControlName="garden"
                   (change)="onChangeGarden()">
            <label for="garden-yes">{{ 'COMMON.YES' | translate }}</label>
            <span class="slider"></span>
          </div>
        </td>
      </tr>
      <tr *ngIf="garden.value">
        <td class="py-0 align-middle">{{ 'APARTMENT.SIZE_OF_THE_GARDEN' | translate }} (m<sup>2</sup>)</td>
        <td class="text-right py-0 pr-0">
          <input type="number"
                 class="form-control border-0 text-right"
                 min="0"
                 max="5000"
                 step="1"
                 inputmode="numeric"
                 pattern="[0-9]*"
                 formControlName="sizeOfGarden">
          <div class="invalid-feedback d-block" *ngIf="sizeOfGarden.invalid && (sizeOfGarden.dirty || sizeOfGarden.touched)">
            <span *ngIf="sizeOfGarden.errors.min"
                  translate [translateParams]="{ min: sizeOfGarden.errors.min.min }">
              ERROR.MIN_FIELD
            </span>
            <span *ngIf="sizeOfGarden.errors.max"
                  translate [translateParams]="{ max: sizeOfGarden.errors.max.max }">
              ERROR.MAX_FIELD
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.TERRACE' | translate }}</td>
        <td class="text-right pr-0">
          <div class="switch">
            <input type="radio"
                   id="terrace-no"
                   [value]="false"
                   formControlName="terrace"
                   (change)="onChangeTerrace()">
            <label for="terrace-no">{{ 'COMMON.NO' | translate }}</label>
            <input type="radio"
                   id="terrace-na"
                   [value]="null"
                   formControlName="terrace"
                   (change)="onChangeTerrace()">
            <label for="terrace-na">{{ 'COMMON.NA' | translate }}</label>
            <input type="radio"
                   id="terrace-yes"
                   [value]="true"
                   formControlName="terrace"
                   (change)="onChangeTerrace()">
            <label for="terrace-yes">{{ 'COMMON.YES' | translate }}</label>
            <span class="slider"></span>
          </div>
        </td>
      </tr>
      <tr *ngIf="terrace.value">
        <td class="py-0 align-middle">{{ 'APARTMENT.SIZE_OF_THE_TERRACE' | translate }} (m<sup>2</sup>)</td>
        <td class="text-right py-0 pr-0">
          <input type="number"
                 class="form-control border-0 text-right"
                 min="1"
                 max="100"
                 step="1"
                 inputmode="numeric"
                 pattern="[0-9]*"
                 formControlName="sizeOfTerrace">
          <div class="invalid-feedback d-block" *ngIf="sizeOfTerrace.invalid && (sizeOfTerrace.dirty || sizeOfTerrace.touched)">
            <span *ngIf="sizeOfTerrace.errors.min"
                  translate [translateParams]="{ min: sizeOfTerrace.errors.min.min }">
              ERROR.MIN_FIELD
            </span>
            <span *ngIf="sizeOfTerrace.errors.max"
                  translate [translateParams]="{ max: sizeOfTerrace.errors.max.max }">
              ERROR.MAX_FIELD
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.RENTAL_FEE' | translate }}</td>
        <td class="text-right py-0 pr-0">
          <input type="number"
                 class="form-control border-0 text-right"
                 min="1000"
                 max="2000000"
                 step="1000"
                 inputmode="numeric"
                 pattern="[0-9]*"
                 formControlName="rentalFee">
          <div class="invalid-feedback d-block" *ngIf="apartmentDataThirdForm.get('rentalFee').invalid && (apartmentDataThirdForm.get('rentalFee').dirty || apartmentDataThirdForm.get('rentalFee').touched)">
            <span *ngIf="apartmentDataThirdForm.get('rentalFee').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
            <span *ngIf="apartmentDataThirdForm.get('rentalFee').errors.min"
                  translate
                  [translateParams]="{ min: apartmentDataThirdForm.get('rentalFee').errors.min.min }">
              ERROR.MIN_FIELD
            </span>
            <span *ngIf="apartmentDataThirdForm.get('rentalFee').errors.max"
                  translate
                  [translateParams]="{ max: apartmentDataThirdForm.get('rentalFee').errors.max.max }">
              ERROR.MAX_FIELD
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'COMMON.OVERHEAD' | translate }}</td>
        <td class="text-right py-0 pr-0">
          <input type="number"
                 class="form-control border-0 text-right"
                 min="1000"
                 max="1000000"
                 step="1000"
                 inputmode="numeric"
                 pattern="[0-9]*"
                 formControlName="overhead">
          <div class="invalid-feedback d-block" *ngIf="apartmentDataThirdForm.get('overhead').invalid && (apartmentDataThirdForm.get('overhead').dirty || apartmentDataThirdForm.get('overhead').touched)">
            <span *ngIf="apartmentDataThirdForm.get('overhead').errors.min"
                  translate
                  [translateParams]="{ min: apartmentDataThirdForm.get('overhead').errors.min.min }">
              ERROR.MIN_FIELD
            </span>
            <span *ngIf="apartmentDataThirdForm.get('overhead').errors.max"
                  translate
                  [translateParams]="{ max: apartmentDataThirdForm.get('overhead').errors.max.max }">
              ERROR.MAX_FIELD
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.DEPOSIT' | translate }}</td>
        <td class="text-right py-0 pr-0">
          <input type="number"
                 class="form-control border-0 text-right"
                 min="1000"
                 max="2000000"
                 step="1000"
                 inputmode="numeric"
                 pattern="[0-9]*"
                 formControlName="deposit">
          <div class="invalid-feedback d-block" *ngIf="apartmentDataThirdForm.get('deposit').invalid && (apartmentDataThirdForm.get('deposit').dirty || apartmentDataThirdForm.get('deposit').touched)">
            <span *ngIf="apartmentDataThirdForm.get('deposit').errors.min"
                  translate
                  [translateParams]="{ min: apartmentDataThirdForm.get('deposit').errors.min.min }">
              ERROR.MIN_FIELD
            </span>
            <span *ngIf="apartmentDataThirdForm.get('deposit').errors.max"
                  translate
                  [translateParams]="{ max: apartmentDataThirdForm.get('deposit').errors.max.max }">
              ERROR.MAX_FIELD
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.MINIMUM_RENTING_TIME' | translate }} ({{ 'COMMON.MONTHS' | translate }})</td>
        <td class="text-right py-0 pr-0">
          <select class="custom-select border-0"
                  formControlName="minimumRentingTime">
            <option [ngValue]="null">{{ 'COMMON.NOT_SELECTED' | translate }}</option>
            <option value="{{ i }}" *ngFor="let month of arrayNumber(121); let i = index">{{ i }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="border-bottom align-middle">{{ 'COMMON.DATE_OF_MOVING_IN' | translate }}</td>
        <td class="border-bottom text-right pr-0 w-50"
            formGroupName="dateOfMovingIn">
          <div>
            <label class="font-size-base font-weight-normal mb-sm-0 mb-1 mr-sm-3 align-middle">{{ 'COMMON.RIGHT_NOW' | translate }}</label>
            <label class="switch-toggle">
              <input type="checkbox"
                     formControlName="rightNow"
                     (change)="onChangeRightNow()">
              <span class="slider round"></span>
            </label>
          </div>
          <div *ngIf="!rightNow.value">
            <input class="form-control text-right mt-2"
                   placeholder="{{ 'COMMON.YMD' | translate }}"
                   ngbDatepicker
                   #d="ngbDatepicker"
                   (click)="d.toggle()"
                   formControlName="date">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</form>
