<form [formGroup]="apartmentDataThirdForm"
      (ngSubmit)="submit()">
  <table class="table mt-4">
    <tbody>
      <tr>
        <td class="border-top-0 py-0 align-middle">{{ 'APARTMENT.EXTERNAL_ISOLATION' | translate }}</td>
        <td class="border-top-0 text-right pr-0">
          <div class="switch">
            <input type="radio"
                   id="externalIsolation-no"
                   [value]="false"
                   formControlName="externalIsolation">
            <label for="externalIsolation-no">{{ 'COMMON.NO' | translate }}</label>
            <input type="radio"
                   id="externalIsolation-na"
                   [value]="null"
                   formControlName="externalIsolation">
            <label for="externalIsolation-na">N/A</label>
            <input type="radio"
                   id="externalIsolation-yes"
                   [value]="true"
                   formControlName="externalIsolation">
            <label for="externalIsolation-yes">{{ 'COMMON.YES' | translate }}</label>
            <span class="slider"></span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.BALCONY' | translate }}?</td>
        <td class="text-right pr-0">
          <div class="switch">
            <input type="radio"
                   id="balcony-no"
                   [value]="false"
                   formControlName="balcony"
                   (change)="onChangeBalcony()">
            <label for="balcony-no">{{ 'COMMON.NO' | translate }}</label>
            <input type="radio"
                   id="balcony-na"
                   [value]="null"
                   formControlName="balcony"
                   (change)="onChangeBalcony()">
            <label for="balcony-na">N/A</label>
            <input type="radio"
                   id="balcony-yes"
                   [value]="true"
                   formControlName="balcony"
                   (change)="onChangeBalcony()">
            <label for="balcony-yes">{{ 'COMMON.YES' | translate }}</label>
            <span class="slider"></span>
          </div>
        </td>
      </tr>
      <tr *ngIf="balcony.value">
        <td class="py-0 align-middle">{{ 'APARTMENT.SIZE_OF_THE_BALCONY' | translate }}</td>
        <td class="text-right py-0 pr-0">
          <input type="number"
                 class="form-control border-0 text-right"
                 min="0"
                 inputmode="numeric"
                 pattern="[0-9]*"
                 formControlName="sizeOfBalcony">
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.GARDEN' | translate }}?</td>
        <td class="text-right pr-0">
          <div class="switch">
            <input type="radio"
                   id="garden-no"
                   [value]="false"
                   formControlName="garden"
                   (change)="onChangeGarden()">
            <label for="garden-no">{{ 'COMMON.NO' | translate }}</label>
            <input type="radio"
                   id="garden-na"
                   [value]="null"
                   formControlName="garden"
                   (change)="onChangeGarden()">
            <label for="garden-na">N/A</label>
            <input type="radio"
                   id="garden-yes"
                   [value]="true"
                   formControlName="garden"
                   (change)="onChangeGarden()">
            <label for="garden-yes">{{ 'COMMON.YES' | translate }}</label>
            <span class="slider"></span>
          </div>
        </td>
      </tr>
      <tr *ngIf="garden.value">
        <td class="py-0 align-middle">{{ 'APARTMENT.SIZE_OF_THE_GARDEN' | translate }}</td>
        <td class="text-right py-0 pr-0">
          <input type="number"
                 class="form-control border-0 text-right"
                 min="0"
                 inputmode="numeric"
                 pattern="[0-9]*"
                 formControlName="sizeOfGarden">
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.TERRACE' | translate }}?</td>
        <td class="text-right pr-0">
          <div class="switch">
            <input type="radio"
                   id="terrace-no"
                   [value]="false"
                   formControlName="terrace"
                   (change)="onChangeTerrace()">
            <label for="terrace-no">{{ 'COMMON.NO' | translate }}</label>
            <input type="radio"
                   id="terrace-na"
                   [value]="null"
                   formControlName="terrace"
                   (change)="onChangeTerrace()">
            <label for="terrace-na">N/A</label>
            <input type="radio"
                   id="terrace-yes"
                   [value]="true"
                   formControlName="terrace"
                   (change)="onChangeTerrace()">
            <label for="terrace-yes">{{ 'COMMON.YES' | translate }}</label>
            <span class="slider"></span>
          </div>
        </td>
      </tr>
      <tr *ngIf="terrace.value">
        <td class="py-0 align-middle">{{ 'APARTMENT.SIZE_OF_THE_TERRACE' | translate }}</td>
        <td class="text-right py-0 pr-0">
          <input type="number"
                 class="form-control border-0 text-right"
                 min="0"
                 inputmode="numeric"
                 pattern="[0-9]*"
                 formControlName="sizeOfTerrace">
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.RENTAL_FEE' | translate }}</td>
        <td class="text-right py-0 pr-0">
          <input type="number"
                 class="form-control border-0 text-right"
                 min="0"
                 max="2000000"
                 step="2000"
                 inputmode="numeric"
                 pattern="[0-9]*"
                 formControlName="rentalFee">
          <div class="invalid-feedback d-block" *ngIf="apartmentDataThirdForm.get('rentalFee').invalid && (apartmentDataThirdForm.get('rentalFee').dirty || apartmentDataThirdForm.get('rentalFee').touched)">
            <span *ngIf="apartmentDataThirdForm.get('rentalFee').errors.min || apartmentDataThirdForm.get('rentalFee').errors.max">
              {{ 'ERROR.BETWEEN_MIN_MAX' | translate }}
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'COMMON.OVERHEAD' | translate }}</td>
        <td class="text-right py-0 pr-0">
          <input type="number"
                 class="form-control border-0 text-right"
                 min="0"
                 max="2000000"
                 step="1000"
                 inputmode="numeric"
                 pattern="[0-9]*"
                 formControlName="overhead">
          <div class="invalid-feedback d-block" *ngIf="apartmentDataThirdForm.get('overhead').invalid && (apartmentDataThirdForm.get('overhead').dirty || apartmentDataThirdForm.get('overhead').touched)">
            <span *ngIf="apartmentDataThirdForm.get('overhead').errors.min || apartmentDataThirdForm.get('overhead').errors.max">
              {{ 'ERROR.BETWEEN_MIN_MAX' | translate }}
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.DEPOSIT' | translate }}</td>
        <td class="text-right py-0 pr-0">
          <input type="number"
                 class="form-control border-0 text-right"
                 min="0"
                 max="2000000"
                 step="2000"
                 inputmode="numeric"
                 pattern="[0-9]*"
                 formControlName="deposit">
          <div class="invalid-feedback d-block" *ngIf="apartmentDataThirdForm.get('deposit').invalid && (apartmentDataThirdForm.get('deposit').dirty || apartmentDataThirdForm.get('deposit').touched)">
            <span *ngIf="apartmentDataThirdForm.get('deposit').errors.min || apartmentDataThirdForm.get('deposit').errors.max">
              {{ 'ERROR.BETWEEN_MIN_MAX' | translate }}
            </span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.MINIMUM_RENTING_TIME' | translate }} ({{ 'COMMON.MONTHS' | translate }})</td>
        <td class="text-right py-0 pr-0">
          <select class="custom-select border-0"
                  formControlName="minimumRentingTime">
            <option value="">-</option>
            <option value="{{ i }}" *ngFor="let month of arrayNumber(121); let i = index">{{ i }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="border-bottom align-middle">{{ 'COMMON.DATE_OF_MOVING_IN' | translate }}</td>
        <td class="border-bottom text-right pr-0 w-50"
            formGroupName="dateOfMovingIn">
          <div>
            <label class="font-size-base font-weight-normal mb-sm-0 mb-1 mr-sm-3 align-middle">{{ 'COMMON.RIGHT_NOW' | translate }}</label>
            <div class="switch">
              <input type="radio"
                     id="rightNow-no"
                     [value]="false"
                     formControlName="rightNow"
                     (change)="onChangeRightNow()">
              <label for="rightNow-no">{{ 'COMMON.NO' | translate }}</label>
              <input type="radio"
                     id="rightNow-na"
                     [value]="null"
                     formControlName="rightNow"
                     (change)="onChangeRightNow()">
              <label for="rightNow-na">N/A</label>
              <input type="radio"
                     id="rightNow-yes"
                     [value]="true"
                     formControlName="rightNow"
                     (change)="onChangeRightNow()">
              <label for="rightNow-yes">{{ 'COMMON.YES' | translate }}</label>
              <span class="slider"></span>
            </div>
          </div>
          <div *ngIf="!rightNow.value">
            <input class="form-control text-right mt-2"
                   placeholder="yyyy-mm-dd"
                   ngbDatepicker
                   #d="ngbDatepicker"
                   (click)="d.toggle()"
                   formControlName="date">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</form>
