@import "~src/assets/styles/scss/variables";

.apartment-data {
  .custom-select {
    border: none;
    color: $blue;
    font-family: NeueEinstellung-Bold;
    text-align-last: right;
  }

  .form-control {
    color: $blue;
    font-family: NeueEinstellung-Bold;
  }
}
