<div class="signup-about">
  <div class="form-group">
    <label for="other">{{ 'COMMON.OTHER_INFORMATION' | translate }}:</label>
    <textarea id="other" class="form-control" rows="6"></textarea>
  </div>
  <div class="form-group">
    <label for="introduction">{{ 'COMMON.FREE_TEXT_INTRODUCTION' | translate }}:</label>
    <textarea id="introduction" class="form-control" rows="6"></textarea>
  </div>
  <div class="form-group">
    <label for="social">{{ 'OFFER.SOCIAL_MEDIA_AVAILABILITIES' | translate }}:</label>
    <input type="url" class="form-control" id="social" pattern="https://.*">
  </div>
<!--  <div class="form-group">-->
<!--    <label for="about">{{ 'COMMON.ABOUT_YOU' | translate }}:</label>-->
<!--    <textarea name="about" id="about" rows="6" class="form-control" placeholder="{{ 'COMMON.WRITE_ABOUT_YOU' | translate }}:"></textarea>-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label for="ideal">{{ 'COMMON.YOUR_IDEAL_PLACE_TO_RENT' | translate }}:</label>-->
<!--    <textarea name="ideal" id="ideal" rows="6" class="form-control" placeholder="{{ 'COMMON.WRITE_YOUR_IDEAL_PLACE_TO_RENT' | translate }}:"></textarea>-->
<!--  </div>-->
</div>
