<div class="signup-about">
  <div class="form-group">
    <label for="about">{{ 'COMMON.ABOUT_YOU' | translate }}:</label>
    <textarea name="about" id="about" rows="6" class="form-control" placeholder="{{ 'COMMON.WRITE_ABOUT_YOU' | translate }}:"></textarea>
  </div>
  <div class="form-group">
    <label for="ideal">{{ 'COMMON.YOUR_IDEAL_PLACE_TO_RENT' | translate }}:</label>
    <textarea name="ideal" id="ideal" rows="6" class="form-control" placeholder="{{ 'COMMON.WRITE_YOUR_IDEAL_PLACE_TO_RENT' | translate }}:"></textarea>
  </div>
</div>
