<div class="signup-education">
  <div class="form-group" *ngIf="!addEducation">
    <label for="education">{{ 'COMMON.HIGHEST_EDUCATION_LEVEL' | translate }}:</label>
    <select name="education" class="form-control" id="education">
      <option value="">{{ 'COMMON.SELECT_HIGHEST_EDUCATION_LEVEL' | translate }}</option>
    </select>
  </div>
  <div class="form-group" *ngIf="addEducation">
    <label for="other-education">{{ 'COMMON.OTHER_EDUCATION_LEVEL' | translate }}:</label>
    <select name="education" class="form-control" id="other-education">
      <option value="">{{ 'COMMON.SELECT_EDUCATION_LEVEL' | translate }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="attend">{{ 'COMMON.WHERE_DID_YOU_ATTEND' | translate }}:</label>
    <input type="text" class="form-control" id="attend" placeholder="{{ 'COMMON.STATE_ATTEND' | translate }}">
  </div>
  <div class="form-group" *ngIf="!addEducation">
    <label for="study-area">{{ 'COMMON.AREA_OF_STUDIES' | translate }}:</label>
    <input type="text" class="form-control" id="study-area" placeholder="{{ 'COMMON.STATE_STUDIES' | translate }}:">
  </div>
  <div class="form-group" *ngIf="addEducation">
    <label for="if-study-area">{{ 'COMMON.AREA_OF_STUDIES' | translate }}:</label>
    <input type="text" class="form-control" id="if-study-area" placeholder="{{ 'COMMON.STATE_STUDIES' | translate }} ({{ 'COMMON.IF_ANY' | translate }}):">
  </div>
  <div class="form-group">
    <label>{{ 'COMMON.WHEN' | translate }}?</label>
    <div class="form-row">
      <div class="form-group col">
        <select name="start-year" class="form-control">
          <option value="">{{ 'COMMON.STARTING_YEAR' | translate }}:</option>
        </select>
      </div>
      <div class="form-group col">
        <select name="finish-year" class="form-control">
          <option value="">{{ 'COMMON.FINISHING_YEAR' | translate }}:</option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-outline-primary"
            (click)="onAddEducation()">{{ 'COMMON.ADD_MORE_EDUCATION' | translate }}</button>
  </div>
</div>
