@import "~src/assets/styles/scss/variables";

.apartment-picture {
  .img-item {
    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    img {
      bottom: 0;
      left: 0;
      right: 0;
      object-fit: cover;
      object-position: center;
    }

    .default {
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, .7);
      color: $white;
      cursor: pointer;
      visibility: hidden;
    }

    &:hover {
      .default {
        visibility: visible;
      }
    }
  }

  .icon-check-circle {
    font-size: 20px;
    top: -10px;
    left: 5px;
  }

  .icon-delete {
    font-size: 20px;
    top: -10px;
    right: 5px;
  }
}
