<div class="apartment-picture">
  <h5>{{ 'COMMON.ADD_APARTMENT_PICTURES' | translate }}</h5>
  <form [formGroup]="apartmentPictureForm"
        (ngSubmit)="submit()">
    <div class="form-group text-center">
      <input type="file"
             #picturesChooser
             style="display: none;"
             accept="image/png, image/jpeg, image/jpg"
             multiple
             (change)="onFilesChange($event)">
      <div class="row mb-5">
        <div class="col-sm-4 col-xs-4 col-6 position-relative my-3"
             *ngFor="let picture of pictures.controls; let i = index">
          <div class="img-item position-relative">
            <img [src]="uploadBase + picture.value"
                 class="position-absolute rounded w-100 h-100"
                 alt="">
            <div class="default d-flex align-items-center justify-content-center position-absolute text-center rounded"
                 *ngIf="picture.value !== apartmentPictureForm.get('setAsPicture').value"
                 (click)="setAsPicture(picture.value)">
              {{ 'COMMON.SET_AS_DEFAULT' | translate }}
            </div>
          </div>
          <i class="icon-check-circle position-absolute text-success"
             *ngIf="picture.value === apartmentPictureForm.get('setAsPicture').value"></i>
          <i class="icon-delete position-absolute text-danger"
             (click)="removeApartmentPicture(i)"></i>
        </div>
      </div>
      <button type="button"
              class="btn btn-primary btn-lg w-75"
              (click)="picturesChooser.click()">{{ 'COMMON.UPLOAD_FROM_GALLERY' | translate }}</button>
    </div>
  </form>
</div>
