<div class="card-sm position-relative d-flex flex-column justify-content-between">
  <div class="apartment-image position-absolute">
    <img [src]="apartment.setAsPicture ? (uploadBase + apartment.setAsPicture) : (apartment.pictures.length !== 0 ? (uploadBase + apartment.pictures[0]) : '/assets/images/empty_image.png')"
         alt=""
         width="120"
         height="120">
    <span class="badge badge-success image-badge position-absolute">{{ apartment.rank }}% {{ 'COMMON.DATA' | translate }}</span>
  </div>
  <div class="explain">
    <h6 class="font-size-lg mb-0">{{ apartment.name }}</h6>
    <p class="mb-0"
       #addressParagraph>
      {{ apartment.address.city }}{{ apartment.address.building || apartment.address.floor || apartment.address.door ? ',' : '' }}
      {{ apartment.address.building }}
      {{ apartment.address.floor }}
      {{ apartment.address.door }}
    </p>
  </div>
  <table class="table mt-3 mb-0">
    <tr class="unit">
      <td class="border-0 pb-0 pr-0">
        <span><span class="mo font-weight-bold font-size-lg">{{ !!apartment.rentalFee ? apartment.rentalFee : '' }}</span>/mo</span>
      </td>
      <td class="border-0 pb-0 pr-0">
        <span class="font-weight-bold font-size-lg">
          <i class="icon-fullscreen align-middle mr-1"></i>
              {{ apartment.size }} m<sup>2</sup>
        </span>
      </td>
      <td class="border-0 pb-0 pr-0">
        <span class="font-weight-bold font-size-lg">
          <i class="icon-bed align-middle mr-1"></i>
              {{ apartment.rooms.length }} {{ 'COMMON.ROOMS' | translate }}
        </span>
      </td>
    </tr>
    <tr *ngIf="apartmentSummary">
      <td class="border-0 pb-0 pr-0">
        <span>{{ dateFormat(apartment.createdAt) }}</span>
      </td>
      <td class="border-0 pb-0 pr-0">
        <span><span class="font-weight-bold font-size-lg">{{ apartment.checked }}</span> {{ 'COMMON.CHECKED' | translate }}</span>
      </td>
      <td class="border-0 pb-0 pr-0">
        <span><span class="font-weight-bold font-size-lg">{{ apartment.offers.length }}</span> {{ 'OFFER.OFFERS' | translate }}</span>
      </td>
    </tr>
  </table>
  <span *ngIf="apartment.rank >= 95"
        class="badge badge-primary card-badge position-absolute">{{ 'COMMON.TOP_RATED' | translate }}</span>
  <ng-content></ng-content>
</div>
