<ul>
  <li>
    <a routerLink="/">Landing page</a>
  </li>
</ul>
<ul>
  <li>
    <a routerLink="/login">Login</a>
  </li>
  <li>
    <a routerLink="/signup">Signup</a>
  </li>
<!--  <li>-->
<!--    <a routerLink="/signup-funnel">Signup Funnel</a>-->
<!--  </li>-->
</ul>
<ul>
  <li>
    <a routerLink="/app/offers">Offers</a>
  </li>
  <li>
    <a routerLink="/app/offers/success">Offer Success</a>
  </li>
  <li>
    <a routerLink="/app/offers/create">Offer Create</a>
  </li>
  <li>
    <a routerLink="/app/offers/create-success">Offer Create Success</a>
  </li>
</ul>
