<ul>
  <li>
    <a routerLink="/">Landing page</a>
  </li>
</ul>
<ul>
  <li>
    <a routerLink="/login">Login</a>
  </li>
  <li>
    <a routerLink="/signup">Signup</a>
  </li>
</ul>
<ul>
  <li>
    <a routerLink="/app/profile/tenant">Profile - Tenant</a>
  </li>
  <li>
    <a routerLink="/app/profile/landlord">Profile - Landlord</a>
  </li>
</ul>
<ul>
  <li>
    <a routerLink="/app/my-profile/tenant">My profile - Tenant</a>
  </li>
  <li>
    <a routerLink="/app/my-profile/landlord">My profile - Landlord</a>
  </li>
</ul>
<ul>
  <li>
    <a routerLink="/app/rentals/apartment-detail">Apartment Detail</a>
  </li>
  <li>
    <a routerLink="/app/rentals/room-detail">Room Detail</a>
  </li>
</ul>
<ul>
  <li>
    <a routerLink="/app/offers">Offers</a>
  </li>
  <li>
    <a routerLink="/app/offers/success">Offer Success</a>
  </li>
</ul>
