<div class="signup-phone-password">
  <div class="form-group">
    <label for="phone">{{ 'COMMON.PHONE_MOBILE_NUMBER' | translate }}</label>
    <international-phone-number [(ngModel)]="phone"
                                #phoneNumber="ngModel"
                                name="phone"
                                id="phone"
                                placeholder=""
                                [required]="true"></international-phone-number>
  </div>
  <div class="form-group">
    <label for="password">{{ 'COMMON.PASSWORD' | translate }}:</label>
    <input type="password"
           name="password"
           class="form-control"
           id="password"
           placeholder="{{ 'COMMON.CHOOSE_SECURE_PASSWORD' | translate }}:"
           [(ngModel)]="password">
    <ng2-password-strength-bar [passwordToCheck]="password"
                               [barLabel]="passwordStrengthBarLabel"
                               [baseColor]="baseColor"></ng2-password-strength-bar>
  </div>
</div>
