<mat-card class="p-0">
  <mat-card-title class="">
    <div class="card-title-text">Tenant Detail</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <form *ngIf="itemForm" [formGroup]="itemForm" (ngSubmit)="submit()">
      <div fxLayout="row wrap" fxLayout.lt-sm="column">

        <div fxFlex="50" class="pr-1">
          <div class="profile-picture mt-1 mb-1 p-1 rounded" fxLayout="column wrap" fxLayoutAlign="center center">
            <input type="file" #profilePictureChooser (change)="onProfilePictureChange($event)"/>
            <div *ngIf="!tenant?.profilePicture && !previewProfilePicture" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
              <mat-icon role="img" aria-hidden="true">photo_camera</mat-icon>
              <span>Upload a picture</span>
            </div>
            <ng-container *ngIf="tenant?.profilePicture || previewProfilePicture">
              <img *ngIf="!previewProfilePicture" [src]="uploadBase + tenant?.profilePicture"/>
              <img *ngIf="previewProfilePicture" [src]="previewProfilePicture"/>
              <div *ngIf="previewProfilePicture && newProfilePicture" class="buttons-wrapper text-center">
                <button mat-raised-button type="button" (click)="uploadProfilePicture($event)" class="mat-primary mr-1" >Upload</button>
                <button mat-raised-button type="button" (click)="cancelProfilePicture($event)">Cancel</button>
              </div>
            </ng-container>
          </div>
        </div>

        <div fxFlex="50" class="pr-1" fxLayout="column wrap" fxLayoutAlign="center center">
          <mat-form-field class="full-width">
            <input
              matInput
              name="firstName"
              formControlName="firstName"
              placeholder="First Name">
          </mat-form-field>

          <mat-form-field class="full-width">
            <input
              matInput
              name="lastName"
              formControlName="lastName"
              placeholder="Last Name">
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              type="email"
              name="email"
              formControlName="email"
              placeholder="Email">
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              name="mobile"
              formControlName="mobile"
              placeholder="Mobile/Phone">
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              name="placeOfBirthCountry"
              formControlName="placeOfBirthCountry"
              placeholder="Country of Birth">
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              name="placeOfBirthCity"
              formControlName="placeOfBirthCity"
              placeholder="City of Birth">
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              name="currentPlaceCountry"
              formControlName="currentPlaceCountry"
              placeholder="Current Country">
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              name="currentPlaceCity"
              formControlName="currentPlaceCity"
              placeholder="Current City">
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              name="nationality"
              formControlName="nationality"
              placeholder="Nationality">
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              name="highestLevelOfQualification"
              formControlName="highestLevelOfQualification"
              placeholder="The highest Level Of Qualification">
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              name="nameOfSchool"
              formControlName="nameOfSchool"
              placeholder="Name Of School">
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              name="yearOfGraduation"
              formControlName="yearOfGraduation"
              placeholder="Year Of Graduation">
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              name="jobTitle"
              formControlName="jobTitle"
              placeholder="Job Title">
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              name="universitySpeciality"
              formControlName="universitySpeciality"
              placeholder="University Speciality">
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              name="currentWorkplace"
              formControlName="currentWorkplace"
              placeholder="Current Workplace">
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <textarea
              matInput
              name="formerWorkplaces"
              formControlName="formerWorkplaces"
              placeholder="Former Workplaces (separate with lines)">
            </textarea>
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              name="monthlyIncome"
              formControlName="monthlyIncome"
              placeholder="Monthly Income">
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <mat-label>Spoken Language</mat-label>
            <mat-select formControlName="spokenLanguages" multiple>
              <mat-option *ngFor="let language of languages" [value]="language">{{language}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="100"  class="pr-1">
          <mat-form-field class="full-width">
            <textarea
              matInput
              name="otherText"
              formControlName="otherText"
              placeholder="Other Text">
            </textarea>
          </mat-form-field>
        </div>

        <div fxFlex="100"  class="pr-1">
          <mat-form-field class="full-width">
            <textarea
              matInput
              name="freeTextIntroduction"
              formControlName="freeTextIntroduction"
              placeholder="Introduction">
            </textarea>
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              name="socialMediaFacebook"
              formControlName="socialMediaFacebook"
              placeholder="Facebook">
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              name="socialMediaLinkedIn"
              formControlName="socialMediaLinkedIn"
              placeholder="LinkedIn">
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              name="socialMediaTwitter"
              formControlName="socialMediaTwitter"
              placeholder="Twitter">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxLayoutAlign="" class="mt-1">
          <button mat-raised-button color="primary" [disabled]="itemForm.invalid" type="submit" (submit)="submit()">SAVE</button>
          <button mat-button color="warn" type="button" (click)="goBack()">Cancel</button>
        </div>
      </div>
    </form>

  </mat-card-content>
</mat-card>

