<div class="offer-success"
     *ngIf="user">
  <div class="logo d-sm-block d-none text-center">
    <a routerLink="/">
      <img src="/assets/images/logo.png" alt="" width="75">
    </a>
  </div>
  <div class="row mt-5">
    <div class="col-sm-6 offset-sm-3">
      <div class="text text-center">
        <i class="icon-check-circle mb-3"></i>
        <h4>{{ 'COMMON.CONGRATULATIONS' | translate }}!<br>{{ 'OFFER.OFFER_SUCCESS' | translate }}</h4>
      </div>
      <div class="card-sm">
        <div class="avatar text-center">
          <img [src]="!!user.tenant.profilePicture ? uploadBase + user.tenant.profilePicture : '/assets/images/profile/blank.png'"
               alt=""
               class="rounded-pill"
               width="80"
               height="80">
        </div>
        <h4 class="text-center">{{ user.firstName }} {{ user.lastName }}</h4>
<!--        <p class="text-center text-muted font-weight-bold"><span class="year font-size-lg">23</span>, Student</p>-->
        <table class="table">
          <tbody>
          <tr>
            <td class="border-top-0">{{ 'COMMON.PHONE' | translate }}:</td>
            <td class="border-top-0 font-weight-bold text-right">{{ user.tenant.mobile }}</td>
          </tr>
          <tr>
            <td>{{ 'COMMON.EMAIL' | translate }}:</td>
            <td class="font-weight-bold text-right">{{ user.email }}</td>
          </tr>
          <!--            <tr>-->
          <!--              <td>{{ 'OFFER.SOCIAL_MEDIA_AVAILABILITIES' | translate }}:</td>-->
          <!--              <td class="font-weight-bold text-right">ig.com/taylorswift</td>-->
          <!--            </tr>-->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
