<div class="apartment-detail"
     [class.toggled]="toggled">
  <div class="back mb-sm-4 d-sm-block d-none">
    <button class="btn btn-back"
            (click)="onBack()">
      <i class="icon-left h4 align-middle mb-0"></i>
      {{ 'COMMON.BACK' | translate }}
    </button>
  </div>
  <div class="card"
       *ngIf="apartment">
    <div class="card-body position-relative">
      <button class="btn btn-primary btn-sm landlord-info position-absolute d-lg-inline-block d-none"
              (click)="toggled = true">{{ 'COMMON.ABOUT_LANDLORD' | translate }}</button>
      <div class="row">
        <div class="col-lg-6">
          <div class="slider">
            <i class="icon-left position-absolute h4 mb-0 d-sm-none"
               (click)="onBack()"></i>
            <ngx-gallery *ngIf="apartment.pictures.length !== 0"
                         [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            <img *ngIf="apartment.pictures.length === 0"
                 src="/assets/images/no_image.png"
                 alt=""
                 style="width: 100%;">
          </div>
          <div class="d-lg-none position-relative">
            <button class="btn btn-primary btn-sm landlord-info position-absolute d-lg-none"
                    (click)="toggled = true">{{ 'COMMON.ABOUT_LANDLORD' | translate }}</button>
            <h3 class="mt-4">{{ apartment.name }}</h3>
            <div class="unit d-flex justify-content-between">
              <span class="mo"><span class="font-weight-bold">{{ apartment.rentalFee }}</span>/mo</span>
              <span class="square font-weight-bold">
            <i class="icon-fullscreen"></i>
                {{ apartment.size }}m<sup>2</sup>
          </span>
              <span class="unit-rooms font-weight-bold">
            <i class="icon-bed"></i>
                {{ apartment.rooms.length }} {{ 'COMMON.ROOMS' | translate }}
          </span>
            </div>
            <p class="mt-3">
              {{ apartment.address.city }}{{ apartment.address.building || apartment.address.floor || apartment.address.door ? ',' : '' }}
              {{ apartment.address.building }}
              {{ apartment.address.floor }}
              {{ apartment.address.door }}
            </p>
            <div class="button-group d-flex justify-content-between mt-4">
              <button class="btn btn-outline-primary btn-lg"
                      *ngIf="!favorite"
                      (click)="onSaveToFavorites()">{{ 'COMMON.SAVE_TO_FAVORITES' | translate }}</button>
              <button class="btn btn-outline-primary btn-lg"
                      *ngIf="favorite"
                      (click)="onRemoveToFavorites()">{{ 'COMMON.REMOVE_TO_FAVORITES' | translate }}</button>
              <button class="btn btn-primary btn-lg"
                      (click)="onSendOffer()">{{ 'COMMON.SEND_OFFER' | translate }}</button>
            </div>
          </div>
          <div class="rooms mt-4">
            <h3>{{ 'COMMON.ROOMS' | translate }}</h3>
            <div class="draw-room row"
                 *ngIf="apartment.draw">
              <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                <img [src]="uploadBase + apartment.draw"
                     width="100%"
                     alt="">
              </div>
            </div>
            <ul class="list-unstyled mt-3 mb-5">
              <li class="font-weight-bold my-1" *ngFor="let room of apartment.rooms; let i = index">
                <a [routerLink]="['room', room._id]">{{ i + 1 }}: {{ room.name }}</a>
              </li>
            </ul>
            <router-outlet></router-outlet>
          </div>
          <div class="d-lg-none">
            <table class="table mt-4">
              <tr>
                <td class="border-top-0">{{ 'APARTMENT.TYPE_OF_BUILDING' | translate }}</td>
                <td class="border-top-0 text-right font-weight-bold">{{ apartment.typeOfBuilding }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.YEAR_OF_CONSTRUCTION' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.yearOfConstruction }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.STATE_OF_APARTMENT' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.stateOfApartment }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.ENERGY_PERFORMANCE_CERTIFICATE' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.energyPerformanceCertificate }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.FLOORS_OF_THE_BUILDING' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.floorsOfBuilding }}</td>
              </tr>
              <tr>
                <td class="border-bottom">{{ 'APARTMENT.FLOOR_OF_THE_APARTMENT' | translate }}</td>
                <td class="border-bottom text-right font-weight-bold">{{ apartment.floorsOfApartment }}</td>
              </tr>
            </table>
            <table class="table mt-5">
              <tr>
                <td class="border-top-0">{{ 'APARTMENT.ELEVATOR' | translate }}?</td>
                <td class="border-top-0 text-right font-weight-bold">{{ apartment.elevator ? ('COMMON.YES' | translate) : (apartment.elevator === false ? ('COMMON.NO' | translate) : ('COMMON.NA' | translate)) }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.ROOFTOP' | translate }}?</td>
                <td class="text-right font-weight-bold">{{ apartment.rooftop ? ('COMMON.YES' | translate) : (apartment.rooftop === false ? ('COMMON.NO' | translate) : ('COMMON.NA' | translate)) }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.BUILDING_SITING' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.buildingSiting }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.TYPE_OF_HEATING' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.typeOfHeating }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.HEADROOM' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.headroom }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.PARKING' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.parking }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.WINDOW_TYPE' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.windowType }}</td>
              </tr>
              <tr>
                <td>{{ 'SEARCH.FURNISHED' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.furnished }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.CHILD_FRIENDLY' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.childFriendly ? ('COMMON.YES' | translate) : (apartment.childFriendly === false ? ('COMMON.NO' | translate) : ('COMMON.NA' | translate)) }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.PET_FRIENDLY' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.petFriendly ? ('COMMON.YES' | translate) : (apartment.petFriendly === false ? ('COMMON.NO' | translate) : ('COMMON.NA' | translate)) }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.EXTERNAL_ISOLATION' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.externalIsolation ? ('COMMON.YES' | translate) : (apartment.externalIsolation === false ? ('COMMON.NO' | translate) : ('COMMON.NA' | translate)) }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.AVAILABLE_MEDIA_SERVICE_PROVIDERS' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.mediaServiceProviders }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.HANDICAP_ACCESSIBLE' | translate }}?</td>
                <td class="text-right font-weight-bold">{{ apartment.handicapAccessible ? ('COMMON.YES' | translate) : (apartment.handicapAccessible === false ? ('COMMON.NO' | translate) : ('COMMON.NA' | translate)) }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.BALCONY' | translate }}?</td>
                <td class="text-right font-weight-bold">{{ apartment.balcony ? ('COMMON.YES' | translate) : (apartment.balcony === false ? ('COMMON.NO' | translate) : ('COMMON.NA' | translate)) }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.SIZE_OF_THE_BALCONY' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.sizeOfBalcony }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.GARDEN' | translate }}?</td>
                <td class="text-right font-weight-bold">{{ apartment.garden ? ('COMMON.YES' | translate) : (apartment.garden === false ? ('COMMON.NO' | translate) : ('COMMON.NA' | translate)) }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.SIZE_OF_THE_GARDEN' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.sizeOfGarden }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.TERRACE' | translate }}?</td>
                <td class="text-right font-weight-bold">{{ apartment.terrace ? ('COMMON.YES' | translate) : (apartment.terrace === false ? ('COMMON.NO' | translate) : ('COMMON.NA' | translate)) }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.SIZE_OF_THE_TERRACE' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.sizeOfTerrace }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.AIRCONDITIONER' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.airConditioner ? ('COMMON.YES' | translate) : (apartment.airConditioner === false ? ('COMMON.NO' | translate) : ('COMMON.NA' | translate)) }}</td>
              </tr>
              <tr>
                <td class="border-bottom">{{ 'APARTMENT.GARAGE' | translate }}</td>
                <td class="border-bottom text-right font-weight-bold">{{ apartment.garage ? ('COMMON.YES' | translate) : (apartment.garage === false ? ('COMMON.NO' | translate) : ('COMMON.NA' | translate)) }}</td>
              </tr>
            </table>
            <table class="table mt-5">
              <tr>
                <td class="border-top-0">{{ 'COMMON.OVERHEAD' | translate }}</td>
                <td class="border-top-0 text-right font-weight-bold">{{ apartment.overhead }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.DEPOSIT' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.deposit }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.MINIMUM_RENTING_TIME' | translate }} ({{ 'COMMON.MONTHS' | translate }})</td>
                <td class="text-right font-weight-bold">{{ apartment.minimumRentingTime }}</td>
              </tr>
              <tr>
                <td class="border-bottom">{{ 'COMMON.DATE_OF_MOVING_IN' | translate }}</td>
                <td class="border-bottom text-right font-weight-bold">
                  {{ apartment.dateOfMovingIn.rightNow ? ('COMMON.RIGHT_NOW' | translate ) : (apartment.dateOfMovingIn.date ? (apartment.dateOfMovingIn.date | dateToString) : '') }}
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="d-none d-lg-block">
            <h2>{{ apartment.name }}</h2>
            <div class="unit d-flex justify-content-between">
              <span class="mo"><span class="font-weight-bold">{{ apartment.rentalFee }}</span>/mo</span>
              <span class="square font-weight-bold">
          <i class="icon-fullscreen"></i>
                {{ apartment.size }}m<sup>2</sup>
        </span>
              <span class="unit-rooms font-weight-bold">
          <i class="icon-bed"></i>
                {{ apartment.rooms.length }} {{ 'COMMON.ROOMS' | translate }}
        </span>
            </div>
            <p class="mt-3">
              {{ apartment.address.city }}{{ apartment.address.building || apartment.address.floor || apartment.address.door ? ',' : '' }}
              {{ apartment.address.building }}
              {{ apartment.address.floor }}
              {{ apartment.address.door }}
            </p>
            <div class="button-group d-flex justify-content-between mt-4">
              <button class="btn btn-outline-primary btn-lg"
                      *ngIf="!favorite"
                      (click)="onSaveToFavorites()">{{ 'COMMON.SAVE_TO_FAVORITES' | translate }}</button>
              <button class="btn btn-outline-primary btn-lg"
                      *ngIf="favorite"
                      (click)="onRemoveToFavorites()">{{ 'COMMON.REMOVE_TO_FAVORITES' | translate }}</button>
              <button class="btn btn-primary btn-lg"
                      (click)="onSendOffer()">{{ 'COMMON.SEND_OFFER' | translate }}</button>
            </div>
            <table class="table mt-4">
              <tr>
                <td class="border-top-0">{{ 'APARTMENT.TYPE_OF_BUILDING' | translate }}</td>
                <td class="border-top-0 text-right font-weight-bold">{{ apartment.typeOfBuilding }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.YEAR_OF_CONSTRUCTION' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.yearOfConstruction }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.STATE_OF_APARTMENT' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.stateOfApartment }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.ENERGY_PERFORMANCE_CERTIFICATE' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.energyPerformanceCertificate }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.FLOORS_OF_THE_BUILDING' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.floorsOfBuilding }}</td>
              </tr>
              <tr>
                <td class="border-bottom">{{ 'APARTMENT.FLOOR_OF_THE_APARTMENT' | translate }}</td>
                <td class="border-bottom text-right font-weight-bold">{{ apartment.floorsOfApartment }}</td>
              </tr>
            </table>
            <table class="table mt-5">
              <tr>
                <td class="border-top-0">{{ 'APARTMENT.ELEVATOR' | translate }}?</td>
                <td class="border-top-0 text-right font-weight-bold">{{ apartment.elevator ? ('COMMON.YES' | translate) : (apartment.elevator === false ? ('COMMON.NO' | translate) : ('COMMON.NA' | translate)) }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.ROOFTOP' | translate }}?</td>
                <td class="text-right font-weight-bold">{{ apartment.rooftop ? ('COMMON.YES' | translate) : (apartment.rooftop === false ? ('COMMON.NO' | translate) : ('COMMON.NA' | translate)) }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.BUILDING_SITING' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.buildingSiting }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.TYPE_OF_HEATING' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.typeOfHeating }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.HEADROOM' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.headroom }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.PARKING' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.parking }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.WINDOW_TYPE' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.windowType }}</td>
              </tr>
              <tr>
                <td>{{ 'SEARCH.FURNISHED' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.furnished ? ('COMMON.YES' | translate) : (apartment.furnished === false ? ('COMMON.NO' | translate) : ('COMMON.NA' | translate)) }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.CHILD_FRIENDLY' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.childFriendly ? ('COMMON.YES' | translate) : (apartment.childFriendly === false ? ('COMMON.NO' | translate) : ('COMMON.NA' | translate)) }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.PET_FRIENDLY' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.petFriendly ? ('COMMON.YES' | translate) : (apartment.petFriendly === false ? ('COMMON.NO' | translate) : ('COMMON.NA' | translate)) }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.EXTERNAL_ISOLATION' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.externalIsolation ? ('COMMON.YES' | translate) : (apartment.externalIsolation === false ? ('COMMON.NO' | translate) : ('COMMON.NA' | translate)) }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.AVAILABLE_MEDIA_SERVICE_PROVIDERS' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.mediaServiceProviders }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.HANDICAP_ACCESSIBLE' | translate }}?</td>
                <td class="text-right font-weight-bold">{{ apartment.handicapAccessible ? ('COMMON.YES' | translate) : (apartment.handicapAccessible === false ? ('COMMON.NO' | translate) : ('COMMON.NA' | translate)) }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.BALCONY' | translate }}?</td>
                <td class="text-right font-weight-bold">{{ apartment.balcony ? ('COMMON.YES' | translate) : (apartment.balcony === false ? ('COMMON.NO' | translate) : ('COMMON.NA' | translate)) }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.SIZE_OF_THE_BALCONY' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.sizeOfBalcony }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.GARDEN' | translate }}?</td>
                <td class="text-right font-weight-bold">{{ apartment.garden ? ('COMMON.YES' | translate) : (apartment.garden === false ? ('COMMON.NO' | translate) : ('COMMON.NA' | translate)) }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.SIZE_OF_THE_GARDEN' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.sizeOfGarden }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.TERRACE' | translate }}?</td>
                <td class="text-right font-weight-bold">{{ apartment.terrace ? ('COMMON.YES' | translate) : (apartment.terrace === false ? ('COMMON.NO' | translate) : ('COMMON.NA' | translate)) }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.SIZE_OF_THE_TERRACE' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.sizeOfTerrace }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.AIRCONDITIONER' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.airConditioner ? ('COMMON.YES' | translate) : (apartment.airConditioner === false ? ('COMMON.NO' | translate) : ('COMMON.NA' | translate)) }}</td>
              </tr>
              <tr>
                <td class="border-bottom">{{ 'APARTMENT.GARAGE' | translate }}</td>
                <td class="border-bottom text-right font-weight-bold">{{ apartment.garage ? ('COMMON.YES' | translate) : (apartment.garage === false ? ('COMMON.NO' | translate) : ('COMMON.NA' | translate)) }}</td>
              </tr>
            </table>
            <table class="table mt-5">
              <tr>
                <td class="border-top-0">{{ 'COMMON.OVERHEAD' | translate }}</td>
                <td class="border-top-0 text-right font-weight-bold">{{ apartment.overhead }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.DEPOSIT' | translate }}</td>
                <td class="text-right font-weight-bold">{{ apartment.deposit }}</td>
              </tr>
              <tr>
                <td>{{ 'APARTMENT.MINIMUM_RENTING_TIME' | translate }} ({{ 'COMMON.MONTHS' | translate }})</td>
                <td class="text-right font-weight-bold">{{ apartment.minimumRentingTime }}</td>
              </tr>
              <tr>
                <td class="border-bottom">{{ 'COMMON.DATE_OF_MOVING_IN' | translate }}</td>
                <td class="border-bottom text-right font-weight-bold">
                  {{ apartment.dateOfMovingIn.rightNow ? ('COMMON.RIGHT_NOW' | translate ) : (apartment.dateOfMovingIn.date ? (apartment.dateOfMovingIn.date | dateToString) : '') }}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="search-bar position-fixed">
    <div class="close-bar justify-content-between align-items-center px-3 py-2 border-bottom d-flex">
      <i class="icon-close"
         (click)="toggled = false"></i>
    </div>
    <div class="search-bar-content px-3 py-3"
         *ngIf="apartment">
      <div class="d-flex align-items-end">
        <img [src]="apartment.landlord.profilePicture ? uploadBase + apartment.landlord.profilePicture : '/assets/images/profile/blank.png'"
             width="80"
             height="80"
             class="rounded-circle profile-picture mr-5"
             alt="">
        <h3>{{ apartment.landlord.user.firstName }} {{ apartment.landlord.user.lastName }}</h3>
      </div>
      <div class="feedback mt-3"
           *ngIf="apartment.landlord.feedback.length !== 0">
        <app-feedback [rate]="rate"
                      [number]="feedbackNumber"></app-feedback>
        <div class="feedback mt-4"
             *ngFor="let feedback of apartment.landlord.feedback">
          <div class="client d-flex justify-content-between">
            <span class="client-name font-weight-bold">{{ feedback.tenant.user.firstName }} {{ feedback.tenant.user.lastName }}</span>
            <div class="rating-date d-flex">
              <ngb-rating [rate]="feedback.feedbackStar"
                          [readonly]="true"
                          max="5"
                          class="item-rating mr-1">
                <ng-template let-fill="fill">
                  <i class="icon-star-fill"
                     *ngIf="fill === 100"></i>
                  <i class="icon-star"
                     *ngIf="fill !== 100"></i>
                </ng-template>
              </ngb-rating>
            </div>
          </div>
          <p class="feedback-content mt-2">
            {{ feedback.feedbackText }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay position-fixed"
       (click)="toggled = false"></div>
</div>
