@import "~src/assets/styles/scss/variables";

.apartment-detail {
  .slider {
    @include media-breakpoint-down(xs) {
      margin-left: -15px;
      margin-right: -15px;
    }

    img {
      width: 100%;
      @include media-breakpoint-up(sm) {
        border-radius: $border-radius-lg;
      }
    }
  }

  .rooms {
    h3 {
      @include media-breakpoint-down(xs) {
        font-size: $h4-font-size;
      }
    }
    .list-unstyled {
      li {
        color: $blue;
      }
    }
  }

  .unit {
    .mo {
      span {
        color: $blue;
      }
    }

    i {
      font-size: 1rem;
      color: $blue;
      vertical-align: middle;
    }
  }

  .button-group {
    .btn {
      width: 48%;
    }
  }
}
