<div class="apartment-detail">
  <div class="row">
    <div class="col-sm-6">
      <div class="slider">
        <img src="/assets/images/apartment/apartment1.png" alt="">
      </div>
      <div class="d-sm-none">
        <h3 class="mt-4">Luxury apartment in the heart of Budapest</h3>
        <div class="unit d-flex justify-content-between">
          <span class="mo"><span class="font-weight-bold">389000</span>/mo</span>
          <span class="square font-weight-bold">
          <i class="icon-fullscreen"></i>
          140m<sup>2</sup>
        </span>
          <span class="unit-rooms font-weight-bold">
          <i class="icon-bed"></i>
          4 {{ 'COMMON.ROOMS' | translate }}
        </span>
        </div>
        <p class="mt-3">Budapest, Andrássy út 72, 3/32.</p>
        <div class="data-complete w-100">
          <div class="data-status d-flex justify-content-between font-weight-bold mb-2">
            <span>{{ 'APARTMENT.DATA_COMPLETION' | translate }}:</span>
            <span>97/132</span>
          </div>
          <p><ngb-progressbar [value]="73" height="10px"></ngb-progressbar></p>
        </div>
        <div class="button-group d-flex justify-content-between mt-4">
          <button class="btn btn-outline-primary btn-lg">{{ 'COMMON.SAVE_TO_FAVORITES' | translate }}</button>
          <button class="btn btn-primary btn-lg"
                  (click)="onSendOffer()">{{ 'COMMON.SEND_OFFER' | translate }}</button>
        </div>
      </div>
      <div class="rooms mt-4">
        <h3>{{ 'COMMON.ROOMS' | translate }}</h3>
        <p>A megtekintéshez kattintson a szoba nevére  vagy az alaprajzban elfoglalt helyére!</p>
        <div class="draw-room">
          <img src="/assets/images/floor_plan.png" alt="">
        </div>
        <ul class="list-unstyled mt-3">
          <li class="font-weight-bold"><a routerLink="/app/rentals/room-detail">1: Living room</a></li>
          <li class="font-weight-bold mt-2"><a routerLink="/app/rentals/room-detail">2: Bathroom</a></li>
          <li class="font-weight-bold mt-2"><a routerLink="/app/rentals/room-detail">3: Bedroom</a></li>
        </ul>
      </div>
      <div class="d-sm-none">
        <p class="mt-4">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
        <table class="table mt-4">
          <tbody>
          <tr>
            <td class="border-top-0">{{ 'APARTMENT.TYPE_OF_BUILDING' | translate }}</td>
            <td class="border-top-0 font-weight-bold text-right">{{ 'APARTMENT.APARTMENT' | translate }}</td>
          </tr>
          <tr>
            <td>Épület építési éve</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.BRICK' | translate }}</td>
          </tr>
          <tr>
            <td>Ingatlan állapota</td>
            <td class="font-weight-bold text-right">2011</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.ENERGY_PERFORMANCE_CERTIFICATE' | translate }}</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.APARTMENT' | translate }}</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.FLOORS_OF_THE_BUILDING' | translate }}</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.BRICK' | translate }}</td>
          </tr>
          <tr>
            <td>Lakás emelete</td>
            <td class="font-weight-bold text-right">2011</td>
          </tr>
          <tr>
            <td class="border-bottom">Lakás négyeztméter</td>
            <td class="border-bottom font-weight-bold text-right">{{ 'APARTMENT.APARTMENT' | translate }}</td>
          </tr>
          </tbody>
        </table>
        <table class="table mt-5">
          <tbody>
          <tr>
            <td class="border-top-0">Lift van-e?</td>
            <td class="border-top-0 font-weight-bold text-right">{{ 'APARTMENT.BRICK' | translate }}</td>
          </tr>
          <tr>
            <td>Tetőtér / csapott falak?</td>
            <td class="font-weight-bold text-right">2011</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.BUILDING_SITING' | translate }}</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.APARTMENT' | translate }}</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.TYPE_OF_HEATING' | translate }}</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.BRICK' | translate }}</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.HEADROOM' | translate }}</td>
            <td class="font-weight-bold text-right">2011</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.PARKING' | translate }}</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.APARTMENT' | translate }}</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.CHILD_FRIENDLY' | translate }}</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.BRICK' | translate }}</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.PET_FRIENDLY' | translate }}</td>
            <td class="font-weight-bold text-right">2011</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.EXTERNAL_ISOLATION' | translate }}</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.APARTMENT' | translate }}</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.AVAILABLE_MEDIA_SERVICE_PROVIDERS' | translate }}</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.BRICK' | translate }}</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.HANDICAP_ACCESSIBLE' | translate }}</td>
            <td class="font-weight-bold text-right">2011</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.BALCONY' | translate }} / {{ 'APARTMENT.GARDEN' | translate }} / {{ 'APARTMENT.TERRACE' | translate }}</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.APARTMENT' | translate }}</td>
          </tr>
          <tr>
            <td>Erkély nagysága</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.BRICK' | translate }}</td>
          </tr>
          <tr>
            <td>Kert nagysága</td>
            <td class="font-weight-bold text-right">2011</td>
          </tr>
          <tr>
            <td>Terasz nagysága</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.APARTMENT' | translate }}</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.AIRCONDITIONER' | translate }}</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.BRICK' | translate }}</td>
          </tr>
          <tr>
            <td class="border-bottom">{{ 'APARTMENT.GARAGE' | translate }}</td>
            <td class="border-bottom font-weight-bold text-right">2011</td>
          </tr>
          </tbody>
        </table>
        <table class="table mt-5">
          <tbody>
          <tr>
            <td class="border-top-0">{{ 'APARTMENT.RENTAL_FEE' | translate }}</td>
            <td class="border-top-0 font-weight-bold text-right">{{ 'APARTMENT.APARTMENT' | translate }}</td>
          </tr>
          <tr>
            <td>Rezsidíj</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.BRICK' | translate }}</td>
          </tr>
          <tr>
            <td>Kaució</td>
            <td class="font-weight-bold text-right">2011</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.MINIMUM_RENTING_TIME' | translate }}</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.BRICK' | translate }}</td>
          </tr>
          <tr>
            <td class="border-bottom">Mikortól költözhető</td>
            <td class="border-bottom font-weight-bold text-right">2011</td>
          </tr>
          </tbody>
        </table>
      </div>
      <app-feedback></app-feedback>
      <table class="table mt-4">
        <tbody>
        <tr>
          <td class="border-top-0">{{ 'APARTMENT.TYPE_OF_BUILDING' | translate }}</td>
          <td class="border-top-0 font-weight-bold text-right">{{ 'APARTMENT.APARTMENT' | translate }}</td>
        </tr>
        <tr>
          <td>Épület építési éve</td>
          <td class="font-weight-bold text-right">{{ 'APARTMENT.BRICK' | translate }}</td>
        </tr>
        <tr>
          <td>Ingatlan állapota</td>
          <td class="font-weight-bold text-right">2011</td>
        </tr>
        <tr>
          <td>{{ 'APARTMENT.ENERGY_PERFORMANCE_CERTIFICATE' | translate }}</td>
          <td class="font-weight-bold text-right">{{ 'APARTMENT.APARTMENT' | translate }}</td>
        </tr>
        <tr>
          <td>{{ 'APARTMENT.FLOORS_OF_THE_BUILDING' | translate }}</td>
          <td class="font-weight-bold text-right">{{ 'APARTMENT.BRICK' | translate }}</td>
        </tr>
        <tr>
          <td>Lakás emelete</td>
          <td class="font-weight-bold text-right">2011</td>
        </tr>
        <tr>
          <td class="border-bottom">Lakás négyeztméter</td>
          <td class="border-bottom font-weight-bold text-right">{{ 'APARTMENT.APARTMENT' | translate }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <div class="d-none d-sm-block">
        <h2>Luxury apartment in the heart of Budapest</h2>
        <div class="unit d-flex justify-content-between">
          <span class="mo"><span class="font-weight-bold">389000</span>/mo</span>
          <span class="square font-weight-bold">
          <i class="icon-fullscreen"></i>
          140m<sup>2</sup>
        </span>
          <span class="unit-rooms font-weight-bold">
          <i class="icon-bed"></i>
          4 {{ 'COMMON.ROOMS' | translate }}
        </span>
        </div>
        <p class="mt-3">Budapest, Andrássy út 72, 3/32.</p>
        <div class="data-complete w-100">
          <div class="data-status d-flex justify-content-between font-weight-bold mb-2">
            <span>{{ 'APARTMENT.DATA_COMPLETION' | translate }}:</span>
            <span>97/132</span>
          </div>
          <p><ngb-progressbar [value]="73" height="10px"></ngb-progressbar></p>
        </div>
        <div class="button-group d-flex justify-content-between mt-4">
          <button class="btn btn-outline-primary btn-lg">{{ 'COMMON.SAVE_TO_FAVORITES' | translate }}</button>
          <button class="btn btn-primary btn-lg"
                  (click)="onSendOffer()">{{ 'COMMON.SEND_OFFER' | translate }}</button>
        </div>
        <p class="mt-4">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
        <table class="table mt-4">
          <tbody>
          <tr>
            <td class="border-top-0">{{ 'APARTMENT.TYPE_OF_BUILDING' | translate }}</td>
            <td class="border-top-0 font-weight-bold text-right">{{ 'APARTMENT.APARTMENT' | translate }}</td>
          </tr>
          <tr>
            <td>Épület építési éve</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.BRICK' | translate }}</td>
          </tr>
          <tr>
            <td>Ingatlan állapota</td>
            <td class="font-weight-bold text-right">2011</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.ENERGY_PERFORMANCE_CERTIFICATE' | translate }}</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.APARTMENT' | translate }}</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.FLOORS_OF_THE_BUILDING' | translate }}</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.BRICK' | translate }}</td>
          </tr>
          <tr>
            <td>Lakás emelete</td>
            <td class="font-weight-bold text-right">2011</td>
          </tr>
          <tr>
            <td class="border-bottom">Lakás négyeztméter</td>
            <td class="border-bottom font-weight-bold text-right">{{ 'APARTMENT.APARTMENT' | translate }}</td>
          </tr>
          </tbody>
        </table>
        <table class="table mt-5">
          <tbody>
          <tr>
            <td class="border-top-0">Lift van-e?</td>
            <td class="border-top-0 font-weight-bold text-right">{{ 'APARTMENT.BRICK' | translate }}</td>
          </tr>
          <tr>
            <td>Tetőtér / csapott falak?</td>
            <td class="font-weight-bold text-right">2011</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.BUILDING_SITING' | translate }}</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.APARTMENT' | translate }}</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.TYPE_OF_HEATING' | translate }}</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.BRICK' | translate }}</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.HEADROOM' | translate }}</td>
            <td class="font-weight-bold text-right">2011</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.PARKING' | translate }}</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.APARTMENT' | translate }}</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.CHILD_FRIENDLY' | translate }}</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.BRICK' | translate }}</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.PET_FRIENDLY' | translate }}</td>
            <td class="font-weight-bold text-right">2011</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.EXTERNAL_ISOLATION' | translate }}</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.APARTMENT' | translate }}</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.AVAILABLE_MEDIA_SERVICE_PROVIDERS' | translate }}</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.BRICK' | translate }}</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.HANDICAP_ACCESSIBLE' | translate }}</td>
            <td class="font-weight-bold text-right">2011</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.BALCONY' | translate }} / {{ 'APARTMENT.GARDEN' | translate }} / {{ 'APARTMENT.TERRACE' | translate }}</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.APARTMENT' | translate }}</td>
          </tr>
          <tr>
            <td>Erkély nagysága</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.BRICK' | translate }}</td>
          </tr>
          <tr>
            <td>Kert nagysága</td>
            <td class="font-weight-bold text-right">2011</td>
          </tr>
          <tr>
            <td>Terasz nagysága</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.APARTMENT' | translate }}</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.AIRCONDITIONER' | translate }}</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.BRICK' | translate }}</td>
          </tr>
          <tr>
            <td class="border-bottom">{{ 'APARTMENT.GARAGE' | translate }}</td>
            <td class="border-bottom font-weight-bold text-right">2011</td>
          </tr>
          </tbody>
        </table>
        <table class="table mt-5">
          <tbody>
          <tr>
            <td class="border-top-0">{{ 'APARTMENT.RENTAL_FEE' | translate }}</td>
            <td class="border-top-0 font-weight-bold text-right">{{ 'APARTMENT.APARTMENT' | translate }}</td>
          </tr>
          <tr>
            <td>Rezsidíj</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.BRICK' | translate }}</td>
          </tr>
          <tr>
            <td>Kaució</td>
            <td class="font-weight-bold text-right">2011</td>
          </tr>
          <tr>
            <td>{{ 'APARTMENT.MINIMUM_RENTING_TIME' | translate }}</td>
            <td class="font-weight-bold text-right">{{ 'APARTMENT.BRICK' | translate }}</td>
          </tr>
          <tr>
            <td class="border-bottom">Mikortól költözhető</td>
            <td class="border-bottom font-weight-bold text-right">2011</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
