<div class="search-apartment"
     [class.toggled]="toggled">
  <div class="d-flex justify-content-between align-items-center mb-4 mt-sm-0 mt-3">
    <h4>{{ 'COMMON.AVAILABLE_FOR_RENT_NEAR_YOU' | translate }}</h4>
    <button class="btn btn-search d-flex justify-content-between align-items-center text-left font-weight-bold"
            (click)="toggled = true">
      <span class="d-sm-inline d-none">találatok<br>szűrése</span>
      <i class="icon-ellipsis"></i>
    </button>
  </div>
  <div class="row">
    <app-apartment-item class="col-sm-6 py-3"
                        [imgUrl]="'/assets/images/apartment/apartment1.png'"
                        [name]="'Luxury apartment in the heart of Budapest'"
                        [explain]="'Classic Lorem Ipsum text contains Latin words derived from the works of Cicero. According to…'"
                        [mo]="389000"
                        [square]="140"
                        [rooms]="4"
                        [data]="98"
                        [topRated]="true"></app-apartment-item>
    <app-apartment-item class="col-sm-6 py-3"
                        [imgUrl]="'/assets/images/apartment/apartment2.png'"
                        [name]="'2 room loft near university for students'"
                        [explain]="'Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries.'"
                        [mo]="195000"
                        [square]="66"
                        [rooms]="2"
                        [data]="65"
                        [topRated]="false"></app-apartment-item>
    <app-apartment-item class="col-sm-6 py-3"
                        [imgUrl]="'/assets/images/apartment/apartment2.png'"
                        [name]="'2 room loft near university for students'"
                        [explain]="'Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries.'"
                        [mo]="195000"
                        [square]="66"
                        [rooms]="2"
                        [data]="65"
                        [topRated]="false"></app-apartment-item>
    <app-apartment-item class="col-sm-6 py-3"
                        [imgUrl]="'/assets/images/apartment/apartment4.png'"
                        [name]="'Modest 1 bedroom 5min from city center'"
                        [explain]="'The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph…'"
                        [mo]="140000"
                        [square]="32"
                        [rooms]="1"
                        [data]="58"
                        [topRated]="false"></app-apartment-item>
    <app-apartment-item class="col-sm-6 py-3"
                        [imgUrl]="'/assets/images/apartment/apartment4.png'"
                        [name]="'Modest 1 bedroom 5min from city center'"
                        [explain]="'The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph…'"
                        [mo]="140000"
                        [square]="32"
                        [rooms]="1"
                        [data]="58"
                        [topRated]="false"></app-apartment-item>
    <app-apartment-item class="col-sm-6 py-3"
                        [imgUrl]="'/assets/images/apartment/apartment1.png'"
                        [name]="'Luxury apartment in the heart of Budapest'"
                        [explain]="'Classic Lorem Ipsum text contains Latin words derived from the works of Cicero. According to…'"
                        [mo]="389000"
                        [square]="140"
                        [rooms]="4"
                        [data]="98"
                        [topRated]="false"></app-apartment-item>
    <app-apartment-item class="col-sm-6 py-3"
                        [imgUrl]="'/assets/images/apartment/apartment1.png'"
                        [name]="'Luxury apartment in the heart of Budapest'"
                        [explain]="'Classic Lorem Ipsum text contains Latin words derived from the works of Cicero. According to…'"
                        [mo]="389000"
                        [square]="140"
                        [rooms]="4"
                        [data]="98"
                        [topRated]="false"></app-apartment-item>
    <app-apartment-item class="col-sm-6 py-3"
                        [imgUrl]="'/assets/images/apartment/apartment2.png'"
                        [name]="'2 room loft near university for students'"
                        [explain]="'Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries.'"
                        [mo]="195000"
                        [square]="66"
                        [rooms]="2"
                        [data]="65"
                        [topRated]="false"></app-apartment-item>
  </div>
  <div class="search-bar card-sm-screen position-fixed">
    <div class="close-bar justify-content-between align-items-center px-3 py-2 border-bottom d-sm-flex d-none">
      <i class="icon-close"
         (click)="toggled = false"></i>
      <button class="btn btn-clear btn-lg">{{ 'COMMON.CLEAR_ALL_FILTERS' | translate }}</button>
    </div>
    <div class="search-name border-bottom pt-sm-3 pb-3 px-sm-3">
      <h4 class="d-sm-block d-none">Találatok szűrése</h4>
      <div class="form-group mt-sm-4">
        <label for="search" class="font-weight-bold">{{ 'SEARCH.SEARCH_IN' | translate }}:</label>
        <input type="text" class="form-control border" id="search">
      </div>
    </div>
    <div class="search-price px-sm-3 py-3">
      <label class="font-weight-bold">{{ 'SEARCH.PRICE_PER_MONTH' | translate }}:</label>
      <nouislider [connect]="true" [min]="minPrice" [max]="maxPrice" [step]="1" [(ngModel)]="priceRange" [tooltips]="[true, true]"></nouislider>
      <div class="form-inline">
        <label for="unit" class="mr-3 font-weight-bold">{{ 'SEARCH.SHOW_PRICE_IN' | translate }}:</label>
        <select id="unit" class="custom-select font-weight-bold w-auto">
          <option value="">HUF</option>
        </select>
      </div>
    </div>
    <div class="search-features border-top p-3 d-sm-block d-none">
      <h6 class="font-size-lg mb-4">{{ 'SEARCH.MUST_HAVE_FEATURES' | translate }}:</h6>
      <div class="d-flex justify-content-between align-items-center pl-2 mb-3">
        <label for="furnish" class="mb-0">{{ 'SEARCH.FURNISHED' | translate }}</label>
        <input type="checkbox" id="furnish" class="search-checkbox">
      </div>
      <div class="d-flex justify-content-between align-items-center pl-2 mb-3">
        <label for="barrier" class="mb-0">{{ 'SEARCH.BARRIER_FREE' | translate }}</label>
        <input type="checkbox" id="barrier" class="search-checkbox">
      </div>
      <div class="d-flex justify-content-between align-items-center pl-2">
        <label for="availability" class="mb-0">{{ 'SEARCH.IMMEDIATE_AVAILABILITY' | translate }}</label>
        <input type="checkbox" id="availability" class="search-checkbox">
      </div>
      <button class="btn btn-outline-primary btn-lg w-100 mt-4">
        {{ 'SEARCH.ADD_MORE_FILTERS' | translate }}
        <i class="icon-caret align-middle ml-2"></i>
      </button>
    </div>
    <div class="p-3 d-sm-block d-none">
      <button class="btn btn-primary btn-lg w-100">Search among 126 properties</button>
    </div>
    <div class="button-group justify-content-between d-flex d-sm-none">
      <button class="btn btn-primary btn-lg w-75">{{ 'SEARCH.SEARCH' | translate }}</button>
      <button class="btn btn-outline-primary btn-lg advanced-search border-0 p-0">{{ 'SEARCH.ADVANCED_SEARCH' | translate }}</button>
    </div>
  </div>
  <div class="overlay position-fixed"
       (click)="toggled = false"></div>
</div>
