<div class="card-sm mt-5">
  <div class="avatar text-center">
    <img [src]="!!offer.tenant.profilePicture ? uploadBase + offer.tenant.profilePicture : '/assets/images/profile/blank.png'" alt="" width="80" height="80" class="rounded-pill">
  </div>
  <h4 class="text-center">
    {{ offer.tenant.user.firstName }} {{ offer.tenant.user.lastName }}
    <span class="text-danger"
          *ngIf="offer.tenant.status === 'deleted'">({{ 'COMMON.DELETED' | translate }})</span>
  </h4>
<!--  <p class="text-center text-muted font-weight-bold"><span class="year font-size-lg">23</span>, Student</p>-->
  <table class="table">
    <tbody>
    <tr>
      <td class="border-top-0 font-size-lg font-weight-bold">{{ 'APARTMENT.APARTMENT' | translate }}</td>
      <td class="border-top-0 font-weight-bold text-right">
        <a *ngIf="offer.apartment.status !== 'deleted'"
           [routerLink]="['/app/my-properties/apartment/', offer.apartment._id, 'edit']">
          {{ offer.apartment.name }}
        </a>
        <span *ngIf="offer.apartment.status === 'deleted'">
          {{ offer.apartment.name }}
          <span class="text-danger">({{ 'COMMON.DELETED' | translate }})</span>
        </span>
      </td>
    </tr>
    <tr>
      <td>{{ 'APARTMENT.RENTAL_FEE' | translate }}:</td>
      <td class="font-weight-bold text-right">{{ offer.rentalFee | number }}</td>
    </tr>
    <tr>
      <td>{{ 'APARTMENT.MINIMUM_RENTING_TIME' | translate }}({{ 'COMMON.MONTHS' | translate }}):</td>
      <td class="font-weight-bold text-right">
        {{ !!offer.minRentingTime ? offerConfig.minRentingTime[offer.minRentingTime][0] + ' ' + (offerConfig.minRentingTime[offer.minRentingTime][1] | translate) : '' }}
      </td>
    </tr>
    <tr>
      <td>{{ 'COMMON.DATE_OF_MOVING_IN' | translate }}:</td>
      <td class="font-weight-bold text-right">{{ offer.dateOfMovingIn | dateToString }}</td>
    </tr>
    <tr>
      <td>{{ 'OFFER.MOVING_IN_WITH' | translate }}?</td>
      <td class="font-weight-bold text-right">{{ offer.movingWith }}</td>
    </tr>
    <tr>
      <td class="border-bottom">{{ 'PROFILE.MOVING_WITH_PETS' | translate }}:</td>
      <td class="border-bottom font-weight-bold text-right">
        {{ offer.pets ? ('COMMON.YES' | translate) : ('COMMON.NO' | translate) }}
      </td>
    </tr>
    </tbody>
  </table>
  <h5 class="font-weight-bolder">{{ 'OFFER.WHY_CHOOSE_ME' | translate }}?</h5>
  <p>
    {{ offer.whyChooseMe }}
  </p>
  <button class="btn btn-outline-primary btn-lg w-100 mt-3" (click)="onProfile()">{{ 'OFFER.GO_TO_FULL_PROFILE' | translate }}</button>
  <div class="text-right mt-4"
       *ngIf="offer.accepted && offer.feedbackReady && !offer.landlordFeedback && offer.apartment.status !== 'deleted' && offer.tenant.status !== 'deleted'">
    <ng-content></ng-content>
  </div>
  <div class="button-group d-flex justify-content-between mt-4"
       *ngIf="offer.accepted === null && offer.apartment.status !== 'deleted' && offer.tenant.status !== 'deleted'">
    <button class="btn btn-success btn-lg"
            (click)="onAccept()">{{ 'COMMON.ACCEPT' | translate }}</button>
    <button class="btn btn-outline-danger btn-lg"
            (click)="onReject()">{{ 'COMMON.REJECT' | translate }}</button>
  </div>
</div>
