<div class="card-sm mt-5"
     *ngIf="tenant">
  <div class="avatar text-center">
    <img [src]="uploadBase + tenant.profilePicture" alt="" width="80" height="80" class="rounded-pill">
  </div>
  <h4 class="text-center">{{ offer.user.firstName }} {{ offer.user.lastName }}</h4>
<!--  <p class="text-center text-muted font-weight-bold"><span class="year font-size-lg">23</span>, Student</p>-->
  <table class="table">
    <tbody>
    <tr>
      <td class="border-top-0">{{ 'APARTMENT.RENTAL_FEE' | translate }}:</td>
      <td class="border-top-0 font-weight-bold text-right">{{ offer.rentalFee }}</td>
    </tr>
    <tr>
      <td>{{ 'COMMON.OVERHEAD' | translate }}:</td>
      <td class="font-weight-bold text-right">{{ offer.overhead }}</td>
    </tr>
    <tr>
      <td>{{ 'APARTMENT.MINIMUM_RENTING_TIME' | translate }}({{ 'COMMON.MONTHS' | translate }}):</td>
      <td class="font-weight-bold text-right">{{ offer.minRentingTime }}</td>
    </tr>
    <tr>
      <td>{{ 'COMMON.DATE_OF_MOVING_IN' | translate }}:</td>
      <td class="font-weight-bold text-right">{{ offer.dateOfMovingIn }}</td>
    </tr>
    <tr>
      <td>{{ 'OFFER.MOVING_IN_WITH' | translate }}?</td>
      <td class="font-weight-bold text-right">{{ offer.movingWith }}</td>
    </tr>
    <tr>
      <td class="border-bottom">{{ 'PROFILE.MOVING_WITH_PETS' | translate }}:</td>
      <td class="border-bottom font-weight-bold text-right">{{ offer.pets }}</td>
    </tr>
    </tbody>
  </table>
  <h5 class="font-weight-bolder">{{ 'OFFER.WHY_CHOOSE_ME' | translate }}?</h5>
  <p>
    {{ offer.whyChooseMe }}
  </p>
  <button class="btn btn-outline-primary btn-lg w-100 mt-3" (click)="onProfile()">{{ 'OFFER.GO_TO_FULL_PROFILE' | translate }}</button>
  <div class="button-group d-flex justify-content-between mt-4">
    <button class="btn btn-success btn-lg"
            (click)="onSuccess()">{{ 'COMMON.ACCEPT' | translate }}</button>
    <button class="btn btn-outline-danger btn-lg"
            (click)="onDelete()">{{ 'COMMON.DELETE' | translate }}</button>
  </div>
</div>
