<div class="modal-header">
  <h4 class="modal-title">
    <span class="d-flex"
          [innerHTML]="'HOME.SELECT2' | translate"></span>
  </h4>
  <button type="button"
          class="close"
          aria-label="true"
          (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <agm-map *ngIf="result"
           [latitude]="result.lat"
           [longitude]="result.lng">
    <agm-marker-cluster *ngIf="tenantsLocation"
                        imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
      <agm-marker *ngFor="let location of tenantsLocation"
                  [latitude]="location.lat"
                  [longitude]="location.lng"></agm-marker>
    </agm-marker-cluster>
  </agm-map>
</div>
<div class="modal-footer"></div>
