@import "~src/assets/styles/scss/variables";

.layout {
  .email-check-bar {
    background-color: $blue;

    .check-email {
      color: $white;

      .icon-letter {
        font-size: 36px;
      }
    }

    .link {
      a {
        color: $white;
      }
    }
  }

  .nav-link {
    color: $body-color;

    i {
      font-size: 1.6rem;
      vertical-align: middle;
    }
  }

  .wrapper {
    .sidebar {
      top: 0;
      bottom: 0;
      width: 180px;
      transition: all 0.3s ease;
      left: -300px;
      background-color: $white;
      z-index: 4000;

      @include media-breakpoint-up(lg) {
        left: 0;
      }

      .sidebar-close {
        top: 19px;
        right: -40px;
        color: $white;
      }

      .nav-logo {
        top: 0;
      }

      .nav-content {
        height: calc(100% - 102px);
        margin-top: 102px;
        overflow-y: auto;
        flex-wrap: unset;
      }

      .nav-logout {
        bottom: 0;
      }

      .badge {
        margin-top: 2px;
      }
    }

    .overlay {
      visibility: hidden;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $black;
      opacity: 0;
      transition: opacity 0.3s;
      z-index: 3000;
    }

    .background {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #d8d8d8;
      background-image: url("/assets/images/background.png");
      z-index: 0;

      @include media-breakpoint-down(xs) {
        visibility: hidden;
      }
    }

    .border-bottom {
      border-width: 1px !important;
    }

    .page-content {
      transition: all 0.3s ease;

      @include media-breakpoint-up(lg) {
        margin-left: 180px;
      }

      .content-logo {
        top: 0;
        right: 0;
        left: 0;
        z-index: 2100;
        background-color: $white;
      }

      .content {
        @include media-breakpoint-down(md) {
          margin-top: 73px;
        }
      }

      .btn-toggler {
        top: 0;
        left: 15px;
      }
    }
  }

  .top-menu {
    top: 0;
    z-index: 2;

    .badge {
      top: 0;
      right: 0;
    }

    @include media-breakpoint-up(lg) {
      .nav-link {
        padding: .455rem 1rem;
      }
    }

    @include media-breakpoint-up(sm) {
      right: 135px;
    }

    @include media-breakpoint-down(md) {
      .nav-link {
        padding: .455rem;
      }
    }

    @include media-breakpoint-down(xs) {
      right: 80px;
    }
  }

  &.toggled {
    .sidebar {
      left: 0 !important;
    }

    .overlay {
      visibility: visible !important;
      opacity: .8 !important;
    }
  }
}
