<div *ngIf="user"
     class="layout">
  <div class="wrapper">
    <nav class="sidebar position-fixed shadow">
      <div class="sidebar-close position-absolute d-md-none"
           appMenuClose>
        <i class="icon-close"></i>
      </div>
      <div class="nav-logo position-absolute text-center border-bottom w-100 py-4">
        <a routerLink="/app"
           appMenuClose>
          <img src="/assets/images/logo.png"
               width="40">
        </a>
      </div>
      <ul class="nav flex-column nav-content py-3"
          *ngIf="user.accountType === AccountTypes.TENANT">
        <li class="nav-item">
          <a routerLink="/app/my-profile"
             class="nav-link d-flex align-items-center"
             appMenuClose>
            <i class="icon-person mr-2"></i>
            {{ 'COMMON.MY_PROFILE' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/app/offers"
             class="nav-link d-flex align-items-center"
             appMenuClose>
            <i class="icon-alert mr-2"></i>
            {{ 'OFFER.OFFERS' | translate }}
            <span class="badge badge-pill badge-primary float-right"
                  *ngIf="user.notification !== 0">{{ user.notification }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="rentals/search"
             class="nav-link d-flex align-items-center"
             appMenuClose>
            <i class="icon-search mr-2"></i>
            {{ 'COMMON.SEARCH' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="rentals/favorites"
             class="nav-link d-flex align-items-center"
             appMenuClose>
            <i class="icon-favorite mr-2"></i>
            {{ 'COMMON.FAVORITES' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/app/heatmap"
             class="nav-link d-flex align-items-center"
             appMenuClose>
            <i class="icon-heatmap mr-2"></i>
            {{ 'COMMON.AVAILABLE_FLATS' | translate }}
          </a>
        </li>
      </ul>
      <ul class="nav flex-column nav-content py-3"
          *ngIf="user.accountType === AccountTypes.LANDLORD">
        <li class="nav-item">
          <a routerLink="/app/my-profile"
             class="nav-link d-flex align-items-center"
             appMenuClose>
            <i class="icon-person mr-2"></i>
            {{ 'COMMON.MY_PROFILE' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/app/my-properties"
             class="nav-link d-flex align-items-center"
             appMenuClose>
            <i class="icon-property mr-2"></i>
            {{ 'COMMON.MY_APARTMENTS' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/app/offers"
             class="nav-link d-flex align-items-center"
             appMenuClose>
            <i class="icon-alert mr-2"></i>
            {{ 'OFFER.OFFERS' | translate }}
            <span class="badge badge-pill badge-primary float-right"
                  *ngIf="user.notification !== 0">{{ user.notification }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/app/heatmap"
             class="nav-link d-flex align-items-center"
             appMenuClose>
            <i class="icon-heatmap mr-2"></i>
            {{ 'COMMON.AVAILABLE_TENANTS' | translate }}
          </a>
        </li>
      </ul>
    </nav>
    <div class="overlay position-fixed"
         appMenuClose></div>
    <div class="background position-fixed"></div>
    <main class="page-content position-relative py-3">
      <div class="content-logo d-lg-none py-3 border-bottom position-fixed">
        <div class="container position-relative text-center">
          <button class="btn btn-toggler position-absolute d-lg-none"
                  type="button"
                  (click)="onOpenMenu()">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a routerLink="/">
            <img src="/assets/images/logo-no-title.png" width="40" alt="">
          </a>
          <app-language-selector></app-language-selector>
          <ul class="nav top-menu position-absolute">
            <li class="nav-item">
              <a routerLink="/app/offers"
                 class="nav-link position-relative">
                <i class="icon-alert"></i>
                <span class="badge badge-pill badge-primary position-absolute"
                      *ngIf="user.notification !== 0">{{ user.notification }}</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)"
                 class="nav-link"
                 (click)="logOut()">
                <i class="icon-exit"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="container content position-relative">
        <app-language-selector class="d-lg-block d-none"></app-language-selector>
        <ul class="nav top-menu position-absolute d-lg-flex d-none">
          <li class="nav-item">
            <a routerLink="/app/offers"
               class="nav-link position-relative">
              <i class="icon-alert"></i>
              <span class="badge badge-pill badge-primary position-absolute"
                    *ngIf="user.notification !== 0">{{ user.notification }}</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)"
               class="nav-link"
               (click)="logOut()">
              <i class="icon-exit"></i>
            </a>
          </li>
        </ul>
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
