<div class="my-properties">
  <div class="d-flex justify-content-between align-items-center mb-4 mt-sm-0 mt-3">
    <h4>{{ 'COMMON.AVAILABLE_FOR_RENT_NEAR_YOU' | translate }}</h4>
    <button class="btn btn-add d-flex justify-content-between align-items-center text-left font-weight-bold"
            (click)="onAdd()">{{ 'COMMON.ADD_NEW' | translate  }}</button>
  </div>
  <div class="row"
       *ngIf="apartments">
    <ng-container *ngFor="let apartment of apartments">
      <app-apartment-item class="col-lg-6 py-3"
                          *ngIf="apartment.roomsData.length !== 0"
                          [imgUrl]="apartment.roomsData[0].pictures[0] ? uploadBase + apartment.roomsData[0].pictures[0] : '/assets/images/room/room.svg'"
                          [name]="'Luxury apartment-create in the heart of Budapest'"
                          [explain]="'Classic Lorem Ipsum text contains Latin words derived from the works of Cicero. According to…'"
                          [mo]="389000"
                          [square]="apartment.size"
                          [rooms]="apartment.roomsData.length"
                          [data]="98"
                          [topRated]="true"
                          [routerLink]="['/app/my-properties/apartment', apartment._id, 'edit']"></app-apartment-item>
    </ng-container>
  </div>
</div>
