@import "~src/assets/styles/scss/variables";

app-apartment-item {
  &:focus {
    outline: none;
  }
}

.btn-add {
  color: $blue;
  box-shadow: $box-shadow-sm;
  border-radius: $border-radius-lg;
}
