.btn {
  font-family: NeueEinstellung-Bold;
}

.btn-toggler {
  background: none;
  border: none;

  &:focus {
    box-shadow: none;
  }

  .icon-bar {
    display: block;
    background-color: $primary;
    width: 22px;
    height: 2px;
    border-radius: 1px;

    &+.icon-bar {
      margin-top: 4px;
    }
  }
}

.btn-back {
  color: $primary;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    color: $primary;
  }
}
