.card {
  background-color: $white;
  border: none;
  box-shadow: $box-shadow;

  @include media-breakpoint-down(xs) {
    box-shadow: none;
  }
}

.card-body {
  padding: $card-spacer-y $card-spacer-x;

  @include media-breakpoint-down(xs) {
    padding: $spacer * .25;
  }
}

.card-title {
  text-align: center;
  color: $gray-600;
}

.card-sm {
  background-color: $white;
  box-shadow: $box-shadow-sm;
  @include border-radius($border-radius-lg);
  padding: 1.125rem 1rem;
}

.card-sm-screen {
  background-color: $white;
  @include media-breakpoint-down(xs) {
    box-shadow: $box-shadow-sm;
    @include border-radius($border-radius-lg);
    padding: 1.125rem 1rem;
  }
}

.card-lg-screen {
  background-color: $white;
  @include media-breakpoint-down(md) {
    box-shadow: $box-shadow-sm;
    @include border-radius($border-radius-lg);
    padding: 1.125rem 1rem;
  }
}
