label {
  font-family: NeueEinstellung-ExtraBold;
}

.form-check-input {
  display: none;
}

.form-check-label {
  position: relative;
  padding-left: 1rem;
  font-family: NeueEinstellung;

  &::before {
    content: '';
    position: absolute;
    background-color: transparent;
    border: 3px solid $blue;
    border-radius: 3px;
    width: 22px;
    height: 22px;
    display: inline-block;
    top: .2rem;
    left: 0;
    margin-left: -$form-check-input-gutter;
  }
}

.form-check-input:checked + label::after {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: -12px;
  width: 6px;
  height: 12px;
  border: solid $blue;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
