.form-check-input {
  display: none;
}

.form-check-label {
  position: relative;
  padding-left: 1rem;

  &::before {
    content: '';
    position: absolute;
    background-color: transparent;
    border: 3px solid $blue;
    border-radius: 3px;
    width: 22px;
    height: 22px;
    display: inline-block;
    top: .3rem;
    left: 0;
    margin-left: -$form-check-input-gutter;
  }

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
  }
}
