.form-check-input {
  display: none;
}

.form-check-label {
  position: relative;
  padding-left: 1rem;
  font-family: NeueEinstellung;
  font-size: $font-size-base;

  &::before {
    content: '';
    position: absolute;
    background-color: transparent;
    border: 3px solid $blue;
    border-radius: 3px;
    width: 22px;
    height: 22px;
    display: inline-block;
    top: .1rem;
    left: 0;
    margin-left: -$form-check-input-gutter;
  }
}

.form-check-input:checked + label::after {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: -12px;
  width: 6px;
  height: 12px;
  border: solid $blue;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.invalid-feedback {
  font-size: 100%;
}

.form-inline {
  @include media-breakpoint-up(xl) {
    .custom-select {
      width: auto;
    }
  }

  @include media-breakpoint-down(lg) {
    .custom-select {
      width: 100%;
    }
  }
}

table {
  .form-check-label {
    &::before {
      top: 0;
    }
  }

  .form-check-input:checked + label::after {
    top: 4px;
  }
}
