.ngx-gallery-image-wrapper {
  border-radius: $border-radius-lg;

  @include media-breakpoint-down(xs) {
    border-radius: 0;
  }
}

.ngx-gallery-thumbnail {
  border-radius: $border-radius-lg;
}

.ngx-gallery-preview-img {
  border-radius: $border-radius-lg;
}

ngx-gallery-image {
  .ngx-gallery-arrow-wrapper {
    display: none !important;
  }
}
