.strengthBar {
  display: flex !important;
  justify-content: space-between;
  vertical-align: unset !important;
  margin: .5rem 0 0 !important;

  .point {
    height: .4rem !important;
    border-radius: 50rem !important;
    width: 18.5% !important;
    margin-right: 5px !important;
  }
}
