international-phone-number {
  .input-group {
    border: $input-border-width solid $input-border-color;
    @include border-radius($input-border-radius, 0);

    .dropdown {
      height: 100%;

      .dropbtn {
        height: 100%;

        span {
          vertical-align: middle !important;

          &.arrow-down {
            margin-top: 0;
            margin-left: 5px;
          }
        }
      }
    }

    .form-control {
      border: none;
      text-align: right;
    }
  }
}

.tenants-profile-edit, .landlords-profile-edit {
  international-phone-number {
    .input-group {
      border: none;
    }
  }
}
