.switch {
  display: inline-flex;
  vertical-align: middle;
  position: relative;
  width: 102px;
  height: 34px;
  margin-bottom: 0;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  label {
    flex: 1;
    text-align: center;
    font-family: NeueEinstellung;
    font-weight: unset !important;
    font-size: $font-size-base;
    line-height: 34px;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
  }

  .slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid transparent;
    border-radius: 34px;
    background-color: $gray-400;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 32px;
      width: 32px;
      left: 0;
      background-color: $blue;
      transition: .4s;
      border-radius: 50%;
    }
  }

  label:nth-child(2):nth-last-child(6) ~ input:checked:nth-child(3) + label ~ .slider {
    &:before {
      left: 34px;
      background-color: #fff;
    }
  }

  label:nth-child(2):nth-last-child(6) ~ input:checked:nth-child(5) + label ~ .slider {
    background-color: $blue;

    &:before {
      left: 68px;
      background-color: #fff;
    }
  }
}
