.font-weight-light   {
  font-family: NeueEinstellung-Light;
  font-weight: unset !important;
}

.font-weight-lighter {
  font-family: NeueEinstellung-Thin;
  font-weight: unset !important;
}

.font-weight-normal  {
  font-family: NeueEinstellung;
  font-weight: unset !important;
}

.font-weight-bold    {
  font-family: NeueEinstellung-Bold;
  font-weight: unset !important;
}

.font-weight-bolder  {
  font-family: NeueEinstellung-Black;
  font-weight: unset !important;
}
