<div class="sidebar-panel">
  <div id="scroll-area" [perfectScrollbar] class="navigation-hold" fxLayout="column">
    <div class="sidebar-hold">
      <div
        class="sidebar-compact-switch"
        [ngClass]="{active: layoutConf.sidebarCompactToggle}"
        (click)="toggleCollapse()"
        *ngIf="layoutConf.sidebarStyle !== 'closed'"><span></span></div>
      <!-- App Logo -->
      <div class="branding">
        <img src="assets/images/logo.png" alt="" class="app-logo">
        <span class="app-logo-text">Renti</span>
      </div>

      <!-- Navigation -->
      <app-sidenav [items]="menuItems" [hasIconMenu]="hasIconTypeMenuItem" [iconMenuTitle]="iconTypeMenuTitle"></app-sidenav>
    </div>
  </div>
</div>
