<div class="heatmap pt-lg-5">
  <agm-map *ngIf="defaultLocation"
           [latitude]="defaultLocation.lat"
           [longitude]="defaultLocation.lng"
           style="height: 80vh;">
    <agm-marker-cluster *ngIf="tenantsLocation"
                        imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
      <agm-marker *ngFor="let location of tenantsLocation"
                  [latitude]="location.lat"
                  [longitude]="location.lng"></agm-marker>
    </agm-marker-cluster>
  </agm-map>
</div>
