<div class="m-333">
  <button mat-raised-button class="mb-05" color="primary" (click)="openPopUp({}, true)">Add Offer</button>
</div>
<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-content class="p-0">
    <ngx-datatable
      class="material ml-0 mr-0"
      [rows]="items"
      columnMode="flex"
      [headerHeight]="50"
      [footerHeight]="50"
      [limit]="page.perPage"
      rowHeight="auto">
      <ngx-datatable-column name="Rental Fee" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.rentalFee }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Overhead" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.overhead }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Minimum Renting Time" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.minRentingTime }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Date Of Moving in" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.dateOfMovingIn }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="openPopUp(row)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)"><mat-icon>delete</mat-icon></button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </mat-card-content>
</mat-card>
