<form [formGroup]="apartmentDataFirstForm"
      (ngSubmit)="submit()">
  <table class="table mt-4">
    <tbody>
      <tr>
        <td class="border-top-0 py-0 align-middle">{{ 'APARTMENT.NAME' | translate }}</td>
        <td class="border-top-0 text-right py-0 pr-0">
          <input type="text"
                 class="form-control text-right border-0"
                 formControlName="name">
          <div class="invalid-feedback d-block" *ngIf="apartmentDataFirstForm.get('name').invalid && (apartmentDataFirstForm.get('name').dirty || apartmentDataFirstForm.get('name').touched)">
            <span *ngIf="apartmentDataFirstForm.get('name').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'COMMON.ADDRESS' | translate }}</td>
        <td class="text-right py-0 pr-0">
          <input ngx-google-places-autocomplete
                 class="form-control text-right border-0"
                 (onAddressChange)="handleAddressChange($event)"
                 formControlName="address">
          <div class="invalid-feedback d-block" *ngIf="apartmentDataFirstForm.get('address').invalid && (apartmentDataFirstForm.get('address').dirty || apartmentDataFirstForm.get('address').touched)">
            <span *ngIf="apartmentDataFirstForm.get('address').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.TYPE_OF_BUILDING' | translate }}</td>
        <td class="text-right py-0 pr-0">
          <select class="custom-select border-0"
                  formControlName="typeOfBuilding">
            <option value="brick">{{ 'APARTMENT.BRICK' | translate }}</option>
            <option value="panel">{{ 'APARTMENT.PANEL' | translate }}</option>
            <option value="loam">{{ 'APARTMENT.LOAM' | translate }}</option>
            <option value="other">{{ 'COMMON.OTHER' | translate }}</option>
          </select>
          <div class="invalid-feedback d-block" *ngIf="apartmentDataFirstForm.get('typeOfBuilding').invalid && (apartmentDataFirstForm.get('typeOfBuilding').dirty || apartmentDataFirstForm.get('typeOfBuilding').touched)">
            <span *ngIf="apartmentDataFirstForm.get('typeOfBuilding').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.YEAR_OF_CONSTRUCTION' | translate }}</td>
        <td class="text-right py-0 pr-0">
          <select class="custom-select border-0"
                  formControlName="yearOfConstruction">
            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
          </select>
          <div class="invalid-feedback d-block" *ngIf="apartmentDataFirstForm.get('yearOfConstruction').invalid && (apartmentDataFirstForm.get('yearOfConstruction').dirty || apartmentDataFirstForm.get('yearOfConstruction').touched)">
            <span *ngIf="apartmentDataFirstForm.get('yearOfConstruction').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.STATE_OF_APARTMENT' | translate }}</td>
        <td class="text-right py-0 pr-0">
          <select class="custom-select border-0"
                  formControlName="stateOfApartment">
            <option value="new">{{ 'COMMON.NEW' | translate }}</option>
            <option value="good">{{ 'COMMON.GOOD' | translate }}</option>
            <option value="normal">{{ 'COMMON.NORMAL' | translate }}</option>
            <option value="renovation">{{ 'COMMON.RENOVATION' | translate }}</option>
          </select>
          <div class="invalid-feedback d-block" *ngIf="apartmentDataFirstForm.get('stateOfApartment').invalid && (apartmentDataFirstForm.get('stateOfApartment').dirty || apartmentDataFirstForm.get('stateOfApartment').touched)">
            <span *ngIf="apartmentDataFirstForm.get('stateOfApartment').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.ENERGY_PERFORMANCE_CERTIFICATE' | translate }}</td>
        <td class="text-right py-0 pr-0">
          <select class="custom-select border-0"
                  formControlName="energyPerformanceCertificate">
            <option value="aapp">AA++</option>
            <option value="aap">AA+</option>
            <option value="aa">AA</option>
            <option value="bb">BB</option>
            <option value="cc">CC</option>
            <option value="dd">DD</option>
            <option value="ee">EE</option>
            <option value="ff">FF</option>
            <option value="gg">GG</option>
            <option value="hh">HH</option>
            <option value="ii">II</option>
            <option value="jj">JJ</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.FLOORS_OF_THE_BUILDING' | translate }}</td>
        <td class="text-right py-0 pr-0">
          <input type="number"
                 class="form-control border-0 text-right"
                 min="1"
                 inputmode="numeric"
                 pattern="[0-9]*"
                 formControlName="floorsOfBuilding">
          <div class="invalid-feedback d-block" *ngIf="apartmentDataFirstForm.get('floorsOfBuilding').invalid && (apartmentDataFirstForm.get('floorsOfBuilding').dirty || apartmentDataFirstForm.get('floorsOfBuilding').touched)">
            <span *ngIf="apartmentDataFirstForm.get('floorsOfBuilding').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.FLOOR_OF_THE_APARTMENT' | translate }}</td>
        <td class="text-right py-0 pr-0">
          <input type="number"
                 class="form-control border-0 text-right"
                 min="1"
                 inputmode="numeric"
                 pattern="[0-9]*"
                 formControlName="floorsOfApartment">
          <div class="invalid-feedback d-block" *ngIf="apartmentDataFirstForm.get('floorsOfApartment').invalid && (apartmentDataFirstForm.get('floorsOfApartment').dirty || apartmentDataFirstForm.get('floorsOfApartment').touched)">
            <span *ngIf="apartmentDataFirstForm.get('floorsOfApartment').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
            <span *ngIf="apartmentDataFirstForm.get('floorsOfApartment').errors.maxError">{{ 'ERROR.FLOORS_COMPARE' | translate }}</span>
          </div>
        </td>
      </tr>
<!--      <tr>-->
<!--        <td class="py-0 align-middle">{{ 'APARTMENT.SIZE_OF_THE_APARTMENT' | translate }}</td>-->
<!--        <td class="text-right py-0 pr-0">-->
<!--          <input type="number"-->
<!--                 class="form-control border-0 text-right"-->
<!--                 min="0"-->
<!--                 inputmode="numeric"-->
<!--                 pattern="[0-9]*"-->
<!--                 formControlName="size">-->
<!--        </td>-->
<!--      </tr>-->
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.ELEVATOR' | translate }}?</td>
        <td class="text-right pr-0">
          <label class="switch">
            <input type="checkbox"
                   formControlName="elevator">
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.ROOFTOP' | translate }}?</td>
        <td class="text-right pr-0">
          <label class="switch">
            <input type="checkbox"
                   formControlName="rooftop">
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
    </tbody>
  </table>
</form>
