@import "~src/assets/styles/scss/variables";

.favorites {
  height: calc(100vh - 2rem);

  @include media-breakpoint-down(md) {
    height: calc(100vh - 2rem - 73px);
  }

  app-apartment-item {
    &:focus {
      outline: none;
    }
  }
}
