<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ 'LOGIN.RESET_PASSWORD' | translate }}</h5>
    <form [formGroup]="resetPasswordForm"
          (ngSubmit)="submit()">
      <h5 *ngIf="error"
          class="text-danger text-center">{{'ERROR.PASSWORD_RESET_FAILED' | translate}}</h5>
      <div class="form-group">
        <label for="password">{{ 'COMMON.NEW_PASSWORD' | translate }}:</label>
        <input type="password"
               class="form-control"
               id="password"
               formControlName="password">
        <ng2-password-strength-bar [passwordToCheck]="resetPasswordForm.get('password').value"
                                   [barLabel]="''"
                                   [baseColor]="'#dbdce8'"></ng2-password-strength-bar>
        <div class="invalid-feedback d-block"
             *ngIf="resetPasswordForm.get('password').invalid && (resetPasswordForm.get('password').dirty || resetPasswordForm.get('password').touched)">
          <span *ngIf="resetPasswordForm.get('password').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
          <span *ngIf="resetPasswordForm.get('password').errors.minlength">{{ 'ERROR.MIN_PASSWORD' | translate }}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="confirm-password">{{ 'COMMON.CONFIRM_PASSWORD' | translate }}:</label>
        <input type="password"
               class="form-control"
               id="confirm-password"
               formControlName="confirmPassword">
        <div class="invalid-feedback d-block"
             *ngIf="resetPasswordForm.get('confirmPassword').invalid && (resetPasswordForm.get('confirmPassword').dirty || resetPasswordForm.get('confirmPassword').touched)">
          <span *ngIf="resetPasswordForm.get('confirmPassword').errors.equalTo">{{ 'ERROR.PASSWORD_NOT_MATCH' | translate }}</span>
        </div>
      </div>
      <div class="continue mt-sm-5 bg-white">
        <button type="submit"
                class="btn btn-primary btn-lg w-100">{{ 'LOGIN.UPDATE_PASSWORD' | translate }}</button>
      </div>
    </form>
  </div>
</div>
