<div class="card-sm position-relative d-flex flex-column justify-content-between"
     (click)="onApartmentDetail()">
  <div class="apartment-image position-absolute">
    <img [src]="imgUrl"
         alt=""
         width="120"
         height="120">
  </div>
  <div class="explain">
    <h6 class="font-size-lg">{{ name }}</h6>
    <p class="info text-muted font-weight-bold">
      <span class="years font-size-lg font-weight-bolder">23</span>, Student @ University of Debrecen
    </p>
    <p #explainParagraph class="information mb-0">
      {{ explain }}
    </p>
  </div>
</div>
