<div class="landing position-relative">
  <section class="banner text-center pt-4">
    <div class="logo position-relative mx-sm-5">
      <app-language-selector></app-language-selector>
      <a routerLink="/">
        <img src="assets/images/logo.png" alt="Renti" class="logo-image">
      </a>
    </div>
    <div class="banner-text mt-5">
      <h1 class="banner-title font-weight-bold mb-3">{{ 'HOME.TITLE' | translate }}</h1>
      <h3 class="banner-subtitle">{{ 'HOME.FIND_YOUR' | translate }}:</h3>
    </div>
  </section>
  <section class="items d-flex position-relative">
    <div class="buttons-wrapper d-flex position-absolute align-items-center justify-content-around w-100">
      <button class="btn btn-primary btn-lg item-button"
              (click)="onOpenHeatmapFlatModal()">
        <span class="d-block"
              [innerHTML]="'HOME.SELECT1' | translate"></span>
      </button>
      <button class="btn btn-primary btn-lg item-button"
              (click)="onOpenHeatmapTenantModal()">
        <span class="d-block"
              [innerHTML]="'HOME.SELECT2' | translate"></span>
      </button>
      <span class="btn vs position-absolute bg-white font-weight-bold">{{ 'COMMON.OR' | translate }}</span>
    </div>
    <div class="item item-left d-flex flex-grow-1 justify-content-center"></div>
    <div class="item item-right d-flex flex-grow-1 justify-content-center"></div>
  </section>
  <section class="footer-menu text-center pb-sm-5">
    <ul class="list-unstyled font-size-lg">
      <li class="mb-2"><a routerLink="/"><img src="assets/images/logo.png" alt="Renti" class="logo-image"></a></li>
      <li class="mb-2"><a href="#" class="h4">{{ 'COMMON.ABOUT_US' | translate }}</a></li>
      <li class="mb-2"><a href="#" class="h4">{{ 'COMMON.PRESS_KIT' | translate }}</a></li>
      <li><a href="#" class="h4">{{ 'COMMON.TERMS_CONDITIONS' | translate }}</a></li>
    </ul>
    <p class="footer-text text-muted">{{ 'COMMON.ALL_RIGHT' | translate }}</p>
  </section>
  <section class="auth py-2 position-fixed shadow w-100 bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6 py-1">
          <button class="btn btn-primary btn-lg w-100"
                  (click)="onSignup()">{{ 'SIGNUP.FREE_REGISTRATION' | translate }}</button>
        </div>
        <div class="col-md-6 py-1">
          <button class="btn btn-outline-primary btn-lg w-100"
                  (click)="onLogin()">{{ 'LOGIN.LOGIN' | translate }}</button>
        </div>
      </div>
    </div>
  </section>
</div>
