@import "../../../../../../assets/styles/scss/variables";

.tenants-profile-edit {
  .btn-back {
    i {
      vertical-align: middle;
    }
  }

  .avatar {
    margin-left: -15px;
    margin-right: -15px;
    width: 140px;
    height: 140px;
    border-radius: 50rem;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include media-breakpoint-down(xs) {
      width: 100vw;
      height: 100vw;
      border-radius: 0;

      .avatar-options {
        display: flex !important;
      }
    }

    i {
      top: 20px;
      left: 5px;
      color: $white;
    }

    @include media-breakpoint-up(sm) {
      position: absolute;
      left: $card-spacer-x;
      z-index: 1;
      margin-left: 0;
      margin-right: 0;
    }

    .avatar-options {
      display: none;
      top: 0;
      bottom: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, .7);
      border-radius: 50rem;
      color: $white;

      @include media-breakpoint-down(xs) {
        width: 100vw;
        height: 50px;
        top: unset;
        border-radius: 0;
      }
      
      .avatar-options-update {
        span {
          cursor: pointer;
        }
      }
      
      .avatar-options-button {
        i {
          cursor: pointer;
        }
      }

      .avatar-options-upload {
        span {
          cursor: pointer;
        }
      }
    }

    &:hover {
      .avatar-options {
        display: flex;
      }
    }

    .invalid-feedback {
      bottom: -25px;
      text-align: center;

      @include media-breakpoint-down(xs) {
        position: unset !important;
      }
    }
  }

  .avatar-blank {
    background-image: url('/assets/images/profile/blank.png') !important;
  }

  .profile-info {
    @include media-breakpoint-up(sm) {
      margin-top: 4.2rem;
    }

    .card-body-top {
      @include media-breakpoint-down(xs) {
        border-bottom: 1px solid $border-color;
      }

      .name-info {
        @include media-breakpoint-up(lg) {
          margin-left: 155px;
        }

        @include media-breakpoint-down(md) {
          margin-top: 90px;
        }

        @include media-breakpoint-down(xs) {
          margin-top: 0;
        }

        .name {
          @include media-breakpoint-down(xs) {
            font-size: $h4-font-size;
          }
        }

        .info {
          span {
            color: $blue;
          }
        }
      }

      .rent {
        .custom-select {
          //padding-left: $custom-select-padding-x + $custom-select-indicator-padding;
          background-image: none;
        }

        .icon-location {
          font-size: 18px;
          bottom: 12px;
          left: 9px;
          color: $blue;
        }
      }
    }
  }

  .table {
    .custom-select {
      text-align-last: right;
    }
  }
}
