<div class="tenants-profile-edit position-relative">
  <form *ngIf="tenantForm"
        [formGroup]="tenantForm"
        (ngSubmit)="submit()">
    <div class="back mb-sm-4 d-sm-block d-none">
      <button type="button"
              class="btn btn-back"
              (click)="onBack()">
        <i class="icon-left h4 align-middle mb-0"></i>
        {{ 'COMMON.BACK' | translate }}
      </button>
    </div>
    <div class="avatar"
         [ngClass]="{'avatar-blank': !getPhotoUrl()}"
         [ngStyle]="{'background-image': getPhotoUrl()}">
      <i class="icon-left position-absolute h4 mb-0 d-sm-none"
         (click)="onBack()"></i>
      <div class="avatar-options align-items-center justify-content-around position-absolute font-size-lg">
        <div class="avatar-options-update"
             *ngIf="tenantForm.get('profilePicture').value">
          <span (click)="onOpenPhotoUploadModal()">{{ 'COMMON.CHANGE' | translate }}</span>
        </div>
        <div class="avatar-options-button"
             *ngIf="tenantForm.get('profilePicture').value && photo">
          <i class="icon-pencil"
             (click)="onOpenPhotoEditModal()"></i>
        </div>
        <div class="avatar-options-button"
             *ngIf="tenantForm.get('profilePicture').value">
          <i class="icon-close"
             (click)="onDeletePhoto()"></i>
        </div>
        <div class="avatar-options-upload"
             *ngIf="!tenantForm.get('profilePicture').value">
          <span (click)="onOpenPhotoUploadModal()">{{ 'COMMON.UPDATE_PHOTO' | translate }}</span>
        </div>
      </div>
      <div class="invalid-feedback d-block position-absolute" *ngIf="tenantForm.get('profilePicture').value === '' || photo === ''">
        <span>{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
      </div>
    </div>
    <div class="card profile-info">
      <div class="card-body">
        <div class="row card-body-top pb-4 pb-sm-0">
          <div class="col-sm-7">
            <div class="row name-info">
              <div class="col-sm-12 col-8 pr-0">
                <h1 class="name font-weight-bolder">{{ tenant.user.firstName }} {{ tenant.user.lastName }}</h1>
<!--                <p class="info text-muted font-weight-bold"><span class="font-size-lg font-weight-bolder">23</span>, Student @ University of Debrecen</p>-->
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-sm-8">
<!--                <div class="profile-complete w-100">-->
<!--                  <div class="profile-status d-flex justify-content-between font-weight-bold mb-2">-->
<!--                    <span>{{ 'PROFILE.PROFILE_COMPLETION' | translate }}:</span>-->
<!--                    <span>9/12</span>-->
<!--                  </div>-->
<!--                  <p><ngb-progressbar [value]="75" height="10px"></ngb-progressbar></p>-->
<!--                </div>-->
                <div class="form-group pt-2 position-relative rent">
                  <label for="rent" class="h5 font-weight-bolder">{{ 'COMMON.LOOKING_TO_RENT_IN' | translate }}:</label>
                  <input ngx-google-places-autocomplete
                         id="rent"
                         class="form-control custom-select"
                         [options]="{ types: ['(cities)'] }"
                         (onAddressChange)="handleRentChange($event)"
                         formControlName="lookingRent">
<!--                  <i class="icon-location position-absolute"></i>-->
                  <div class="invalid-feedback d-block"
                       *ngIf="tenantForm.get('lookingRent').invalid && (tenantForm.get('lookingRent').dirty || tenantForm.get('lookingRent').touched)">
                    <span *ngIf="tenantForm.get('lookingRent').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-5 align-self-end py-3">
            <button type="submit"
                    class="btn btn-outline-primary btn-lg w-100">{{ 'COMMON.SAVE' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-sm-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6 py-2">
            <table class="table">
              <tbody>
              <tr>
                <td class="border-top-0 py-0 align-middle">{{ 'COMMON.PHONE_MOBILE_NUMBER' | translate }}:</td>
                <td class="text-right border-top-0 py-0 pr-0">
                  <international-phone-number id="phone"
                                              [defaultCountry]="'hu'"
                                              placeholder=""
                                              formControlName="mobile"></international-phone-number>
                  <div class="invalid-feedback d-block"
                       *ngIf="tenantForm.get('mobile').invalid && (tenantForm.get('mobile').dirty || tenantForm.get('mobile').touched)">
                    <span *ngIf="tenantForm.get('mobile').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="py-0 align-middle">{{ 'COMMON.PLACE_OF_BIRTH' | translate }}:</td>
                <td class="text-right py-0 pr-0">
                  <input ngx-google-places-autocomplete
                         class="form-control border-0 text-right"
                         [options]="{ types: ['(cities)'] }"
                         (onAddressChange)="handlePlaceChange($event)"
                         formControlName="placeOfBirth">
                  <div class="invalid-feedback d-block"
                       *ngIf="tenantForm.get('placeOfBirth').invalid && (tenantForm.get('placeOfBirth').dirty || tenantForm.get('placeOfBirth').touched)">
                    <span *ngIf="tenantForm.get('placeOfBirth').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="align-middle py-0">{{ 'COMMON.BIRTHDATE' | translate }}:</td>
                <td class="text-right py-0 pr-0 w-50">
                  <input class="form-control border-0 text-right"
                         placeholder="yyyy-mm-dd"
                         ngbDatepicker
                         #d="ngbDatepicker"
                         (click)="d.toggle()"
                         formControlName="dateOfBirth">
                  <div class="invalid-feedback d-block"
                       *ngIf="tenantForm.get('dateOfBirth').invalid && (tenantForm.get('dateOfBirth').dirty || tenantForm.get('dateOfBirth').touched)">
                    <span *ngIf="tenantForm.get('dateOfBirth').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
                  </div>
                </td>
              </tr>
              <!--            <tr>-->
              <!--              <td class="py-0 align-middle">{{ 'COMMON.GENDER' | translate }}:</td>-->
              <!--              <td class="py-0 text-right">-->
              <!--                <select name="gender" class="custom-select border-0 w-auto">-->
              <!--                  <option value="">{{ 'COMMON.FEMALE' | translate }}</option>-->
              <!--                </select>-->
              <!--              </td>-->
              <!--            </tr>-->
              <tr>
                <td class="py-0 align-middle">{{ 'COMMON.NATIONALITY' | translate }}:</td>
                <td class="py-0 pr-0 text-right">
                  <select name="nationality"
                          class="custom-select border-0"
                          formControlName="nationality">
                    <option *ngFor="let country of countries" [value]="country.ccode">{{ country.cname }}</option>
                  </select>
                  <div class="invalid-feedback d-block"
                       *ngIf="tenantForm.get('nationality').invalid && (tenantForm.get('nationality').dirty || tenantForm.get('nationality').touched)">
                    <span *ngIf="tenantForm.get('nationality').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="py-0 align-middle">{{ 'PROFILE.SPOKEN_LANGUAGE' | translate }}:</td>
                <td class="py-0 pr-0 text-right">
                  <ng-select [items]="spokenLanguages"
                             [multiple]="true"
                             [closeOnSelect]="false"
                             formControlName="spokenLanguages"></ng-select>
                  <div class="invalid-feedback d-block"
                       *ngIf="tenantForm.get('spokenLanguages').invalid && (tenantForm.get('spokenLanguages').dirty || tenantForm.get('spokenLanguages').touched)">
                    <span *ngIf="tenantForm.get('spokenLanguages').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="align-middle py-0">{{ 'COMMON.CURRENT_CITY' | translate }}:</td>
                <td class="py-0 pr-0 text-right">
                  <input ngx-google-places-autocomplete
                         class="form-control border-0 text-right"
                         [options]="{ types: ['(cities)'] }"
                         (onAddressChange)="handleCurrentCityChange($event)"
                         formControlName="currentCity">
                  <div class="invalid-feedback d-block"
                       *ngIf="tenantForm.get('currentCity').invalid && (tenantForm.get('currentCity').dirty || tenantForm.get('currentCity').touched)">
                    <span *ngIf="tenantForm.get('currentCity').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="py-0 align-middle">{{ 'COMMON.HIGHEST_LEVEL_OF_QUALIFICATION' | translate }}:</td>
                <td class="py-0 pr-0 text-right">
                  <select class="custom-select border-0 w-auto"
                          formControlName="highestLevelOfQualification">
                    <option value="elementary">{{ 'COMMON.ELEMENTARY_SCHOOL' | translate }}</option>
                    <option value="secondary">{{ 'COMMON.SECONDARY_SCHOOL' | translate }}</option>
                    <option value="university">{{ 'COMMON.UNIVERSITY' | translate }}</option>
                  </select>
                  <div class="invalid-feedback d-block"
                       *ngIf="tenantForm.get('highestLevelOfQualification').invalid && (tenantForm.get('highestLevelOfQualification').dirty || tenantForm.get('highestLevelOfQualification').touched)">
                    <span *ngIf="tenantForm.get('highestLevelOfQualification').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="align-middle">
                  {{ 'COMMON.JOB_TITLE' | translate }}:<br>
                  <a href="javascript:"
                     (click)="addJobTitle()">+ {{ 'COMMON.ADD_NEW' | translate }}</a>
                </td>
                <td class="pr-0 text-right"
                    formArrayName="jobTitle">
                  <ng-container *ngFor="let jobTitleEl of jobTitle.controls; let i = index">
                    <input type="text"
                           class="form-control text-right"
                           [formControlName]="i">
                    <div class="invalid-feedback d-block"
                         *ngIf="jobTitleEl.invalid && (jobTitleEl.dirty || jobTitleEl.touched)">
                      <span *ngIf="jobTitleEl.errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
                    </div>
                  </ng-container>
                </td>
              </tr>
              <tr>
                <td class="py-0 align-middle">{{ 'COMMON.IF_UNIVERSITY_STUDENT_THEN_WHICH_SPECIALITY' | translate }}</td>
                <td class="py-0 pr-0 text-right">
                  <input type="text"
                         class="form-control border-0 text-right"
                         formControlName="universitySpeciality">
                  <div class="invalid-feedback d-block"
                       *ngIf="tenantForm.get('universitySpeciality').invalid && (tenantForm.get('universitySpeciality').dirty || tenantForm.get('universitySpeciality').touched)">
                    <span *ngIf="tenantForm.get('universitySpeciality').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="py-0 align-middle">{{ 'COMMON.CURRENT_WORKPLACE' | translate }}:</td>
                <td class="py-0 pr-0 text-right">
                  <input type="text"
                         class="form-control border-0 text-right"
                         formControlName="currentWorkplace">
                  <div class="invalid-feedback d-block"
                       *ngIf="tenantForm.get('currentWorkplace').invalid && (tenantForm.get('currentWorkplace').dirty || tenantForm.get('currentWorkplace').touched)">
                    <span *ngIf="tenantForm.get('currentWorkplace').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="align-middle">
                  {{ 'COMMON.FORMER_WORKPLACES' | translate }}:<br>
                  <a href="javascript:"
                     (click)="addFormerWorkplaces()">+ {{ 'COMMON.ADD_NEW' | translate }}</a>
                </td>
                <td class="pr-0 text-right"
                    formArrayName="formerWorkplaces">
                  <input type="text"
                         class="form-control text-right"
                         *ngFor="let formerWorkplacesEl of formerWorkplaces.controls; let i = index"
                         [formControlName]="i">
                </td>
              </tr>
              <!--            <tr>-->
              <!--              <td class="py-0 align-middle">{{ 'COMMON.OCCUPATION' | translate }}:</td>-->
              <!--              <td class="py-0 text-right">-->
              <!--                <select name="occupation" class="custom-select border-0 w-auto">-->
              <!--                  <option value="">{{ 'COMMON.STUDENT' | translate }}</option>-->
              <!--                </select>-->
              <!--              </td>-->
              <!--            </tr>-->
              <tr>
                <td class="py-0 align-middle">{{ 'COMMON.MONTHLY_INCOME' | translate }}:</td>
                <td class="py-0 pr-0 text-right">
                  <select class="custom-select border-0 w-auto"
                          formControlName="monthlyIncome">
                    <option value="50000"><50,000</option>
                    <option value="100000">50,000 - 100,000</option>
                    <option value="200000">100,000 - 200,000</option>
                    <option value="400000">200,000 - 400,000</option>
                    <option value="700000">400,000 - 700,000</option>
                    <option value="1000000">700,000 - 1,000,000</option>
                    <option value="1500000">1,000,000+</option>
                  </select>
                  <div class="invalid-feedback d-block"
                       *ngIf="tenantForm.get('monthlyIncome').invalid && (tenantForm.get('monthlyIncome').dirty || tenantForm.get('monthlyIncome').touched)">
                    <span *ngIf="tenantForm.get('monthlyIncome').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
                  </div>
                </td>
              </tr>
              <!--            <tr>-->
              <!--              <td class="py-0 align-middle">{{ 'PROFILE.MARITAL_STATUS' | translate }}:</td>-->
              <!--              <td class="py-0 text-right">-->
              <!--                <select name="maritalStatus" class="custom-select border-0 w-auto">-->
              <!--                  <option value="">{{ 'COMMON.SINGLE' | translate }}</option>-->
              <!--                </select>-->
              <!--              </td>-->
              <!--            </tr>-->
              <!--            <tr>-->
              <!--              <td class="py-0 align-middle">{{ 'PROFILE.LOOKING_FOR_COTENANCY' | translate }}:</td>-->
              <!--              <td class="py-0 text-right">-->
              <!--                <select name="cotenancy" class="custom-select border-0 w-auto">-->
              <!--                  <option value="">{{ 'COMMON.NO' | translate }}</option>-->
              <!--                </select>-->
              <!--              </td>-->
              <!--            </tr>-->
              <!--            <tr>-->
              <!--              <td class="py-0 align-middle">{{ 'PROFILE.MOVING_WITH_PETS' | translate }}:</td>-->
              <!--              <td class="py-0 text-right">-->
              <!--                <select name="pet" class="custom-select border-0 w-auto">-->
              <!--                  <option value="yes">{{ 'COMMON.YES' | translate }}</option>-->
              <!--                  <option value="no">{{ 'COMMON.NO' | translate }}</option>-->
              <!--                </select>-->
              <!--              </td>-->
              <!--            </tr>-->
              </tbody>
            </table>
          </div>
          <div class="col-lg-6 py-2">
            <div class="education border-bottom pb-4">
              <h5 class="font-weight-bolder">{{ 'COMMON.EDUCATION' | translate }}:</h5>
              <table class="table table-borderless"
                     formArrayName="education">
                <tbody>
                <tr>
                  <td class="pl-0 pt-0 w-50">{{ 'COMMON.NAME_OF_SCHOOL' | translate }}</td>
                  <td class="pr-0 pt-0 w-50">{{ 'COMMON.YEAR_OF_GRADUATION' | translate }}</td>
                </tr>
                <tr *ngFor="let educationEl of education.controls; let i = index"
                    [formGroupName]="i">
                  <td class="pl-0 pt-0">
                    <input type="text"
                           class="form-control"
                           formControlName="nameOfSchool">
                  </td>
                  <td class="pt-0 pr-0">
                    <select class="custom-select"
                            formControlName="yearOfGraduation">
                      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                    </select>
                  </td>
                </tr>
                </tbody>
              </table>
              <a href="javascript:"
                 (click)="addEducation()">+ {{ 'COMMON.ADD_NEW' | translate }}</a>
            </div>
            <div class="social mt-4">
              <h5 class="font-weight-bolder">{{ 'PROFILE.MY_SOCIAL_PROFILES' | translate }}:</h5>
              <p>{{ 'COMMON.CLICK_SOCIAL_ICON' | translate }}</p>
              <table class="table table-borderless"
                     formGroupName="socialMediaAvailabilities">
                <tbody>
                <tr>
                  <td class="pl-0 pt-0">
                    <img src="/assets/images/social/facebook.png"
                         alt=""
                         class="rounded"
                         (click)="loginFacebook()"
                         style="cursor: pointer;">
                  </td>
                  <td class="px-0 pt-0 w-100">
                    <input type="text"
                           class="form-control"
                           placeholder="{{ 'COMMON.CLICK_FACEBOOK' | translate }}"
                           formControlName="facebook"
                           readonly>
                  </td>
                </tr>
                <tr>
                  <td class="pl-0 pt-0">
                    <img src="/assets/images/social/linkedin.png"
                         alt=""
                         class="rounded"
                         style="cursor: pointer;">
                  </td>
                  <td class="px-0 pt-0 w-100">
                    <input type="text"
                           class="form-control"
                           placeholder="{{ 'COMMON.CLICK_LINKEDIN' | translate }}"
                           formControlName="linkedin"
                           readonly>
                  </td>
                </tr>
                <tr>
                  <td class="pl-0 pt-0">
                    <img src="/assets/images/social/instagram.png"
                         alt=""
                         class="rounded"
                         (click)="loginInstagram()"
                         style="cursor: pointer;">
                  </td>
                  <td class="px-0 pt-0 w-100">
                    <input type="text"
                           class="form-control"
                           placeholder="{{ 'COMMON.CLICK_INSTAGRAM' | translate }}"
                           formControlName="instagram"
                           readonly>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group mt-3">
              <label for="other-text"
                     class="h5 font-weight-bolder">{{ 'COMMON.OTHER_INFORMATION' | translate }}:</label>
              <textarea id="other-text"
                        class="form-control"
                        rows="5"
                        maxlength="50"
                        formControlName="otherText"></textarea>
            </div>
            <div class="form-group">
              <label for="free-text-introduction"
                     class="h5 font-weight-bolder">{{ 'COMMON.FREE_TEXT_INTRODUCTION' | translate }}:</label>
              <textarea id="free-text-introduction"
                        rows="5"
                        class="form-control"
                        formControlName="freeTextIntroduction"></textarea>
            </div>
          </div>
          <div class="col-lg-6 mb-3 mb-sm-0">
            <button type="submit"
                    class="btn btn-outline-primary btn-lg w-100">{{ 'COMMON.SAVE' | translate }}</button>
          </div>
          <div class="col-lg-6"
               *ngIf="tenant.feedback.length !== 0">
            <app-feedback [rate]="rate"
                          [number]="feedbackNumber"></app-feedback>
            <div class="feedback mt-4"
                 *ngFor="let feedback of tenant.feedback">
              <div class="client d-flex justify-content-between">
                <span class="client-name font-weight-bold">{{ feedback.landlord.user.firstName }} {{ feedback.landlord.user.lastName }}</span>
                <div class="rating-date d-flex">
                  <ngb-rating [rate]="feedback.feedbackStar"
                              [readonly]="true"
                              max="5"
                              class="item-rating mr-1">
                    <ng-template let-fill="fill">
                      <i class="icon-star-fill"
                         *ngIf="fill === 100"></i>
                      <i class="icon-star"
                         *ngIf="fill !== 100"></i>
                    </ng-template>
                  </ngb-rating>
                  <span class="date">{{ dateFormat(feedback.updatedAt) }}</span>
                </div>
              </div>
              <p class="feedback-content mt-2">
                {{ feedback.feedbackText }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-change-password></app-change-password>
  </form>
</div>
