<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ 'SIGNUP.TITLE' | translate }}</h5>
    <form>
      <div class="main mt-4">
        <div>
          <div class="form-group">
            <label>{{ 'COMMON.I' | translate }}:</label>
            <div class="role">
              <button class="btn btn-outline-primary btn-lg rounded-pill mr-2"
                      [class.active]="isLandlord"
                      (click)="onSelectType(typeLandlord)">{{ 'COMMON.LANDLORD' | translate }}</button>
              <button class="btn btn-outline-primary btn-lg rounded-pill"
                      [class.active]="isTenant"
                      (click)="onSelectType(typeTenant)">{{ 'COMMON.TENANT' | translate }}</button>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <label for="first-name">{{ 'COMMON.FIRST_NAME' | translate }}:</label>
              <input type="text"
                     class="form-control"
                     id="first-name"
                     required>
            </div>
            <div class="form-group col-6">
              <label for="last-name">{{ 'COMMON.LAST_NAME' | translate }}:</label>
              <input type="text"
                     class="form-control"
                     id="last-name"
                     required>
            </div>
          </div>
<!--          <div class="form-group">-->
<!--            <label for="first-name">{{ 'COMMON.FIRST_NAME' | translate }}:</label>-->
<!--            <input type="text"-->
<!--                   class="form-control"-->
<!--                   id="first-name"-->
<!--                   required>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="last-name">{{ 'COMMON.LAST_NAME' | translate }}:</label>-->
<!--            <input type="text"-->
<!--                   class="form-control"-->
<!--                   id="last-name"-->
<!--                   required>-->
<!--          </div>-->
          <div class="form-group">
            <label for="email">{{ 'COMMON.EMAIL' | translate }}:</label>
            <input type="email" class="form-control" id="email" required>
          </div>
          <div class="form-group">
            <label for="password">{{ 'COMMON.PASSWORD' | translate }}:</label>
            <input type="password"
                   name="password"
                   class="form-control"
                   id="password"
                   placeholder="{{ 'COMMON.CHOOSE_SECURE_PASSWORD' | translate }}:"
                   [(ngModel)]="password">
            <ng2-password-strength-bar [passwordToCheck]="password"
                                       [barLabel]="passwordStrengthBarLabel"
                                       [baseColor]="baseColor"></ng2-password-strength-bar>
          </div>
        </div>
      </div>
      <div class="continue mt-sm-5 bg-white d-flex align-items-center">
        <button class="btn btn-primary btn-lg w-100">{{ 'COMMON.CONTINUE' | translate }}</button>
      </div>
    </form>
  </div>
</div>
