<div class="card">
  <div class="card-body">
    <h5 class="card-title" *ngIf="currentStep !== CONFIG_CONST.signupSteps.COMPLETE">{{ 'SIGNUP.TITLE' | translate }}</h5>
    <div class="complete-title text-center" *ngIf="currentStep === CONFIG_CONST.signupSteps.COMPLETE">
      <h2 class="text-success">{{ 'COMMON.CONGRATULATIONS' | translate }}!</h2>
      <p *ngIf="accountType === CONFIG_CONST.accountType.LANDLORD" class="font-size-lg">
        {{ 'COMMON.PROFILE_READY' | translate }}<br>{{ 'COMMON.CAN_ADD_FIRST_UNIT' | translate }}
      </p>
      <p *ngIf="accountType === CONFIG_CONST.accountType.TENANT" class="font-size-lg">
        {{ 'COMMON.PROFILE_READY' | translate }}<br>{{ 'COMMON.CAN_SEARCH_FIRST_UNIT' | translate }}
      </p>
    </div>
    <form>
      <app-signup-type-username (typeSelected)="onSelectAccountType($event)"
                                *ngIf="currentStep === CONFIG_CONST.signupSteps.TYPE_USERNAME"></app-signup-type-username>
      <app-signup-email *ngIf="currentStep === CONFIG_CONST.signupSteps.EMAIL_PRIVACY"></app-signup-email>
      <app-signup-phone-password *ngIf="currentStep === CONFIG_CONST.signupSteps.PHONE_PASSWORD"></app-signup-phone-password>
      <app-signup-birth-nationality *ngIf="currentStep === CONFIG_CONST.signupSteps.BIRTH_NATIONALITY"></app-signup-birth-nationality>
      <app-signup-person-agency *ngIf="currentStep === CONFIG_CONST.signupSteps.PERSON_AGENCY"></app-signup-person-agency>
      <app-signup-rental-city *ngIf="currentStep === CONFIG_CONST.signupSteps.RENTAL_CITY"></app-signup-rental-city>
      <app-signup-education *ngIf="currentStep === CONFIG_CONST.signupSteps.EDUCATION"></app-signup-education>
      <app-signup-occupation *ngIf="currentStep === CONFIG_CONST.signupSteps.OCCUPATION"></app-signup-occupation>
      <app-signup-other-instruction *ngIf="currentStep === CONFIG_CONST.signupSteps.OTHER_INSTRUCTION"></app-signup-other-instruction>

      <app-signup-complete *ngIf="currentStep === CONFIG_CONST.signupSteps.COMPLETE" [accountType]="accountType"></app-signup-complete>

      <div class="continue mt-sm-5 bg-white d-flex align-items-center"
           *ngIf="currentStep !== CONFIG_CONST.signupSteps.COMPLETE">
        <span class="icon-left-circle mr-4"
              *ngIf="stepNo > 0"
              (click)="previewStep()"></span>
        <button class="btn btn-primary btn-lg w-100"
                (click)="nextStep()">{{ 'COMMON.CONTINUE' | translate }}</button>
      </div>
    </form>
  </div>
</div>
