@import "~src/assets/styles/scss/variables";

.card {
  margin-bottom: 70px;

  .card-title {
    line-height: 1.5;
  }

  .language {
    .dropdown-menu {
      top: 100% !important;
      right: 0 !important;
      left: auto !important;
      transform: none !important;
    }

    .flag-icon {
      background-size: 100%;
    }
  }

  .continue {
    @include media-breakpoint-down(xs) {
      position: fixed;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 15px;
    }
  }
}
