<div class="tenants-profile position-relative">
  <div class="back mb-sm-4 d-sm-block d-none">
    <button class="btn btn-back"
            (click)="onBack()">
      <i class="icon-left h4 align-middle mb-0"></i>
      {{ 'COMMON.BACK' | translate }}
    </button>
  </div>
  <div class="avatar">
    <i class="icon-left position-absolute h4 mb-0 d-sm-none"
       (click)="onBack()"></i>
    <img src="/assets/images/profile/tenant.png"
         alt="Avatar">
  </div>
  <div class="card profile-info">
    <div class="card-body">
      <div class="row">
        <div class="col-md-8 col-sm-9">
          <div class="row name-info">
            <div class="col-sm-12 col-8 pr-0">
              <h1 class="name font-weight-bolder">Kate Tomlins</h1>
              <p class="info text-muted font-weight-bold"><span class="font-size-lg font-weight-bolder">23</span>, Student @ University of Debrecen</p>
            </div>
            <div class="col-sm-12 col-4 text-sm-left text-right pl-0 pl-sm-3">
              <p class="role text-muted font-weight-bold">{{ 'PROFILE.SINGLE_TENANT' | translate }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <div class="profile-complete w-100">
                <div class="profile-status d-flex justify-content-between font-weight-bold mb-2">
                  <span>{{ 'PROFILE.PROFILE_COMPLETION' | translate }}:</span>
                  <span>9/12</span>
                </div>
                <p><ngb-progressbar [value]="75" height="10px"></ngb-progressbar></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-3 text-right py-2">
          <button class="btn btn-outline-primary btn-lg">{{ 'COMMON.SAVE_TO_FAVORITES' | translate }}</button>
        </div>
      </div>
      <div class="row d-none d-sm-block">
        <div class="col-12 mt-3">
          <h5 class="font-weight-bolder">{{ 'COMMON.OTHER_INFORMATION' | translate }}:</h5>
          <p>
            I usually like lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
        <div class="col-12 mt-3">
          <h5 class="font-weight-bolder">{{ 'COMMON.FREE_TEXT_INTRODUCTION' | translate }}:</h5>
          <p>
            I’d like to rent a lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-sm-4">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6 py-2">
          <table class="table">
            <tbody>
              <tr>
                <td class="border-top-0">{{ 'COMMON.EMAIL' | translate }}:</td>
                <td class="border-top-0 font-weight-bold text-right">test@test.com</td>
              </tr>
              <tr>
                <td>{{ 'COMMON.PHONE_MOBILE_NUMBER' | translate }}:</td>
                <td class="font-weight-bold text-right">+79876543210</td>
              </tr>
              <tr>
                <td>{{ 'COMMON.DATE_OF_BIRTH' | translate }}:</td>
                <td class="font-weight-bold text-right">1991-3-30</td>
              </tr>
              <tr>
                <td>{{ 'COMMON.PLACE_OF_BIRTH' | translate }}:</td>
                <td class="font-weight-bold text-right">US</td>
              </tr>
              <tr>
                <td>{{ 'COMMON.NATIONALITY' | translate }}:</td>
                <td class="font-weight-bold text-right">US</td>
              </tr>
<!--              <tr>-->
<!--                <td>{{ 'COMMON.OCCUPATION' | translate }}:</td>-->
<!--                <td class="font-weight-bold text-right">{{ 'COMMON.STUDENT' | translate }}</td>-->
<!--              </tr>-->
              <tr>
                <td>{{ 'COMMON.MONTHLY_INCOME' | translate }}:</td>
                <td class="font-weight-bold text-right">400-500k HUF</td>
              </tr>
<!--              <tr>-->
<!--                <td>{{ 'PROFILE.MARITAL_STATUS' | translate }}:</td>-->
<!--                <td class="font-weight-bold text-right">{{ 'COMMON.SINGLE' | translate }}</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>{{ 'PROFILE.LOOKING_FOR_COTENANCY' | translate }}:</td>-->
<!--                <td class="font-weight-bold text-right">{{ 'COMMON.NO' | translate }}</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>{{ 'PROFILE.MOVING_WITH_PETS' | translate }}:</td>-->
<!--                <td class="font-weight-bold text-right">1 {{ 'COMMON.CAT' | translate }}</td>-->
<!--              </tr>-->
              <tr>
                <td>{{ 'PROFILE.SPOKEN_LANGUAGE' | translate }}:</td>
                <td class="font-weight-bold text-right">{{ 'COMMON.ENGLISH' | translate }}, {{ 'COMMON.SPANISH' | translate }}</td>
              </tr>
              <tr>
                <td>{{ 'COMMON.CURRENT_CITY' | translate }}:</td>
                <td class="font-weight-bold text-right">Washington</td>
              </tr>
              <tr>
                <td>{{ 'COMMON.HIGHEST_LEVEL_OF_QUALIFICATION' | translate }}:</td>
                <td class="font-weight-bold text-right">{{ 'COMMON.ELEMENTARY_SCHOOL' | translate }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12 d-sm-none py-2">
          <div class="card-sm-screen">
            <h5 class="font-weight-bolder">{{ 'COMMON.OTHER_INFORMATION' | translate }}:</h5>
            <p>
              I usually like lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
        </div>
        <div class="col-12 d-sm-none py-2">
          <div class="card-sm-screen">
            <h5 class="font-weight-bolder">{{ 'COMMON.FREE_TEXT_INTRODUCTION' | translate }}:</h5>
            <p>
              I’d like to rent a lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </p>
          </div>
        </div>
        <div class="col-sm-6 py-2">
          <div class="education border-bottom">
            <h5 class="font-weight-bolder">{{ 'COMMON.EDUCATION' | translate }}:</h5>
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td class="font-weight-bold pl-0">St. Jones Elementary Barstow</td>
                  <td class="text-right pr-0">2001-2009</td>
                </tr>
                <tr>
                  <td class="font-weight-bold pl-0">Conley-Caraballo High School, Hayward</td>
                  <td class="text-right pr-0">2009-2013</td>
                </tr>
                <tr>
                  <td class="font-weight-bold pl-0">University of Debrecen - IT Engineering</td>
                  <td class="text-right pr-0">2016-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="work mt-4">
            <h5 class="font-weight-bolder">{{ 'COMMON.WORK' | translate }}:</h5>
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td class="pl-0"><span class="font-weight-bold">Volunteer</span> @ St. Jones Community Learning Center</td>
                  <td class="text-right pr-0">2013-2016</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="social mt-4">
            <h5 class="font-weight-bolder">{{ 'PROFILE.MY_SOCIAL_PROFILES' | translate }}:</h5>
            <ul class="list-inline">
              <li class="list-inline-item">
                <img src="/assets/images/social/facebook.png" alt="" class="img-fluid">
              </li>
              <li class="list-inline-item">
                <img src="/assets/images/social/twitter.png" alt="" class="img-fluid">
              </li>
              <li class="list-inline-item">
                <img src="/assets/images/social/twitch.png" alt="" class="img-fluid">
              </li>
              <li class="list-inline-item">
                <img src="/assets/images/social/youtube.png" alt="" class="img-fluid">
              </li>
              <li class="list-inline-item">
                <img src="/assets/images/social/instagram.png" alt="" class="img-fluid">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
