<div class="tenants-profile position-relative"
     *ngIf="tenant">
  <div class="back mb-sm-4 d-sm-block d-none">
    <button class="btn btn-back"
            (click)="onBack()">
      <i class="icon-left h4 align-middle mb-0"></i>
      {{ 'COMMON.BACK' | translate }}
    </button>
  </div>
  <div class="avatar">
    <i class="icon-left position-absolute h4 mb-0 d-sm-none"
       (click)="onBack()"></i>
    <img [src]="tenant.profilePicture ? uploadBase + tenant.profilePicture : '/assets/images/profile/blank.png'"
         alt="Avatar">
  </div>
  <div class="card profile-info">
    <div class="card-body">
      <div class="row">
        <div class="col-md-8 col-sm-9">
          <div class="row name-info">
            <div class="col-sm-12 col-8 pr-0">
              <h1 class="name font-weight-bolder">
                {{ tenant.user.firstName }} {{ tenant.user.lastName }}
                <span class="text-danger"
                      *ngIf="tenant.status === 'deleted'">({{ 'COMMON.DELETED' | translate }})</span>
              </h1>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-sm-8">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-3 text-right py-2">
          <button class="btn btn-outline-primary btn-lg">{{ 'COMMON.SAVE_TO_FAVORITES' | translate }}</button>
        </div>
      </div>
      <div class="row d-none d-sm-block">
        <div class="col-12 mt-3">
          <h5 class="font-weight-bolder">{{ 'COMMON.OTHER_INFORMATION' | translate }}:</h5>
          <p>
            {{ tenant.otherText }}
          </p>
        </div>
        <div class="col-12 mt-3">
          <h5 class="font-weight-bolder">{{ 'COMMON.FREE_TEXT_INTRODUCTION' | translate }}:</h5>
          <p>
            {{ tenant.freeTextIntroduction }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-sm-4">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6 py-2">
          <table class="table">
            <tbody>
              <tr>
                <td class="border-top-0">{{ 'COMMON.EMAIL' | translate }}:</td>
                <td class="border-top-0 font-weight-bold text-right">{{ tenant.user.email }}</td>
              </tr>
              <tr>
                <td>{{ 'COMMON.PHONE_MOBILE_NUMBER' | translate }}:</td>
                <td class="font-weight-bold text-right">{{ tenant.mobile }}</td>
              </tr>
              <tr>
                <td>{{ 'COMMON.PLACE_OF_BIRTH' | translate }}:</td>
                <td class="font-weight-bold text-right">{{ tenant.placeOfBirth }}</td>
              </tr>
              <tr>
                <td>{{ 'COMMON.DATE_OF_BIRTH' | translate }}:</td>
                <td class="font-weight-bold text-right">{{ !!tenant.dateOfBirth ? (tenant.dateOfBirth | dateToString) : '' }}</td>
              </tr>
              <tr>
                <td>{{ 'COMMON.NATIONALITY' | translate }}:</td>
                <td class="font-weight-bold text-right">
                  {{ !!tenant.nationality ? countries[tenant.nationality] : '' }}
                </td>
              </tr>
              <tr>
                <td>{{ 'PROFILE.SPOKEN_LANGUAGE' | translate }}:</td>
                <td class="font-weight-bold text-right">
                  <ng-container *ngIf="!!tenant.spokenLanguages && tenant.spokenLanguages.length !== 0">
                    <span *ngFor="let item of tenant.spokenLanguages; let i = index">
                      {{ userConfig.spokenLanguages[tenant.spokenLanguages[i]] | translate }}
                    </span>
                  </ng-container>
                </td>
              </tr>
              <tr>
                <td>{{ 'COMMON.CURRENT_CITY' | translate }}:</td>
                <td class="font-weight-bold text-right">{{ tenant.currentCity }}</td>
              </tr>
              <tr>
                <td>{{ 'COMMON.HIGHEST_LEVEL_OF_QUALIFICATION' | translate }}:</td>
                <td class="font-weight-bold text-right">
                  {{ !!tenant.highestLevelOfQualification ? (userConfig.highestLevelOfQualification[tenant.highestLevelOfQualification] | translate) : '' }}
                </td>
              </tr>
              <tr>
                <td>{{ 'COMMON.JOB_TITLE' | translate }}:</td>
                <td class="font-weight-bold text-right">
                  <span *ngFor="let jobTitle of tenant.jobTitle">{{ jobTitle }} </span>
                </td>
              </tr>
              <tr>
                <td>{{ 'COMMON.IF_UNIVERSITY_STUDENT_THEN_WHICH_SPECIALITY' | translate }}:</td>
                <td class="font-weight-bold text-right">{{ tenant.universitySpeciality }}</td>
              </tr>
              <tr>
                <td>{{ 'COMMON.CURRENT_WORKPLACE' | translate }}:</td>
                <td class="font-weight-bold text-right">{{ tenant.currentWorkplace }}</td>
              </tr>
              <tr>
                <td>{{ 'COMMON.FORMER_WORKPLACES' | translate }}:</td>
                <td class="font-weight-bold text-right">
                  <span *ngFor="let formerWorkplace of tenant.formerWorkplaces">{{ formerWorkplace }} </span>
                </td>
              </tr>
              <tr>
                <td>{{ 'COMMON.CURRENT_WORKPLACE' | translate }}:</td>
                <td class="font-weight-bold text-right">{{ tenant.currentWorkplace }}</td>
              </tr>
              <tr>
                <td>{{ 'COMMON.MONTHLY_INCOME' | translate }}:</td>
                <td class="font-weight-bold text-right">
                  {{ !!tenant.monthlyIncome ? userConfig.monthlyIncome[tenant.monthlyIncome] : '' }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12 d-sm-none py-2">
          <div class="card-sm-screen">
            <h5 class="font-weight-bolder">{{ 'COMMON.OTHER_INFORMATION' | translate }}:</h5>
            <p>
              {{ tenant.otherText }}
            </p>
          </div>
        </div>
        <div class="col-12 d-sm-none py-2">
          <div class="card-sm-screen">
            <h5 class="font-weight-bolder">{{ 'COMMON.FREE_TEXT_INTRODUCTION' | translate }}:</h5>
            <p>
              {{ tenant.freeTextIntroduction }}
            </p>
          </div>
        </div>
        <div class="col-lg-6 py-2">
          <div class="education border-bottom">
            <h5 class="font-weight-bolder">{{ 'COMMON.EDUCATION' | translate }}:</h5>
            <table class="table table-borderless">
              <tbody>
                <tr *ngFor="let education of tenant.education">
                  <td class="font-weight-bold pl-0">{{ education.nameOfSchool }}</td>
                  <td class="text-right pr-0">{{ education.yearOfGraduation }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="social mt-4">
            <h5 class="font-weight-bolder">{{ 'PROFILE.MY_SOCIAL_PROFILES' | translate }}:</h5>
            <ul class="list-inline">
              <li class="list-inline-item">
                <img src="/assets/images/social/facebook.png" alt="" class="img-fluid">
              </li>
              <li class="list-inline-item">
                <img src="/assets/images/social/twitter.png" alt="" class="img-fluid">
              </li>
              <li class="list-inline-item">
                <img src="/assets/images/social/twitch.png" alt="" class="img-fluid">
              </li>
              <li class="list-inline-item">
                <img src="/assets/images/social/youtube.png" alt="" class="img-fluid">
              </li>
              <li class="list-inline-item">
                <img src="/assets/images/social/instagram.png" alt="" class="img-fluid">
              </li>
            </ul>
          </div>
          <div class="feedback mt-5"
               *ngIf="tenant.feedback.length !== 0">
            <app-feedback [rate]="rate"
                          [number]="feedbackNumber"></app-feedback>
            <div class="feedback mt-4"
                 *ngFor="let feedback of tenant.feedback">
              <div class="client d-flex justify-content-between">
                <span class="client-name font-weight-bold">
                  {{ feedback.landlord.user.firstName }} {{ feedback.landlord.user.lastName }}
                  <span class="text-danger"
                        *ngIf="feedback.landlord.status === 'deleted'">({{ 'COMMON.DELETED' | translate }})</span>
                </span>
                <div class="rating-date d-flex">
                  <ngb-rating [rate]="feedback.feedbackStar.overall"
                              [readonly]="true"
                              max="5"
                              class="item-rating mr-1">
                    <ng-template let-fill="fill">
                      <i class="icon-star-fill"
                         *ngIf="fill === 100"></i>
                      <i class="icon-star"
                         *ngIf="fill !== 100"></i>
                    </ng-template>
                  </ngb-rating>
                  <span class="date">{{ dateFormat(feedback.updatedAt) }}</span>
                </div>
              </div>
              <p class="feedback-content mt-2">
                {{ feedback.feedbackText }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
