<form [formGroup]="passwordForm"
      (ngSubmit)="submit()">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="form-group">
        <label for="current-password"
               class="font-weight-normal font-size-base">{{ 'COMMON.CURRENT_PASSWORD' | translate }}</label>
        <input type="password"
               id="current-password"
               class="form-control"
               formControlName="currentPassword">
        <div class="invalid-feedback d-block"
             *ngIf="passwordForm.get('currentPassword').invalid && (passwordForm.get('currentPassword').dirty || passwordForm.get('currentPassword').touched)">
          <span *ngIf="passwordForm.get('currentPassword').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
        </div>
        <div class="invalid-feedback d-block"
             *ngIf="passwordInvalid">
          <span>{{ 'ERROR.' + message | translate }}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="new-password"
               class="font-weight-normal font-size-base">{{ 'COMMON.NEW_PASSWORD' | translate }}</label>
        <input type="password"
               id="new-password"
               class="form-control"
               formControlName="password">
        <div class="invalid-feedback d-block"
             *ngIf="passwordForm.get('password').invalid && (passwordForm.get('password').dirty || passwordForm.get('password').touched)">
          <span *ngIf="passwordForm.get('password').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
          <span *ngIf="passwordForm.get('password').errors.minlength">{{ 'ERROR.MIN_PASSWORD' | translate }}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="confirm-password"
               class="font-weight-normal font-size-base">{{ 'COMMON.REPEAT_NEW_PASSWORD' | translate }}</label>
        <input type="password"
               id="confirm-password"
               class="form-control"
               formControlName="confirmPassword">
        <div class="invalid-feedback d-block"
             *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)">
          <span *ngIf="passwordForm.get('confirmPassword').errors.equalTo">{{ 'ERROR.PASSWORD_NOT_MATCH' | translate }}</span>
        </div>
      </div>
    </div>
    <div class="col-3 position-relative">
      <button type="submit" class="btn btn-primary position-absolute">{{ 'COMMON.SAVE' | translate }}</button>
    </div>
  </div>
</form>
