<form [formGroup]="passwordForm"
      (ngSubmit)="submit()">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="form-group">
        <label for="current-password"
               class="font-weight-normal font-size-base">{{ 'COMMON.CURRENT_PASSWORD' | translate }}</label>
        <input type="password"
               id="current-password"
               class="form-control"
               formControlName="currentPassword">
      </div>
      <div class="form-group">
        <label for="new-password"
               class="font-weight-normal font-size-base">{{ 'COMMON.NEW_PASSWORD' | translate }}</label>
        <input type="password"
               id="new-password"
               class="form-control"
               formControlName="newPassword">
      </div>
      <div class="form-group">
        <label for="confirm-password"
               class="font-weight-normal font-size-base">{{ 'COMMON.REPEAT_NEW_PASSWORD' | translate }}</label>
        <input type="password"
               id="confirm-password"
               class="form-control"
               formControlName="confirmPassword">
      </div>
    </div>
    <div class="col-3 position-relative">
      <button type="submit" class="btn btn-primary position-absolute">{{ 'COMMON.SAVE' | translate }}</button>
    </div>
  </div>
</form>
