@import "~src/assets/styles/scss/variables";

.auth {
  @include media-breakpoint-up(sm) {
    background: url("/assets/images/banner.png") no-repeat;
    background-size: 100%;
  }

  .logo {
    img {
      width: 45px;
    }
  }
}
