@import "~src/assets/styles/scss/variables";

.number {
  width: 2.6rem;
  height: 2.6rem;
  background-color: $blue;
  color: $white;
  font-family: NeueEinstellung-Bold;
}

.form-control {
  width: 87%;
}
