<div class="signup-birth-nationality">
  <!--  <div class="form-group">-->
  <!--    <label for="gender">{{ 'COMMON.YOUR_GENDER' | translate }}:</label>-->
  <!--    <select name="gender" class="custom-select" id="gender">-->
  <!--      <option value="male">{{ 'COMMON.MALE' | translate }}</option>-->
  <!--      <option value="female">{{ 'COMMON.FEMALE' | translate }}</option>-->
  <!--    </select>-->
  <!--  </div>-->
  <!--  <div class="form-group">-->
  <!--    <label for="monthly">{{ 'COMMON.MONTHLY_INCOME' | translate }}:</label>-->
  <!--    <select name="monthly" class="custom-select" id="monthly">-->
  <!--      <option value="">{{ 'COMMON.CHOOSE_MONTHLY_INCOME' | translate }}:</option>-->
  <!--    </select>-->
  <!--  </div>-->
  <div class="form-group">
    <label for="birth-place">{{ 'COMMON.PLACE_OF_BIRTH' | translate }}:</label>
    <input type="text" class="form-control" id="birth-place">
  </div>
  <div class="form-group">
    <label>{{ 'COMMON.DATE_OF_BIRTH' | translate }}:</label>
    <div class="form-row">
      <div class="form-group col">
        <select name="day" class="custom-select">
          <option value="">{{ 'COMMON.DAY' | translate }}</option>
        </select>
      </div>
      <div class="form-group col">
        <select name="month" class="custom-select">
          <option value="">{{ 'COMMON.MONTH' | translate }}</option>
        </select>
      </div>
      <div class="form-group col">
        <select name="year" class="custom-select">
          <option value="">{{ 'COMMON.YEAR' | translate }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>{{ 'COMMON.NATIONALITY' | translate }}:</label>
    <ng-select [items]="monthly"
               [multiple]="true"
               [closeOnSelect]="false"></ng-select>
  </div>
  <div class="form-group">
    <label>{{ 'PROFILE.SPOKEN_LANGUAGE' | translate }}:</label>
    <ng-select [items]="spokenLanguages"
               [multiple]="true"
               [closeOnSelect]="false"></ng-select>
  </div>
</div>
