<h1 matDialogTitle>{{data.title}}</h1>

<form [formGroup]="itemForm" (ngSubmit)="submit()">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">

    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
          matInput
          type="number"
          name="rentalFee"
          formControlName="rentalFee"
          placeholder="Rental Fee">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
          matInput
          type="number"
          name="overhead"
          formControlName="overhead"
          placeholder="Overhead">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
          matInput
          type="number"
          name="minRentingTime"
          formControlName="minRentingTime"
          placeholder="Minimum Renting Time(months)">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input matInput [matDatepicker]="datepickerOfMovingIn" name="dateOfMovingIn" placeholder="Date Of Moving in" formControlName="dateOfMovingIn">
        <mat-datepicker-toggle matSuffix [for]="datepickerOfMovingIn"></mat-datepicker-toggle>
        <mat-datepicker #datepickerOfMovingIn></mat-datepicker>
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pt-1 pr-1">
      <mat-slide-toggle formControlName="movingWith">Moving with?</mat-slide-toggle>
    </div>

    <div fxFlex="50"  class="pt-1 pr-1">
      <mat-slide-toggle formControlName="movingWithPets">Moving with pets?</mat-slide-toggle>
    </div>

    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <input
          matInput
          name="typeOfTenants"
          formControlName="typeOfTenants"
          placeholder="Type Of Tenants">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-1">
      <mat-form-field class="full-width">
        <mat-label>Tenant</mat-label>
        <mat-select formControlName="tenant">
          <mat-option *ngFor="let tenantItem of tenants" [value]="tenantItem._id">
            {{tenantItem.firstName + ' ' + tenantItem.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="100"  class="pr-1">
      <mat-form-field class="full-width">
        <textarea
          matInput
          name="whyChooseMe"
          formControlName="whyChooseMe"
          placeholder="Why choose me?">
        </textarea>
      </mat-form-field>
    </div>

    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary" [disabled]="itemForm.invalid" type="submit" (submit)="submit()">SAVE</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
    </div>
  </div>
</form>
