<form [formGroup]="emailForm"
      (ngSubmit)="submit()">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="form-group">
        <label for="email"
               class="font-weight-normal font-size-base">{{ 'COMMON.NEW_EMAIL_ADDRESS' | translate }}</label>
        <input type="email"
               id="email"
               class="form-control"
               formControlName="email">
        <div class="invalid-feedback d-block"
             *ngIf="emailForm.get('email').invalid && (emailForm.get('email').dirty || emailForm.get('email').touched)">
          <span *ngIf="emailForm.get('email').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
          <span *ngIf="emailForm.get('email').errors.email">{{ 'ERROR.INVALID_EMAIL' | translate }}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="password"
               class="font-weight-normal font-size-base">{{ 'COMMON.CURRENT_PASSWORD' | translate }}</label>
        <input type="password"
               id="password"
               class="form-control"
               formControlName="currentPassword">
        <div class="invalid-feedback d-block"
             *ngIf="emailForm.get('currentPassword').invalid && (emailForm.get('currentPassword').dirty || emailForm.get('currentPassword').touched)">
          <span *ngIf="emailForm.get('currentPassword').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
        </div>
        <div class="invalid-feedback d-block"
             *ngIf="passwordInvalid">
          <span>{{ 'ERROR.' + message | translate }}</span>
        </div>
      </div>
    </div>
    <div class="col-3 position-relative">
      <button type="submit" class="btn btn-primary position-absolute">{{ 'COMMON.SAVE' | translate }}</button>
    </div>
  </div>
</form>
