<div class="card">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
    <form>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email"
               class="form-control"
               id="email"
               placeholder="Your email:">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password"
               class="form-control"
               id="password"
               placeholder="Your password:">
      </div>
      <div class="link text-center">
        <div class="forgot-password my-4">
          <a href="#">Forgot password?</a>
        </div>
        <div class="new-user">
          <a routerLink="/auth/signup">New user? Sign up here.</a>
        </div>
      </div>
      <div class="continue mt-sm-5 bg-white">
        <button class="btn btn-primary w-100">Continue</button>
      </div>
    </form>
  </div>
</div>
