<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ 'LOGIN.LOGIN' | translate }}</h5>
    <form>
      <div class="form-group">
        <label for="email">{{ 'COMMON.EMAIL' | translate }}:</label>
        <input type="email"
               class="form-control"
               id="email"
               placeholder="{{ 'COMMON.YOUR_EMAIL' | translate }}:">
      </div>
      <div class="form-group">
        <label for="password">{{ 'COMMON.PASSWORD' | translate }}:</label>
        <input type="password"
               class="form-control"
               id="password"
               placeholder="{{ 'COMMON.YOUR_PASSWORD' | translate }}:">
      </div>
      <div class="link text-center">
        <div class="forgot-password my-4">
          <a href="#">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</a>
        </div>
        <div class="new-user">
          <a routerLink="/signup">{{ 'LOGIN.NEW_USER' | translate }}</a>
        </div>
      </div>
      <div class="continue mt-sm-5 bg-white">
        <button class="btn btn-primary w-100">{{ 'COMMON.CONTINUE' | translate }}</button>
      </div>
    </form>
  </div>
</div>
