<div class="my-properties">
  <div class="mb-4 mt-sm-0 mt-3">
    <h4>{{ 'COMMON.AVAILABLE_FOR_RENT_NEAR_YOU' | translate }}</h4>
  </div>
  <div class="row">
    <app-apartment-item class="col-sm-6 py-3"
                        [imgUrl]="'/assets/images/apartment/apartment1.png'"
                        [name]="'Luxury apartment in the heart of Budapest'"
                        [explain]="'Classic Lorem Ipsum text contains Latin words derived from the works of Cicero. According to…'"
                        [mo]="389000"
                        [square]="140"
                        [rooms]="4"
                        [data]="98"
                        [topRated]="true"></app-apartment-item>
    <app-apartment-item class="col-sm-6 py-3"
                        [imgUrl]="'/assets/images/apartment/apartment2.png'"
                        [name]="'2 room loft near university for students'"
                        [explain]="'Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries.'"
                        [mo]="195000"
                        [square]="66"
                        [rooms]="2"
                        [data]="65"
                        [topRated]="false"></app-apartment-item>
  </div>
</div>
