<div class="landlords-profile-edit position-relative">
  <div class="back mb-sm-4 d-sm-block d-none">
    <button class="btn btn-back">
      <i class="icon-left h4 align-middle mb-0"></i>
      Vissza
    </button>
  </div>
  <div class="avatar">
    <i class="icon-left position-absolute h4 mb-0 d-sm-none"></i>
    <img src="/assets/images/profile/landlord.png"
         alt="Avatar">
  </div>
  <div class="card profile-info">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="row name-info">
            <div class="col-sm-12 col-8 pr-0">
              <h1 class="name font-weight-bolder">Peter Kovacs</h1>
              <p class="info text-muted font-weight-bold">{{ 'PROFILE.OWNER' | translate }}</p>
            </div>
            <div class="col-sm-12 col-4 text-sm-left text-right pl-0 pl-sm-3">
              <p class="role text-muted font-weight-bold">{{ 'PROFILE.SINGLE_TENANT' | translate }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <div class="profile-complete w-100">
                <div class="profile-status d-flex justify-content-between font-weight-bold mb-2">
                  <span>{{ 'PROFILE.PROFILE_COMPLETION' | translate }}:</span>
                  <span>11/12</span>
                </div>
                <p><ngb-progressbar [value]="92" height="10px"></ngb-progressbar></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 py-2">
          <div class="button-group text-sm-right py-2">
            <button class="btn btn-outline-primary btn-lg mb-sm-3">{{ 'COMMON.SETTINGS' | translate }}</button>
            <button class="btn btn-outline-primary btn-lg">{{ 'COMMON.VIEW_AS' | translate }}...</button>
          </div>
          <table class="table">
            <tbody>
            <tr>
              <td class="border-top-0">{{ 'COMMON.NATIONALITY' | translate }}:</td>
              <td class="text-right border-top-0 py-0">
                <select class="custom-select border-0 w-auto">
                  <option value="">US</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>{{ 'PROFILE.SPOKEN_LANGUAGE' | translate }}:</td>
              <td class="text-right py-0">
                <select class="custom-select border-0 w-auto">
                  <option value="">{{ 'COMMON.ENGLISH' | translate }}</option>
                </select>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-sm-4">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="rating d-inline-flex align-items-center justify-content-between mb-3">
            <ngb-rating [rate]="5"
                        [readonly]="true"
                        max="5"
                        class="all-rating mr-2">
              <ng-template let-fill="fill">
                <i class="icon-star-fill"
                   *ngIf="fill === 100"></i>
                <i class="icon-star"
                   *ngIf="fill !== 100"></i>
              </ng-template>
            </ngb-rating>
            <div class="rating-text">
              <span class="font-size-lg font-weight-bold">5 star rating</span><br>
              <span>(Based on 2 ratings)</span>
            </div>
          </div>
          <div class="feedback">
            <div class="client d-flex justify-content-between">
              <span class="client-name font-weight-bold">Kelsey Taylor</span>
              <div class="rating-date d-flex">
                <ngb-rating [rate]="5"
                            [readonly]="true"
                            max="5"
                            class="item-rating mr-1">
                  <ng-template let-fill="fill">
                    <i class="icon-star-fill"
                       *ngIf="fill === 100"></i>
                    <i class="icon-star"
                       *ngIf="fill !== 100"></i>
                  </ng-template>
                </ngb-rating>
                <span class="date">2019.07.12</span>
              </div>
            </div>
            <p class="feedback-content mt-2">
              Peter has been really a lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </p>
          </div>
          <div class="feedback mt-4">
            <div class="client d-flex justify-content-between">
              <span class="client-name font-weight-bold">Kate Tomlins</span>
              <div class="rating-date d-flex">
                <ngb-rating [rate]="5"
                            [readonly]="true"
                            max="5"
                            class="item-rating mr-1">
                  <ng-template let-fill="fill">
                    <i class="icon-star-fill"
                       *ngIf="fill === 100"></i>
                    <i class="icon-star"
                       *ngIf="fill !== 100"></i>
                  </ng-template>
                </ngb-rating>
                <span class="date">2019.08.24</span>
              </div>
            </div>
            <p class="feedback-content mt-2">
              We had a lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </p>
          </div>
        </div>
        <div class="col-sm-6 text-sm-right text-center">
          <button class="btn btn-primary btn-lg">{{ 'COMMON.MANAGE_MY_PROPERTIES' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
