<form [formGroup]="lastNameForm"
      (ngSubmit)="submit()">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="form-group">
        <label for="lastName"
               class="font-weight-normal font-size-base">{{ 'COMMON.NEW_LAST_NAME' | translate }}</label>
        <input type="text"
               id="lastName"
               class="form-control"
               formControlName="lastName">
      </div>
    </div>
    <div class="col-3 position-relative">
      <button type="submit" class="btn btn-primary position-absolute">{{ 'COMMON.SAVE' | translate }}</button>
    </div>
  </div>
</form>
