@import "~src/assets/styles/scss/variables";

.signup-general {
  .btn-facebook {
    background-color: #3b5998;
    color: $white;

    &:hover {
      background-color: #31497d;
    }

    &:active {
      background-color: #2f4473;
    }
  }

  .or {
    width: 50%;
    border-bottom: 2px dashed #979797;
    line-height: .5rem;

    span {
      background-color: $white;
    }
  }

  .take-minutes {
    font-family: NeueEinstellung-Bold;
  }

  .role {
    button {
      font-family: NeueEinstellung-Medium;
      color: $gray-900;

      &.active, &:hover {
        color: $white;
      }
    }
  }
}
