@font-face {
  font-family: NeueEinstellung;
  src: url("/assets/fonts/NeueEinstellung/NeueEinstellung-Normal.woff");
}

@font-face {
  font-family: NeueEinstellung-Black;
  src: url("/assets/fonts/NeueEinstellung/NeueEinstellung-Black.woff");
}

@font-face {
  font-family: NeueEinstellung-Bold;
  src: url("/assets/fonts/NeueEinstellung/NeueEinstellung-Bold.woff");
}

@font-face {
  font-family: NeueEinstellung-ExtraBold;
  src: url("/assets/fonts/NeueEinstellung/NeueEinstellung-ExtraBold.woff");
}

@font-face {
  font-family: NeueEinstellung-Light;
  src: url("/assets/fonts/NeueEinstellung/NeueEinstellung-Light.woff");
}

@font-face {
  font-family: NeueEinstellung-Medium;
  src: url("/assets/fonts/NeueEinstellung/NeueEinstellung-Medium.woff");
}

@font-face {
  font-family: NeueEinstellung-SemiBold;
  src: url("/assets/fonts/NeueEinstellung/NeueEinstellung-SemiBold.woff");
}

@font-face {
  font-family: NeueEinstellung-Thin;
  src: url("/assets/fonts/NeueEinstellung/NeueEinstellung-Thin.woff");
}

@font-face {
  font-family: NeueEinstellung-Regular;
  src: url("/assets/fonts/NeueEinstellung/NeueEinstellung-Regular.woff");
}

[data-icon],
[class^="icon-"],
[class*=" icon-"]{
  display: inline-flex;
}
