<form [formGroup]="firstNameForm"
      (ngSubmit)="submit()">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="form-group">
        <label for="firstName"
               class="font-weight-normal font-size-base">{{ 'COMMON.NEW_FIRST_NAME' | translate }}</label>
        <input type="text"
               id="firstName"
               class="form-control"
               formControlName="firstName">
        <div class="invalid-feedback d-block" *ngIf="firstNameForm.get('firstName').invalid && (firstNameForm.get('firstName').dirty || firstNameForm.get('firstName').touched)">
          <span *ngIf="firstNameForm.get('firstName').errors.required">{{ 'ERROR.FIELD_REQUIRED' | translate }}</span>
          <span *ngIf="firstNameForm.get('firstName').errors.maxlength">{{ 'ERROR.MAX_FIRSTNAME' | translate }}</span>
        </div>
      </div>
    </div>
    <div class="col-3 position-relative">
      <button type="submit"
              class="btn btn-primary position-absolute">{{ 'COMMON.SAVE' | translate }}</button>
    </div>
  </div>
</form>
