<div class="search-apartment d-flex flex-column justify-content-between"
     [class.toggled]="toggled">
  <div class="search-apartment-content">
    <div class="d-flex justify-content-between align-items-center mb-4 mt-sm-0 mt-3">
      <h4>{{ 'COMMON.AVAILABLE_FOR_RENT_NEAR_YOU' | translate }}</h4>
      <button class="btn btn-search d-flex justify-content-between align-items-center text-left font-weight-bold"
              (click)="toggled = true">
        <span class="d-sm-inline d-none">{{ 'SEARCH.FILTERED_SEARCH' | translate }}</span>
        <i class="icon-ellipsis"></i>
      </button>
    </div>
    <div class="row"
         *ngIf="apartments">
      <ng-container *ngFor="let apartment of apartments">
        <app-apartment-item class="col-lg-6 py-3"
                            [apartment]="apartment"
                            [routerLink]="['/app/rentals/apartment', apartment._id]"></app-apartment-item>
      </ng-container>
    </div>
  </div>
  <div class="pages"
       *ngIf="apartments.length !== 0">
    <ngb-pagination class="d-flex justify-content-center"
                    [collectionSize]="page.totalPages * 10"
                    [(page)]="page.pageNumber"
                    [maxSize]="5"
                    [rotate]="true"
                    [boundaryLinks]="true"
                    (pageChange)="pageChange($event)"></ngb-pagination>
  </div>
  <div class="search-bar position-fixed">
    <form [formGroup]="searchForm"
          (ngSubmit)="submit()">
      <div class="close-bar justify-content-between align-items-center px-3 py-2 border-bottom d-flex">
        <i class="icon-close"
           (click)="toggled = false"></i>
        <button type="button"
                class="btn btn-clear btn-lg"
                (click)="clearAllFilters()">{{ 'COMMON.CLEAR_ALL_FILTERS' | translate }}</button>
      </div>
      <div class="search-name border-bottom p-3">
        <h4 class="d-sm-block d-none">{{ 'SEARCH.FILTERED_SEARCH' | translate }}</h4>
        <div class="form-group mt-sm-4">
          <label for="search" class="font-weight-bold">{{ 'SEARCH.SEARCH_IN' | translate }}:</label>
          <input ngx-google-places-autocomplete
                 id="search"
                 class="form-control border"
                 [options]="placeOptions"
                 (onAddressChange)="handleAddressChange($event)"
                 formControlName="address"
                 placeholder="{{ 'COMMON.ENTER_LOCATION' | translate }}">
        </div>
      </div>
      <div class="search-price px-3 pt-3">
        <label class="font-weight-bold">{{ 'SEARCH.PRICE_PER_MONTH' | translate }}:</label>
        <nouislider [connect]="true"
                    [min]="0"
                    [max]="2000000"
                    [step]="1000"
                    [formControl]="searchForm.controls.rentalFee"
                    [tooltips]="[true, true]"></nouislider>
      </div>
      <div class="search-features border-top p-3 d-block">
        <h6 class="font-size-lg mb-4">{{ 'SEARCH.MUST_HAVE_FEATURES' | translate }}:</h6>
        <div class="d-flex justify-content-between align-items-center pl-2 mb-3">
          <label for="furnish"
                 class="mb-0">{{ 'SEARCH.FURNISHED' | translate }}</label>
          <input type="checkbox"
                 id="furnish"
                 class="search-checkbox"
                 formControlName="furnished">
        </div>
        <div class="d-flex justify-content-between align-items-center pl-2 mb-3"
             formGroupName="dateOfMovingIn">
          <label for="availability"
                 class="mb-0">{{ 'SEARCH.IMMEDIATE_AVAILABILITY' | translate }}</label>
          <input type="checkbox"
                 id="availability"
                 class="search-checkbox"
                 formControlName="rightNow">
        </div>
        <button type="button"
                class="btn btn-outline-primary btn-lg w-100 mt-4"
                (click)="collapseFilters()">
          {{ 'SEARCH.ADD_MORE_FILTERS' | translate }}
          <i class="icon-caret align-middle ml-2"></i>
        </button>
        <ng-container *ngIf="moreFilters">
          <div class="pl-2 my-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <label for="typeOfBuilding"
                     class="mb-0">{{ 'APARTMENT.TYPE_OF_BUILDING' | translate }}</label>
              <input type="checkbox"
                     id="typeOfBuilding"
                     class="search-checkbox"
                     #typeOfBuilding
                     (change)="onChangeTypeOfBuilding($event)">
            </div>
            <ng-select [multiple]="true"
                       [closeOnSelect]="false"
                       formControlName="typeOfBuilding"
                       *ngIf="typeOfBuilding.checked">
              <ng-option *ngFor="let item of Object.values(apartmentConfig.typeOfBuilding) | selectTranslate | async | keyvalue: keepOrder"
                         [value]="[apartmentConfig.typeOfBuilding, item.key] | valueToKey">{{ item.value }}</ng-option>
            </ng-select>
          </div>
          <div class="pl-2 mb-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <label for="yearOfConstruction"
                     class="mb-0">{{ 'APARTMENT.YEAR_OF_CONSTRUCTION' | translate }}</label>
              <input type="checkbox"
                     id="yearOfConstruction"
                     class="search-checkbox"
                     #yearOfConstruction
                     (change)="onChangeYearOfConstruction($event)">
            </div>
            <ng-select [multiple]="true"
                       [closeOnSelect]="false"
                       formControlName="yearOfConstruction"
                       *ngIf="yearOfConstruction.checked">
              <ng-option *ngFor="let year of years"
                         [value]="year">{{ year }}</ng-option>
            </ng-select>
          </div>
          <div class="pl-2 mb-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <label for="stateOfApartment" class="mb-0">{{ 'APARTMENT.STATE_OF_APARTMENT' | translate }}</label>
              <input type="checkbox"
                     id="stateOfApartment"
                     class="search-checkbox"
                     #stateOfApartment
                     (change)="onChangeStateOfApartment($event)">
            </div>
            <ng-select [multiple]="true"
                       [closeOnSelect]="false"
                       formControlName="stateOfApartment"
                       *ngIf="stateOfApartment.checked">
              <ng-option *ngFor="let item of Object.values(apartmentConfig.stateOfApartment) | selectTranslate | async | keyvalue: keepOrder"
                         [value]="[apartmentConfig.stateOfApartment, item.key] | valueToKey">{{ item.value }}</ng-option>
            </ng-select>
          </div>
          <div class="pl-2 mb-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <label for="energyPerformanceCertificate"
                     class="mb-0">{{ 'APARTMENT.ENERGY_PERFORMANCE_CERTIFICATE' | translate }}</label>
              <input type="checkbox"
                     id="energyPerformanceCertificate"
                     class="search-checkbox"
                     #energyPerformanceCertificate
                     (change)="onChangeEnergyPerformanceCertificate($event)">
            </div>
            <ng-select [multiple]="true"
                       [closeOnSelect]="false"
                       formControlName="energyPerformanceCertificate"
                       *ngIf="energyPerformanceCertificate.checked">
              <ng-option *ngFor="let key of Object.keys(apartmentConfig.energyPerformanceCertificate)"
                         [value]="key">{{ apartmentConfig.energyPerformanceCertificate[key] }}</ng-option>
            </ng-select>
          </div>
          <div class="pl-2 mb-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <label for="floorsOfBuilding" class="mb-0">{{ 'APARTMENT.FLOORS_OF_THE_BUILDING' | translate }}</label>
              <input type="checkbox"
                     id="floorsOfBuilding"
                     class="search-checkbox"
                     #floorsOfBuilding
                     (change)="onChangeFloorsOfBuilding($event)">
            </div>
            <nouislider *ngIf="floorsOfBuilding.checked"
                        [connect]="true"
                        [min]="1"
                        [max]="100"
                        [step]="1"
                        [formControl]="searchForm.controls.floorsOfBuilding"
                        [tooltips]="[true, true]"></nouislider>
          </div>
          <div class="pl-2 mb-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <label for="floorsOfApartment"
                     class="mb-0">{{ 'APARTMENT.FLOOR_OF_THE_APARTMENT' | translate }}</label>
              <input type="checkbox"
                     id="floorsOfApartment"
                     class="search-checkbox"
                     #floorsOfApartment
                     (change)="onChangeFloorsOfApartment($event)">
            </div>
            <nouislider *ngIf="floorsOfApartment.checked"
                        [connect]="true"
                        [min]="1"
                        [max]="100"
                        [step]="1"
                        [formControl]="searchForm.controls.floorsOfApartment"
                        [tooltips]="[true, true]"></nouislider>
          </div>
          <div class="pl-2 mb-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <label for="size"
                     class="mb-0">{{ 'APARTMENT.SIZE_OF_THE_APARTMENT' | translate }} (m<sup>2</sup>)</label>
              <input type="checkbox"
                     id="size"
                     class="search-checkbox"
                     #size
                     (change)="onChangeSize($event)">
            </div>
            <nouislider *ngIf="size.checked"
                        [connect]="true"
                        [min]="1"
                        [max]="9999"
                        [step]="1"
                        [formControl]="searchForm.controls.size"
                        [tooltips]="[true, true]"></nouislider>
          </div>
          <div class="d-flex justify-content-between align-items-center pl-2 mb-3">
            <label for="elevator"
                   class="mb-0">{{ 'APARTMENT.ELEVATOR' | translate }}</label>
            <input type="checkbox"
                   id="elevator"
                   class="search-checkbox"
                   formControlName="elevator">
          </div>
          <div class="d-flex justify-content-between align-items-center pl-2 mb-3">
            <label for="rooftop" class="mb-0">{{ 'APARTMENT.ROOFTOP' | translate }}</label>
            <input type="checkbox"
                   id="rooftop"
                   class="search-checkbox"
                   formControlName="rooftop">
          </div>
          <div class="pl-2 mb-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <label for="buildingSiting"
                     class="mb-0">{{ 'APARTMENT.BUILDING_SITING' | translate }}</label>
              <input type="checkbox"
                     id="buildingSiting"
                     class="search-checkbox"
                     #buildingSiting
                     (change)="onChangeBuildingSiting($event)">
            </div>
            <ng-select [multiple]="true"
                       [closeOnSelect]="false"
                       formControlName="buildingSiting"
                       *ngIf="buildingSiting.checked">
              <ng-option *ngFor="let item of Object.values(apartmentConfig.buildingSiting) | selectTranslate | async | keyvalue: keepOrder"
                         [value]="[apartmentConfig.buildingSiting, item.key] | valueToKey">{{ item.value }}</ng-option>
            </ng-select>
          </div>
          <div class="pl-2 mb-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <label for="typeOfHeating"
                     class="mb-0">{{ 'APARTMENT.TYPE_OF_HEATING' | translate }}</label>
              <input type="checkbox"
                     id="typeOfHeating"
                     class="search-checkbox"
                     #typeOfHeating
                     (change)="onChangeTypeOfHeating($event)">
            </div>
            <ng-select [multiple]="true"
                       [closeOnSelect]="false"
                       formControlName="typeOfHeating"
                       *ngIf="typeOfHeating.checked">
              <ng-option *ngFor="let item of Object.values(apartmentConfig.typeOfHeating) | selectTranslate | async | keyvalue: keepOrder"
                         [value]="[apartmentConfig.typeOfHeating, item.key] | valueToKey">{{ item.value }}</ng-option>
            </ng-select>
          </div>
          <div class="pl-2 mb-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <label for="headroom" class="mb-0">{{ 'APARTMENT.HEADROOM' | translate }}</label>
              <input type="checkbox"
                     id="headroom"
                     class="search-checkbox"
                     #headroom
                     (change)="onChangeHeadroom($event)">
            </div>
            <ng-select [multiple]="true"
                       [closeOnSelect]="false"
                       formControlName="headroom"
                       *ngIf="headroom.checked">
              <ng-option *ngFor="let key of Object.keys(apartmentConfig.headroom)"
                         [value]="key">{{ apartmentConfig.headroom[key] }}</ng-option>
            </ng-select>
          </div>
          <div class="pl-2 mb-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <label for="parking"
                     class="mb-0">{{ 'APARTMENT.PARKING' | translate }}</label>
              <input type="checkbox"
                     id="parking"
                     class="search-checkbox"
                     #parking
                     (change)="onChangeParking($event)">
            </div>
            <ng-select [multiple]="true"
                       [closeOnSelect]="false"
                       formControlName="parking"
                       *ngIf="parking.checked">
              <ng-option *ngFor="let item of Object.values(apartmentConfig.parking) | selectTranslate | async | keyvalue: keepOrder"
                         [value]="[apartmentConfig.parking, item.key] | valueToKey">{{ item.value }}</ng-option>
            </ng-select>
          </div>
          <div class="pl-2 mb-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <label for="windowType"
                     class="mb-0">{{ 'APARTMENT.WINDOW_TYPE' | translate }}</label>
              <input type="checkbox"
                     id="windowType"
                     class="search-checkbox"
                     #windowType
                     (change)="onChangeWindowType($event)">
            </div>
            <ng-select [multiple]="true"
                       [closeOnSelect]="false"
                       formControlName="windowType"
                       *ngIf="windowType.checked">
              <ng-option *ngFor="let item of Object.values(apartmentConfig.windowType) | selectTranslate | async | keyvalue: keepOrder"
                         [value]="[apartmentConfig.windowType, item.key] | valueToKey">{{ item.value }}</ng-option>
            </ng-select>
          </div>
          <div class="d-flex justify-content-between align-items-center pl-2 mb-3">
            <label for="childFriendly"
                   class="mb-0">{{ 'APARTMENT.CHILD_FRIENDLY' | translate }}</label>
            <input type="checkbox"
                   id="childFriendly"
                   class="search-checkbox"
                   formControlName="childFriendly">
          </div>
          <div class="d-flex justify-content-between align-items-center pl-2 mb-3">
            <label for="petFriendly"
                   class="mb-0">{{ 'APARTMENT.PET_FRIENDLY' | translate }}</label>
            <input type="checkbox"
                   id="petFriendly"
                   class="search-checkbox"
                   formControlName="petFriendly">
          </div>
          <div class="pl-2 mb-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <label for="mediaServiceProviders"
                     class="mb-0">{{ 'APARTMENT.AVAILABLE_MEDIA_SERVICE_PROVIDERS' | translate }}</label>
              <input type="checkbox"
                     id="mediaServiceProviders"
                     class="search-checkbox"
                     #mediaServiceProviders
                     (change)="onChangeMediaServiceProviders($event)">
            </div>
            <ng-select *ngIf="mediaServiceProviders.checked"
                       [multiple]="true"
                       [closeOnSelect]="false"
                       formControlName="mediaServiceProviders">
              <ng-option *ngFor="let item of Object.values(apartmentConfig.availableMediaServiceProviders) | selectTranslate | async | keyvalue: keepOrder"
                         [value]="[apartmentConfig.availableMediaServiceProviders, item.key] | valueToKey">{{ item.value }}</ng-option>
            </ng-select>
          </div>
          <div class="d-flex justify-content-between align-items-center pl-2 mb-3">
            <label for="handicapAccessible"
                   class="mb-0">{{ 'APARTMENT.HANDICAP_ACCESSIBLE' | translate }}</label>
            <input type="checkbox"
                   id="handicapAccessible"
                   class="search-checkbox"
                   formControlName="handicapAccessible">
          </div>
          <div class="d-flex justify-content-between align-items-center pl-2 mb-3">
            <label for="externalIsolation"
                   class="mb-0">{{ 'APARTMENT.EXTERNAL_ISOLATION' | translate }}</label>
            <input type="checkbox"
                   id="externalIsolation"
                   class="search-checkbox"
                   formControlName="externalIsolation">
          </div>
          <div class="pl-2 mb-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <label for="balcony" class="mb-0">{{ 'APARTMENT.BALCONY' | translate }} (m<sup>2</sup>)</label>
              <input type="checkbox"
                     id="balcony"
                     class="search-checkbox"
                     formControlName="balcony"
                     (change)="onChangeBalcony()">
            </div>
            <nouislider *ngIf="searchForm.get('balcony').value"
                        [connect]="true"
                        [min]="0"
                        [max]="100"
                        [step]="1"
                        [formControl]="searchForm.controls.sizeOfBalcony"
                        [tooltips]="[true, true]"></nouislider>
          </div>
          <div class="pl-2 mb-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <label for="garden"
                     class="mb-0">{{ 'APARTMENT.GARDEN' | translate }} (m<sup>2</sup>)</label>
              <input type="checkbox"
                     id="garden"
                     class="search-checkbox"
                     formControlName="garden"
                     (change)="onChangeGarden()">
            </div>
            <nouislider *ngIf="searchForm.get('garden').value"
                        [connect]="true"
                        [min]="0"
                        [max]="5000"
                        [step]="1"
                        [formControl]="searchForm.controls.sizeOfGarden"
                        [tooltips]="[true, true]"></nouislider>
          </div>
          <div class="pl-2 mb-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <label for="terrace" class="mb-0">{{ 'APARTMENT.TERRACE' | translate }} (m<sup>2</sup>)</label>
              <input type="checkbox"
                     id="terrace"
                     class="search-checkbox"
                     formControlName="terrace"
                     (change)="onChangeTerrace()">
            </div>
            <nouislider *ngIf="searchForm.get('terrace').value"
                        [connect]="true"
                        [min]="1"
                        [max]="100"
                        [step]="1"
                        [formControl]="searchForm.controls.sizeOfTerrace"
                        [tooltips]="[true, true]"></nouislider>
          </div>
          <div class="d-flex justify-content-between align-items-center pl-2 mb-3">
            <label for="airConditioner"
                   class="mb-0">{{ 'APARTMENT.AIRCONDITIONER' | translate }}</label>
            <input type="checkbox"
                   id="airConditioner"
                   class="search-checkbox"
                   formControlName="airConditioner">
          </div>
          <div class="d-flex justify-content-between align-items-center pl-2 mb-3">
            <label for="garage"
                   class="mb-0">{{ 'APARTMENT.GARAGE' | translate }}</label>
            <input type="checkbox"
                   id="garage"
                   class="search-checkbox"
                   formControlName="garage">
          </div>
          <div class="pl-2 mb-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <label for="overhead"
                     class="mb-0">{{ 'COMMON.OVERHEAD' | translate }}</label>
              <input type="checkbox"
                     id="overhead"
                     class="search-checkbox"
                     #overhead
                     (change)="onChangeOverhead($event)">
            </div>
            <nouislider *ngIf="overhead.checked"
                        [connect]="true"
                        [min]="0"
                        [max]="1000000"
                        [step]="1000"
                        [formControl]="searchForm.controls.overhead"
                        [tooltips]="[true, true]"></nouislider>
          </div>
          <div class="pl-2 mb-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <label for="deposit"
                     class="mb-0">{{ 'APARTMENT.DEPOSIT' | translate }}</label>
              <input type="checkbox"
                     id="deposit"
                     class="search-checkbox"
                     #deposit
                     (change)="onChangeDeposit($event)">
            </div>
            <nouislider *ngIf="deposit.checked"
                        [connect]="true"
                        [min]="0"
                        [max]="2000000"
                        [step]="1000"
                        [formControl]="searchForm.controls.deposit"
                        [tooltips]="[true, true]"></nouislider>
          </div>
          <div class="pl-2 mb-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <label for="minimumRentingTime"
                     class="mb-0">{{ 'APARTMENT.MINIMUM_RENTING_TIME' | translate }} ({{ 'COMMON.MONTHS' | translate }})</label>
              <input type="checkbox"
                     id="minimumRentingTime"
                     class="search-checkbox"
                     #minimumRentingTime
                     (change)="onChangeMinimumRentingTime($event)">
            </div>
            <nouislider *ngIf="minimumRentingTime.checked"
                        [connect]="true"
                        [min]="0"
                        [max]="120"
                        [step]="1"
                        [formControl]="searchForm.controls.minimumRentingTime"
                        [tooltips]="[true, true]"></nouislider>
          </div>
        </ng-container>
      </div>
      <div class="p-3 d-block">
        <button type="submit"
                class="btn btn-primary btn-lg w-100">{{ 'COMMON.SEARCH' | translate }}</button>
      </div>
    </form>
  </div>
  <div class="overlay position-fixed"
       (click)="toggled = false"></div>
</div>
