@import "~src/assets/styles/scss/variables";

.my-offers {
  height: calc(100vh - 2rem);

  @include media-breakpoint-down(md) {
    height: calc(100vh - 2rem - 73px);
  }

  .icon-left-circle {
    font-size: 28px;
    color: $blue;
  }

  app-apartment-item {
    &:focus {
      outline: none;
    }

    button {
      left: -2px;
      bottom: -1rem;
    }
  }
}
