@import "~src/assets/styles/scss/variables";

.apartment-edit {
  .icon-left-circle {
    font-size: 28px;
    color: $blue;
  }

  .img-item {
    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    img {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      object-fit: cover;
      object-position: center;
    }

    .default {
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, .7);
      color: $white;
      cursor: pointer;
      visibility: hidden;
    }

    &:hover {
      .default {
        visibility: visible;
      }
    }
  }

  .icon-check-circle {
    font-size: 20px;
    top: -10px;
    left: 5px;
  }

  .icon-delete {
    font-size: 20px;
    top: -10px;
    right: 5px;
  }

  .rooms {
    h3 {
      @include media-breakpoint-down(xs) {
        font-size: $h4-font-size;
      }
    }

    .list-unstyled {
      li {
        color: $blue;

        .number {
          min-width: 1.4rem;
          height: 1.4rem;
          background-color: $blue;
          color: $white;
          cursor: pointer;
        }

        .icon-plus {
          font-size: 1.4rem;
          color: $blue;
          cursor: pointer;
        }
      }
    }
  }

  .unit {
    .mo {
      span {
        color: $blue;
      }
    }

    i {
      font-size: 1rem;
      color: $blue;
      vertical-align: middle;
    }
  }

  table {
    .custom-select {
      text-align-last: right;
    }

    .slider {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
}
