<form [formGroup]="apartmentDataSecondForm"
      (ngSubmit)="submit()">
  <table class="table mt-4">
    <tbody>
      <tr>
        <td class="border-top-0 py-0 align-middle">{{ 'APARTMENT.BUILDING_SITING' | translate }}</td>
        <td class="border-top-0 text-right py-0 pr-0">
          <select class="custom-select border-0"
                  formControlName="buildingSiting">
            <option [ngValue]="null">{{ 'COMMON.NOT_SELECTED' | translate }}</option>
            <option *ngFor="let key of Object.keys(apartmentConfig.buildingSiting)"
                    [value]="key">{{ apartmentConfig.buildingSiting[key] | translate }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.TYPE_OF_HEATING' | translate }}</td>
        <td class="text-right py-0 pr-0">
          <select class="custom-select border-0"
                  formControlName="typeOfHeating">
            <option [ngValue]="null">{{ 'COMMON.NOT_SELECTED' | translate }}</option>
            <option *ngFor="let key of Object.keys(apartmentConfig.typeOfHeating)"
                    [value]="key">{{ apartmentConfig.typeOfHeating[key] | translate }}</option>
          </select>
        </td>
      </tr>
      <tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.HEADROOM' | translate }}</td>
        <td class="text-right py-0 pr-0">
          <select class="custom-select border-0"
                  formControlName="headroom">
            <option [ngValue]="null">{{ 'COMMON.NOT_SELECTED' | translate }}</option>
            <option *ngFor="let key of Object.keys(apartmentConfig.headroom)"
                    [value]="key">{{ apartmentConfig.headroom[key] }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.PARKING' | translate }}</td>
        <td class="text-right py-0 pr-0">
          <select class="custom-select border-0"
                  formControlName="parking">
            <option [ngValue]="null">{{ 'COMMON.NOT_SELECTED' | translate }}</option>
            <option *ngFor="let key of Object.keys(apartmentConfig.parking)"
                    [value]="key">{{ apartmentConfig.parking[key] | translate }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.WINDOW_TYPE' | translate }}</td>
        <td class="text-right py-0 pr-0">
          <select class="custom-select border-0"
                  formControlName="windowType">
            <option [ngValue]="null">{{ 'COMMON.NOT_SELECTED' | translate }}</option>
            <option *ngFor="let key of Object.keys(apartmentConfig.windowType)"
                    [value]="key">{{ apartmentConfig.windowType[key] | translate }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'SEARCH.FURNISHED' | translate }}</td>
        <td class="text-right pr-0">
          <div class="switch">
            <input type="radio"
                   id="furnished1-no"
                   [value]="false"
                   formControlName="furnished">
            <label for="furnished1-no">{{ 'COMMON.NO' | translate }}</label>
            <input type="radio"
                   id="furnished1-na"
                   [value]="null"
                   formControlName="furnished">
            <label for="furnished1-na">{{ 'COMMON.NA' | translate }}</label>
            <input type="radio"
                   id="furnished1-yes"
                   [value]="true"
                   formControlName="furnished">
            <label for="furnished1-yes">{{ 'COMMON.YES' | translate }}</label>
            <span class="slider"></span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.CHILD_FRIENDLY' | translate }}</td>
        <td class="text-right pr-0">
          <div class="switch">
            <input type="radio"
                   id="childFriendly-no"
                   [value]="false"
                   formControlName="childFriendly">
            <label for="childFriendly-no">{{ 'COMMON.NO' | translate }}</label>
            <input type="radio"
                   id="childFriendly-na"
                   [value]="null"
                   formControlName="childFriendly">
            <label for="childFriendly-na">{{ 'COMMON.NA' | translate }}</label>
            <input type="radio"
                   id="childFriendly-yes"
                   [value]="true"
                   formControlName="childFriendly">
            <label for="childFriendly-yes">{{ 'COMMON.YES' | translate }}</label>
            <span class="slider"></span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.PET_FRIENDLY' | translate }}</td>
        <td class="text-right pr-0">
          <div class="switch">
            <input type="radio"
                   id="petFriendly-no"
                   [value]="false"
                   formControlName="petFriendly">
            <label for="petFriendly-no">{{ 'COMMON.NO' | translate }}</label>
            <input type="radio"
                   id="petFriendly-na"
                   [value]="null"
                   formControlName="petFriendly">
            <label for="petFriendly-na">{{ 'COMMON.NA' | translate }}</label>
            <input type="radio"
                   id="petFriendly-yes"
                   [value]="true"
                   formControlName="petFriendly">
            <label for="petFriendly-yes">{{ 'COMMON.YES' | translate }}</label>
            <span class="slider"></span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.AVAILABLE_MEDIA_SERVICE_PROVIDERS' | translate }}</td>
        <td class="text-right py-0 pr-0 w-50">
          <ng-select [multiple]="true"
                     [closeOnSelect]="false"
                     formControlName="mediaServiceProviders">
            <ng-option *ngFor="let item of Object.values(apartmentConfig.availableMediaServiceProviders) | selectTranslate | async | keyvalue: keepOrder"
                       [value]="[apartmentConfig.availableMediaServiceProviders, item.key] | valueToKey">{{ item.value }}</ng-option>
          </ng-select>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.HANDICAP_ACCESSIBLE' | translate }}</td>
        <td class="text-right pr-0">
          <div class="switch">
            <input type="radio"
                   id="handicapAccessible-no"
                   [value]="false"
                   formControlName="handicapAccessible">
            <label for="handicapAccessible-no">{{ 'COMMON.NO' | translate }}</label>
            <input type="radio"
                   id="handicapAccessible-na"
                   [value]="null"
                   formControlName="handicapAccessible">
            <label for="handicapAccessible-na">{{ 'COMMON.NA' | translate }}</label>
            <input type="radio"
                   id="handicapAccessible-yes"
                   [value]="true"
                   formControlName="handicapAccessible">
            <label for="handicapAccessible-yes">{{ 'COMMON.YES' | translate }}</label>
            <span class="slider"></span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.AIRCONDITIONER' | translate }}</td>
        <td class="text-right pr-0">
          <div class="switch">
            <input type="radio"
                   id="airConditioner-no"
                   [value]="false"
                   formControlName="airConditioner">
            <label for="airConditioner-no">{{ 'COMMON.NO' | translate }}</label>
            <input type="radio"
                   id="airConditioner-na"
                   [value]="null"
                   formControlName="airConditioner">
            <label for="airConditioner-na">{{ 'COMMON.NA' | translate }}</label>
            <input type="radio"
                   id="airConditioner-yes"
                   [value]="true"
                   formControlName="airConditioner">
            <label for="airConditioner-yes">{{ 'COMMON.YES' | translate }}</label>
            <span class="slider"></span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="py-0 align-middle">{{ 'APARTMENT.GARAGE' | translate }}</td>
        <td class="text-right pr-0">
          <div class="switch">
            <input type="radio"
                   id="garage-no"
                   [value]="false"
                   formControlName="garage">
            <label for="garage-no">{{ 'COMMON.NO' | translate }}</label>
            <input type="radio"
                   id="garage-na"
                   [value]="null"
                   formControlName="garage">
            <label for="garage-na">{{ 'COMMON.NA' | translate }}</label>
            <input type="radio"
                   id="garage-yes"
                   [value]="true"
                   formControlName="garage">
            <label for="garage-yes">{{ 'COMMON.YES' | translate }}</label>
            <span class="slider"></span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</form>
