<div class="email">
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" placeholder="Your email address:">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="terms">
    <label for="terms" class="form-check-label">By registering, I agree to  Renti’s <a href="#">Terms and Conditions</a></label>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="promotion">
    <label for="promotion" class="form-check-label">I agree to sign up for promotion emails  from Renti</label>
  </div>
</div>
