<div class="m-333">
  <button mat-raised-button class="mb-05" color="primary" (click)="goDetail({}, true)">Add Apartment</button>
</div>
<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-content class="p-0">
    <ngx-datatable
      class="material ml-0 mr-0"
      [rows]="items"
      columnMode="flex"
      [headerHeight]="50"
      [footerHeight]="50"
      [limit]="page.perPage"
      rowHeight="auto">
      <ngx-datatable-column name="Address" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.address}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Type Of Building" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.typeOfBuilding }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Year Of Construction" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.yearOfConstruction }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="State Of Apartment" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.stateOfApartment }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Size" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.size }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Rooms" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.rooms.length }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button mat-icon-button mat-sm-button color="primary" class="mr-1" (click)="goDetail(row._id)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)"><mat-icon>delete</mat-icon></button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </mat-card-content>
</mat-card>
