.language {
  top: 0;
  right: 4%;
  z-index: 2;

  .dropdown-menu {
    top: 100% !important;
    right: 0 !important;
    left: auto !important;
    transform: none !important;
  }

  .flag-icon {
    background-size: 100%;
  }
}
