<div ngbDropdown placement="bottom-right" class="position-absolute language">
  <button class="btn btn-outline-primary btn-sm" id="language" ngbDropdownToggle><span class="flag-icon  mr-2 {{currentLanguage.flag}}"></span>{{currentLanguage.name}}</button>
  <div ngbDropdownMenu aria-labelledby="language">
    <button ngbDropdownItem *ngFor="let language of availableLanguages" (click)="changeLanguage(language)"><span class="flag-icon  mr-2 {{language.flag}}"></span>{{language.name}}</button>
  </div>
</div>
