<div ngbDropdown
     class="position-absolute language">
  <button class="btn btn-outline-primary"
          id="language"
          ngbDropdownToggle>
    <span class="flag-icon mr-2 {{ currentLanguage.flag }}"></span>
    <span class="lang-name d-none d-sm-inline">{{ currentLanguage.name }}</span>
  </button>
  <div ngbDropdownMenu
       aria-labelledby="language">
    <button ngbDropdownItem
            *ngFor="let language of availableLanguages"
            (click)="changeLanguage(language)">
      <span class="flag-icon mr-2 {{ language.flag }}"></span>{{ language.name }}
    </button>
  </div>
</div>
