<div class="card">
  <div class="card-body">
    <p><ngb-progressbar [value]="50"
                        height="10px"></ngb-progressbar></p>
    <app-apartment-draw *ngIf="step == 0"
                        (nextStep)="onNextStep()"></app-apartment-draw>
    <app-apartment-room *ngIf="step == 1"
                        (roomFormValid)="disabled = !$event"></app-apartment-room>
    <app-apartment-upload *ngIf="step == 2"
                          (uploadValid)="disabled = !$event"></app-apartment-upload>
    <app-apartment-window *ngIf="step == 3"
                          (windowTypeFormValid)="disabled = !$event"></app-apartment-window>
    <app-apartment-data *ngIf="step == 4"
                        (apartmentDataValid)="disabled = !$event"></app-apartment-data>
    <div class="continue mt-sm-5 bg-white d-flex align-items-center">
      <span class="icon-left-circle mr-4"
            (click)="onPreviewStep()"
            *ngIf="step != 0"></span>
      <button class="btn btn-primary btn-lg w-100"
              (click)="onNextStep()"
              *ngIf="step != 0">{{ 'COMMON.CONTINUE' | translate }}</button>
    </div>
  </div>
</div>
