@import "~src/assets/styles/scss/variables";

.card {
  margin-bottom: 70px;

  .continue {
    @include media-breakpoint-down(xs) {
      position: fixed;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 15px;
      z-index: 1;
    }

    .icon-left-circle {
      font-size: 28px;
      cursor: pointer;
      color: $blue;

      &:before {
        display: block;
      }
    }
  }
}
