@import "~src/assets/styles/scss/variables";

.room-detail {
  .icon-fullscreen {
    font-size: 1rem;
    color: $blue;
  }

  .icon-left-circle {
    font-size: 28px;
    color: $blue;
  }

  .equipped {
    @include media-breakpoint-up(lg) {
      border: none;
    }
  }
}
