<div class="room-detail">
  <div class="back mb-4">
    <button class="btn btn-back"
            (click)="onBack()">
      <i class="icon-left h4 align-middle mb-0"></i>
      Vissza
    </button>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="room-name d-flex justify-content-between">
        <h4>Nappali</h4>
        <div class="square font-weight-bold">
          <i class="icon-fullscreen align-middle"></i>
          30 m<sup>2</sup>
        </div>
      </div>
      <div class="room-image mt-2">
        <img src="/assets/images/room/room1.png" alt="" class="img-room" width="100" height="100">
        <img src="/assets/images/room/room2.png" alt="" class="img-room" width="100" height="100">
      </div>
      <table class="table mt-2">
        <tbody>
          <tr>
            <td class="border-top-0">Felújítás éve:</td>
            <td class="border-top-0 font-weight-bold text-right">2011</td>
          </tr>
          <tr>
            <td>Burkolat:</td>
            <td class="font-weight-bold text-right">Laminált</td>
          </tr>
          <tr>
            <td>Ablak típusa:</td>
            <td class="font-weight-bold text-right">Műanyag hőszigetelt</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6 text-sm-right">
      <app-feedback></app-feedback>
      <div class="text-left">
        <div class="feedback mt-4">
          <div class="client">
            <span class="client-name font-weight-bold">Kelsey Taylor</span>
          </div>
          <p class="feedback-content mt-2">
            Peter has been really a lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          </p>
        </div>
        <div class="feedback mt-4">
          <div class="client">
            <span class="client-name font-weight-bold">Kate Tomlins</span>
          </div>
          <p class="feedback-content mt-2">
            We had a lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
