<mat-card class="p-0">
  <mat-card-title class="">
    <div class="card-title-text">{{ !roomId ? 'New Room' : 'Room Detail'}}</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <form *ngIf="itemForm" [formGroup]="itemForm" (ngSubmit)="submit()">
      <div fxLayout="row wrap" fxLayout.lt-sm="column">

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              type="text"
              name="name"
              formControlName="name"
              placeholder="Name">
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              type="number"
              name="size"
              formControlName="size"
              placeholder="Size(m2)">
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <input
              matInput
              type="number"
              name="yearOfRenovation"
              formControlName="yearOfRenovation"
              placeholder="The Year Of Renovation">
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <mat-label>Coverage</mat-label>
            <mat-select formControlName="coverage">
              <mat-option *ngFor="let value of roomConfig.coverageValues" [value]="value">{{value.toUpperCase()}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <mat-label>Window Type</mat-label>
            <mat-select formControlName="windowType">
              <mat-option *ngFor="let type of roomConfig.windowTypes" [value]="type">{{type.toUpperCase()}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pt-1 pr-1">
          <mat-slide-toggle formControlName="equipment">Equipment</mat-slide-toggle>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <textarea
              matInput
              name="furnitureNames"
              formControlName="furnitureNames"
              placeholder="Furniture Names (separate with new line)"
              rows="3"></textarea>
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-1">
          <mat-form-field class="full-width">
            <textarea
              matInput
              name="furnitureTypes"
              formControlName="furnitureTypes"
              placeholder="Furniture Types (separate with new line)"
              rows="3"></textarea>
          </mat-form-field>
        </div>

        <div fxFlex="100" class="pr-1">
          <div class="pictures-actions" fxLayout="row wrap" fxLayoutAlign="baseline center">
            <input type="file" #picturesChooser style="display: none" (change)="onFilesChange($event)" accept="image/png, image/jpeg, image/jpg" multiple/>
            <div fxLayout="row wrap" fxLayoutAlign="center center" (click)="picturesChooser.click()" style="cursor: pointer">
              <mat-icon>add_circle</mat-icon><span class="ml-05">Pictures</span>
            </div>
            <div *ngIf="newRoomPictures.length > 0" class="text-center ml-1">
              <button mat-raised-button type="button" (click)="uploadRoomPictures()" class="mat-primary mr-1" >Upload</button>
              <button mat-raised-button type="button" (click)="cancelRoomPictures()">Cancel</button>
            </div>
          </div>

          <div class="pt-05" fxLayout="row wrap">
            <div *ngFor="let roomPicture of itemForm.value.pictures; let index;" class="picture mb-05 mr-05 p-05 rounded">
              <button mat-icon-button color="warn" type="button" (click)="removeRoomPicture(index, false)"><mat-icon>remove_circle</mat-icon></button>
              <img [src]="uploadBase + roomPicture">
            </div>
            <div *ngFor="let previewPicture of previewNewRoomPictures; let index;" class="picture mb-05 mr-05 p-05 rounded">
              <button mat-icon-button color="warn" type="button" (click)="removeRoomPicture(index)"><mat-icon>remove_circle</mat-icon></button>
              <img [src]="previewPicture">
            </div>
          </div>
        </div>

        <div fxFlex="100" fxLayoutAlign="" class="mt-1">
          <button mat-raised-button color="primary" [disabled]="itemForm.invalid" (submit)="submit()">Save</button>
          <button mat-button color="warn" type="button" (click)="goBack()">Cancel</button>
        </div>
      </div>
    </form>

  </mat-card-content>
</mat-card>

