<div class="room-detail">
  <div class="back mb-4 mt-3 mt-sm-0">
    <button class="btn btn-back d-sm-block d-none"
            (click)="onBack()">
      <i class="icon-left h4 align-middle mb-0"></i>
      {{ 'COMMON.BACK' | translate }}
    </button>
    <i class="icon-left-circle d-sm-none"
       (click)="onBack()"></i>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="room-name d-flex justify-content-between">
        <h4>Nappali</h4>
        <div class="square font-weight-bold">
          <i class="icon-fullscreen align-middle"></i>
          30 m<sup>2</sup>
        </div>
      </div>
      <div class="room-image mt-2">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </div>
      <table class="table mt-2">
        <tbody>
        <tr>
          <td class="border-top-0">{{ 'APARTMENT.SIZE_OF_THE_ROOM' | translate }} (m<sup>2</sup>)</td>
          <td class="border-top-0 text-right font-weight-bold">9</td>
        </tr>
        <tr>
          <td>{{ 'APARTMENT.YEAR_OF_RENOVATION' | translate }}</td>
          <td class="text-right font-weight-bold">2019</td>
        </tr>
        <tr>
          <td>{{ 'APARTMENT.COVERAGE' | translate }}</td>
          <td class="text-right font-weight-bold">{{ 'COMMON.TILES' | translate }}</td>
        </tr>
        <tr>
          <td>{{ 'APARTMENT.WINDOW_TYPE' | translate }}</td>
          <td class="text-right font-weight-bold">{{ 'COMMON.PLASTIC' | translate }}</td>
        </tr>
        <tr>
          <td>{{ 'APARTMENT.EQUIPPED' | translate }}?</td>
          <td class="text-right font-weight-bold">{{ 'COMMON.YES' | translate }}</td>
        </tr>
        <tr>
          <td>{{ 'APARTMENT.FURNITURE_NAME' | translate }}</td>
          <td class="text-right font-weight-bold">Furniture</td>
        </tr>
        <tr>
          <td style="border-top-style: dashed;">{{ 'APARTMENT.FURNITURE_TYPE' | translate }}</td>
          <td class="text-right font-weight-bold"
              style="border-top-style: dashed">Room</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6 text-sm-right">
      <app-feedback></app-feedback>
      <div class="text-left">
        <div class="feedback mt-4">
          <div class="client">
            <span class="client-name font-weight-bold">Kelsey Taylor</span>
          </div>
          <p class="feedback-content mt-2">
            Peter has been really a lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          </p>
        </div>
        <div class="feedback mt-4">
          <div class="client">
            <span class="client-name font-weight-bold">Kate Tomlins</span>
          </div>
          <p class="feedback-content mt-2">
            We had a lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
