@import "~src/assets/styles/scss/variables";

.room-detail {
  .icon-fullscreen {
    font-size: 1rem;
    color: $blue;
  }

  .img-room {
    margin-right: .6rem;
    border-radius: $border-radius-lg;
    object-fit: cover;
    object-position: center center;
  }
}
