<div class="signup-info">
  <div class="form-group">
    <label for="gender">{{ 'COMMON.YOUR_GENDER' | translate }}:</label>
    <select name="gender" class="custom-select" id="gender">
      <option value="male">{{ 'COMMON.MALE' | translate }}</option>
      <option value="female">{{ 'COMMON.FEMALE' | translate }}</option>
    </select>
    <i class="icon-caret"></i>
  </div>
  <div class="form-group">
    <label for="monthly">{{ 'COMMON.MONTHLY_INCOME' | translate }}:</label>
    <select name="monthly" class="custom-select" id="monthly">
      <option value="">{{ 'COMMON.CHOOSE_MONTHLY_INCOME' | translate }}:</option>
    </select>
    <i class="icon-caret"></i>
  </div>
  <div class="form-group">
    <label>{{ 'COMMON.YOUR_DATE_OF_BIRTH' | translate }}:</label>
    <div class="form-row">
      <div class="form-group col">
        <select name="day" class="custom-select">
          <option value="">{{ 'COMMON.DAY' | translate }}</option>
        </select>
        <i class="icon-caret"></i>
      </div>
      <div class="form-group col">
        <select name="month" class="custom-select">
          <option value="">{{ 'COMMON.MONTH' | translate }}</option>
        </select>
        <i class="icon-caret"></i>
      </div>
      <div class="form-group col">
        <select name="year" class="custom-select">
          <option value="">{{ 'COMMON.YEAR' | translate }}</option>
        </select>
        <i class="icon-caret"></i>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="nationality">{{ 'COMMON.NATIONALITY' | translate }}:</label>
    <select name="monthly" class="custom-select" id="nationality">
      <option value="">{{ 'COMMON.CHOOSE_NATIONALITY' | translate }}</option>
    </select>
    <i class="icon-caret"></i>
  </div>
</div>
